[Desktop Entry]
Comment=Information about available protocols
Comment[af]=Informasie oor beskikbare protokolle
Comment[ar]=معلومات حول البروتوكولات المتوفرة
Comment[as]=উপলব্ধ আচাৰ বিধিৰ বিষয়ে তথ্য
Comment[be@latin]=Źviestki pra najaŭnyja pratakoły
Comment[bg]=Информация за поддържаните протоколи
Comment[bn]=বিভিন্ন প্রোটোকল সম্বন্ধে তথ্য
Comment[bn_IN]=উপলব্ধ প্রোটোকল সংক্রান্ত তথ্য
Comment[ca]=Informació sobre els protocols disponibles
Comment[ca@valencia]=Informació sobre els protocols disponibles
Comment[cs]=Informace o dostupných protokolech
Comment[csb]=Wëdowiédzô ò przëstãpnëch protokòłach
Comment[da]=Information om tilgængelige protokoller
Comment[de]=Information zu den verfügbaren Ein-/Ausgabemodulen
Comment[el]=Πληροφορίες για τα διαθέσιμα πρωτόκολλα
Comment[en_GB]=Information about available protocols
Comment[eo]=Informoj pri la uzeblaj protokoloj
Comment[es]=Información sobre los protocolos disponibles
Comment[et]=Olemasolevate protokollide info
Comment[eu]=Protokolo eskuragarriei buruzko informazioa
Comment[fi]=Tietoja saatavilla olevista yhteyskäytännöistä
Comment[fr]=Informations sur les protocoles disponibles
Comment[fy]=Ynformaasje oer de beskikbere protokollen
Comment[ga]=Eolas faoi na prótacail atá ar fáil
Comment[gl]=Información acerca dos protocolos dispoñíbeis
Comment[gu]=પ્રાપ્ત પ્રોટોકોલ્સ વિશે માહિતી
Comment[he]=מידע על הפרוטוקולים הזמינים
Comment[hi]=उपलब्ध प्रोटोकॉलों के बारे में जानकारी
Comment[hne]=मिलत प्रोटोकाल्स बर परिचय जानकारी
Comment[hr]=Informacije o raspoloživim protokolima
Comment[hsb]=Informacija wo přistupnych protokolach
Comment[hu]=A rendelkezésre álló protokollok jellemzői
Comment[ia]=Information circa protocollos disponibile
Comment[id]=Informasi tentang protokol yang tersedia
Comment[is]=Upplýsingar um nothæfar samskiptareglur
Comment[it]=Informazioni sui protocolli disponibili
Comment[ja]=利用可能なプロトコルの情報
Comment[kk]=Қол жектізер протоколдары туралы мәлімет
Comment[km]=ព័ត៌មាន​អំពី​ពិធីការ​ដែល​មាន
Comment[kn]=ಲಭ್ಯವಿರುವ ಪ್ರಕ್ರಮಗಳ (ಪ್ರೋಟೋಕಾಲ್) ಬಗೆಗೆ ಮಾಹಿತಿ
Comment[ko]=사용 가능한 프로토콜 정보
Comment[ku]=Agahiyên der barê protokolên heyî de
Comment[lt]=Informacija apie esamus protokolus
Comment[lv]=Informācija par pieejamajiem protokoliem
Comment[mai]=उपलब्ध प्रोटोकालक संबंधमे जानकारी
Comment[mk]=Информации за достапните протоколи
Comment[ml]=ലഭ്യമായ പ്രോട്ടോക്കോളുകളെ സംബന്ധിച്ച വിവരങ്ങള്‍
Comment[mr]=उपलब्ध शिष्टाचार विषयी माहिती
Comment[ms]=Maklumat tentang protokol yang boleh didapati
Comment[nb]=Informasjon om tilgjengelige protokoller
Comment[nds]=Informatschoon över verföögbor Protokollen
Comment[nl]=Informatie over de beschikbare protocollen
Comment[nn]=Informasjon om tilgjengelege protokollar
Comment[or]=ଉପଲବ୍ଧ ପ୍ରୋଟୋକଲଗୁଡ଼ିକ ବିଷୟରେ ସୂଚନା
Comment[pa]=ਉਪਲੱਬਧ ਪੋਟੋਕਾਲਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o dostępnych protokołach
Comment[pt]=Informação sobre os protocolos disponíveis
Comment[pt_BR]=Informações sobre os protocolos disponíveis
Comment[ro]=Informații despre protocoalele disponibile
Comment[ru]=Сведения о доступных протоколах
Comment[se]=Dieđut olamuttus protokollaid birra
Comment[si]=භාවිතයට ඇති ප්‍රොටොකෝල තොරතුරු
Comment[sl]=Podatki o razpoložljivih protokolih
Comment[sr]=Подаци о доступним протоколима
Comment[sr@ijekavian]=Подаци о доступним протоколима
Comment[sr@ijekavianlatin]=Podaci o dostupnim protokolima
Comment[sr@latin]=Podaci o dostupnim protokolima
Comment[sv]=Information om tillgängliga protokoll
Comment[ta]=கிடைக்கக்கூடிய நெறிகள் பற்றிய தகவல்
Comment[te]=అందుబాటులోని నిభందనల గురించి సమాచారం
Comment[tg]=Иттилоот оиди протоколҳои дастрасшуда
Comment[th]=ข้อมูลเกี่ยวกับโพรโทคอลที่มีอยู่
Comment[tr]=Kullanılabilir protokoller hakkında bilgiler
Comment[uk]=Інформація про доступні протоколи
Comment[uz]=Mavjud protokollar haqida maʼlumot
Comment[uz@cyrillic]=Мавжуд протоколлар ҳақида маълумот
Comment[wa]=Infôrmåcions so les protocoles di disponibes
Comment[x-test]=xxInformation about available protocolsxx
Comment[zh_CN]=可用协议的信息
Comment[zh_TW]=可用協定的資訊
X-DocPath=kinfocenter/protocols/index.html
Exec=kcmshell4 ioslaveinfo
Icon=help-about
X-KDE-Keywords=Protocol,IO slaves,Slaves,Network,Information,Timeout
X-KDE-Keywords[be]=Пратакол,Сетка,Звесткі,Тэрмін чакання,Protocol,IO slaves,Slaves,Network,Information,Timeout
X-KDE-Keywords[bg]=Keywords=информация, система, системна, протокол, протоколи, наличен, поддържан, Protocol, IO slaves, Slaves, Network, Information, Timeout
X-KDE-Keywords[ca]=Protocol,esclaus IO,Esclaus,Xarxa,Informació,Temps d'expiració
X-KDE-Keywords[cs]=Protokol,Vstupně/výstupní moduly,Síť,Informace,Časový limit
X-KDE-Keywords[csb]=Protokół,procedurë wé/wi,wëkonëjący dzéjaniô wé/wi,Séc,wëdowiédzô,Limit czasu
X-KDE-Keywords[cy]=Protocol,Gweision IO,Gweision,Rhwydwaith,Gwybodaeth,Goramser
X-KDE-Keywords[da]=Protokol,IO-slaver,Slaver,Netværk,Information,Tid,Udløb,Timeout
X-KDE-Keywords[de]=Protokolle,Information,Ein/Ausgabe,Ein-/Ausgabemodule,IO-Slaves,Netzwerk,Zeitlimit,Timeout
X-KDE-Keywords[el]=Πρωτόκολλο,slaves ΕΕ,Slaves,Δίκτυο,Πληροφορίες,Χρονικό όριο
X-KDE-Keywords[eo]=Protokolo,Enel-sklavoj,sklavoj,reto,informo,tempolimo
X-KDE-Keywords[es]=Protocolo,Slaves de E/S,Slaves,Red,Información,Tiempo límite
X-KDE-Keywords[et]=protokoll,IO-moodulid,moodulid,võrk,info,taimaut,aegumine
X-KDE-Keywords[eu]=Protocol,IO morroiak,Morroiak,Sarea,Informazioa,Denbora-muga
X-KDE-Keywords[fa]=قرارداد، IO slaves، Slaves، شبکه، اطلاعات، اتمام وقت
X-KDE-Keywords[fi]=Protokolla,Yhteyskäytäntö,KIO,KIO-palvelu,Verkko,Aikavalvonta,aikakatkaisu
X-KDE-Keywords[fr]=protocole,modules,entrées/sorties,réseau,informations,délai
X-KDE-Keywords[fy]=protocol,IO slaves,slaves,network,ynformaasje,timeout,netwurk,tiidslimyt
X-KDE-Keywords[gl]=Protocolo,escravos IO,Escravos,Rede,Información,Tempo de agarda,Timeout
X-KDE-Keywords[he]=פרוטוקול,רשת,מידע,זמן מוקצב, Protocol,IO slaves,Slaves,Network,Information,Timeout
X-KDE-Keywords[hr]=Protocol,IO slaves,Slaves,Network,Information,Timeout,Protokol,IO podčinjeni,Podčinjeni,Mreža,Podaci,Istek
X-KDE-Keywords[hu]=protokoll,KDE protokollok,protokoll,hálózat,információ,időtúllépés
X-KDE-Keywords[is]=Samskiptareglur,IO þrælar,þrælar,staðarnet,net,upplýsingar,útrunninn tími
X-KDE-Keywords[it]=protocollo,IO slave,slave,rete,informazioni,tempo massimo
X-KDE-Keywords[ja]=プロトコル,IO,スレイブ,スレーブ,ネットワーク,情報,タイムアウト
X-KDE-Keywords[km]=ពិធីការ IO slaves Slaves បណ្ដាញ ព័ត៌មាន អស់ពេល
X-KDE-Keywords[ko]=프로토콜, IO 슬레이브,네트워크,정보,시간 제한
X-KDE-Keywords[lt]=Protocol,IO slaves,Slaves,Network,Information,Timeout,protokolas,tinklas,informacija,laiko pasibaigimas
X-KDE-Keywords[lv]=Protokols,IO vergi,Vergi,Tīkls,Informācija,Noildze
X-KDE-Keywords[mk]=Protocol,IO slaves,Slaves,Network,Information,Timeout,Протокол,Мрежа,Информации,Истек на време
X-KDE-Keywords[nb]=Protokoll,IO-slaver,Slaver,Nettverk,Informasjon,Ventetid
X-KDE-Keywords[nds]=Protokoll,In-/Utgaavdeensten,IO,Deensten,Nettwark,Informatschoon,Timeout,Tietgrenz
X-KDE-Keywords[ne]=प्रोटोकल, आगत/निर्गत स्लाभ, स्लाभहरू, सञ्जाल, सूचना, समय समाप्त
X-KDE-Keywords[nl]=protocol,IO slaves,slaves,network,informatie,timeout,netwerk,tijdslimiet
X-KDE-Keywords[nn]=protokoll,IU-slavar,slavar,nettverk,informasjon,tidsgrense
X-KDE-Keywords[pa]=Protocol,IO slaves,Slaves,Network,Information,Timeout,ਪਰੋਟੋਕਾਲ,ਨੈਟਵਰਕ
X-KDE-Keywords[pl]=Protokół,procedury we/wy,wykonujący operacje we/wy,Sieć,Informacje,Limit czasu
X-KDE-Keywords[pt]=Protocolo,IO slaves,Slaves,Rede,Informações,Timeout,Tempo-limite
X-KDE-Keywords[pt_BR]=Protocolos,IO Slaves,Slaves,Rede,Informações,Timeout
X-KDE-Keywords[ro]=samba,dispozitive I/O,sclavi,reţea,informaţii
X-KDE-Keywords[se]=protokolla,SO-slávat,slávat,fierbmi,diehtu,dieđut,áigemearri
X-KDE-Keywords[sl]=protokol,podrejeni V/I,podrejeni,omrežje,podatki,zakasnitev
X-KDE-Keywords[sr]=Protocol,IO slaves,Slaves,Network,Information,Timeout,протокол,мрежа,информације,подаци,прековреме,У/И-захват
X-KDE-Keywords[sr@latin]=Protocol,IO slaves,Slaves,Network,Information,Timeout,protokol,mreža,informacije,podaci,prekovreme,U/I-zahvat
X-KDE-Keywords[sv]=Protokoll,I/O-slavar,Slavar,Nätverk,Information,Timeout,Tidsgräns
X-KDE-Keywords[ta]=நெறிமுறை,IO சேவகன்,சேவகன்கள்,வலைப்பின்னல்,தகவல்,நேரம் முடிந்தது
X-KDE-Keywords[th]=โปรโตคอล,IO slaves,Slaves,ระบบเครือข่าย,ข้อมูล,หมดเวลา
X-KDE-Keywords[tr]=protokol,G/Ç aracısı,aracı,Ağ,Bilgi,zaman aşımı
X-KDE-Keywords[uk]=протокол,підлеглі В/В,підлеглі,мережа,інформація,тайм-аут
X-KDE-Keywords[uz]=Протокол,КЧ-слейвлар,Слейвлар,Тармоқ,Маълумот,Таймаут
X-KDE-Keywords[vi]=Giao thức,Đày tớ Vào ra (VR),Đày tớ,mạng,Thông tin,Thời hạn
X-KDE-Keywords[wa]=Protocole,vårlets d' I/R,vårlets,ioslave,rantoele,infôrmåcion,tårdjaedje
X-KDE-Keywords[x-test]=xxProtocol,IO slaves,Slaves,Network,Information,Timeoutxx
X-KDE-Keywords[xh]=Imithetho elandelwayo,IO izicaka,Izicaka,Umsebenzi womtya,Ulwazi, Ixesha lokuphuma
X-KDE-Keywords[zh_CN]=Protocol,IO slaves,Slaves,Network,Information,Timeout,协议,网络,信息,超时
X-KDE-Keywords[zh_TW]=Protocol,IO slaves,Slaves,Network,Information,Timeout,協定,網路,資訊,作業逾時
Name=Protocols
Name[af]=Protokolle
Name[ar]=البروتوكولات
Name[as]=আচাৰ বিধি
Name[be]=Пратаколы
Name[be@latin]=Pratakoły
Name[bg]=Протоколи
Name[bn]=প্রোটোকল
Name[bn_IN]=প্রোটোকল
Name[br]=Komenadoù
Name[ca]=Protocols
Name[ca@valencia]=Protocols
Name[cs]=Protokoly
Name[csb]=Protokòłë
Name[cy]=Protocolau
Name[da]=Protokoller
Name[de]=Ein-/Ausgabemodule
Name[el]=Πρωτόκολλα
Name[en_GB]=Protocols
Name[eo]=Protokoloj
Name[es]=Protocolos
Name[et]=IO-moodulid
Name[eu]=Protokoloak
Name[fa]=قراردادها
Name[fi]=Yhteyskäytännöt
Name[fr]=Protocoles
Name[fy]=Protokollen
Name[ga]=Prótacail
Name[gl]=Protocolos
Name[gu]=પ્રોટોકોલ્સ
Name[he]=פרוטוקולים
Name[hi]=प्रोटोकॉल्स
Name[hne]=प्रोटोकाल्स
Name[hr]=Protokoli
Name[hsb]=Protokole
Name[hu]=Protokollok
Name[ia]=Protocollos
Name[id]=Protokol
Name[is]=Samskiptareglur
Name[it]=Protocolli
Name[ja]=プロトコル
Name[ka]=პროტოკოლები
Name[kk]=Протоколдар
Name[km]=ពិធីការ
Name[kn]=ಪ್ರಕ್ರಮಗಳು (ಪ್ರೋಟೋಕಾಲ್)
Name[ko]=프로토콜
Name[ku]=Protokol
Name[lt]=Protokolai
Name[lv]=Protokoli
Name[mai]=प्रोटोकाल
Name[mk]=Протоколи
Name[ml]=പ്രോട്ടോക്കോളുകള്‍
Name[mr]=शिष्टाचार
Name[ms]=Protokol
Name[nb]=Protokoller
Name[nds]=Protokollen
Name[ne]=प्रोटोकल
Name[nl]=Protocollen
Name[nn]=Protokollar
Name[oc]=Protocòls
Name[or]=ପ୍ରୋଟୋକଲଗୁଡ଼ିକ
Name[pa]=ਪਰੋਟੋਕਾਲ
Name[pl]=Protokoły
Name[pt]=Protocolos
Name[pt_BR]=Protocolos
Name[ro]=Protocoale
Name[ru]=Протоколы
Name[se]=Protokollat
Name[si]=ප්‍රොටොකෝල
Name[sl]=Protokoli
Name[sr]=Протоколи
Name[sr@ijekavian]=Протоколи
Name[sr@ijekavianlatin]=Protokoli
Name[sr@latin]=Protokoli
Name[sv]=Protokoll
Name[ta]=நெறிகள்
Name[te]=నిభందనలు
Name[tg]=Протоколҳо
Name[th]=โพรโทคอล
Name[tr]=Protokoller
Name[uk]=Протоколи
Name[uz]=Protokollar
Name[uz@cyrillic]=Протоколлар
Name[vi]=Giao thức
Name[wa]=Protocoles
Name[xh]=Umthetho olandelwayo
Name[x-test]=xxProtocolsxx
Name[zh_CN]=协议
Name[zh_TW]=協定
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-FactoryName=ioslaveinfo
X-KDE-Library=kcm_ioslaveinfo

X-KDE-ParentApp=kinfocenter

Categories=Qt;KDE;X-KDE-information;
