[Desktop Entry]
Icon=drive-removable-media-usb-pendrive
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmusb

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_usb
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#kcmusb

Name=USB Devices
Name[uk]=Пристрої USB
Name[x-test]=xxUSB Devicesxx

Comment=USB devices attached to this computer
Comment[uk]=Пристроїв USB, під'єднаних до комп'ютера
Comment[x-test]=xxUSB devices attached to this computerxx

X-KDE-Keywords=USB,devices,viewer,control
X-KDE-Keywords[uk]=USB,devices,viewer,control,пристрій,пристрої,перегляд,переглядач,керування,контроль
X-KDE-Keywords[x-test]=xxUSB,devices,viewer,controlxx

Categories=Qt;KDE;X-KDE-information;
