[Desktop Entry]
Icon=drive-removable-media-usb-pendrive
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmusb

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_usb
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#kcmusb

Name=USB Devices

Comment=USB devices attached to this computer

X-KDE-Keywords=USB,devices,viewer,control

Categories=Qt;KDE;X-KDE-information;
