[Desktop Entry]
Exec=kcmshell5 smbstatus
Icon=preferences-system-network-share-windows-status
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=network_information
X-KDE-Library=kcm_samba
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#smbstatus

Name=Samba Status

Comment=Samba status monitor

X-KDE-Keywords=SMB,SAMBA,Windows network,LAN,System Information
Categories=Qt;KDE;X-KDE-information;
