[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell smbstatus
Icon=samba
Type=Service
ServiceTypes=KCModule
DocPath=kinfocenter/samba/index.html


X-KDE-Library=samba
X-KDE-FactoryName=samba
X-KDE-ParentApp=kinfocenter

Name=Samba Status
Name[ar]=حالة Samba
Name[br]=Saviad Samba
Name[ca]=Estat de Samba
Name[cs]=Stav Samby
Name[csb]=Sztaus Samba
Name[cy]=Cyflwr Samba
Name[da]=Samba-status
Name[de]=Samba-Status
Name[el]=Κατάσταση samba
Name[eo]=Sambo-stato
Name[es]=Estado de Samba
Name[et]=Samba olek
Name[eu]=Sambaren egoera
Name[fa]=وضعیت Samba
Name[fi]=Samban tila
Name[fr]=État de Samba
Name[fy]=Samba-tastân
Name[ga]=Stádas Samba
Name[gl]=Estado de Samba
Name[he]=מצב Samba
Name[hr]=Stanje Sambe
Name[hu]=Samba
Name[is]=Staða Samba
Name[it]=Stato di Samba
Name[ja]=Samba の状態
Name[ka]=Samba-ს სტატუსი
Name[kk]=Samba сервері 
Name[km]=ស្ថានភាព Samba
Name[ko]=삼바 상태
Name[lt]=Samba būsena
Name[lv]=Samba Statuss
Name[mk]=Статус на Samba
Name[ms]=Status Samba
Name[nb]=Samba-status
Name[nds]=Samba-Status
Name[ne]=साम्बा वस्तुस्थिति
Name[nl]=Samba-status
Name[nn]=Samba-status
Name[pa]=ਸਾਂਬਾ ਸਥਿਤੀ
Name[pt]=Samba
Name[pt_BR]=Estado do Samba
Name[ro]=Stare Samba
Name[ru]=Сервер Samba
Name[se]=Samba stáhtus
Name[sl]=Status Sambe
Name[sr]=Статус Самбе
Name[sr@latin]=Status Sambe
Name[sv]=Samba-status
Name[ta]=சம்பா நிலை
Name[tg]=Шароити Samba
Name[tr]=Samba Servisi
Name[uk]=Стан Samba
Name[uz]=Samba'нинг ҳолати
Name[wa]=Estat di Samba
Name[x-test]=xxSamba Statusxx
Name[xh]=Isimo se Samba
Name[zh_TW]=Samba 狀態

Comment=Samba status monitor
Comment[ar]=مراقب حالة Samba
Comment[br]=Diskwel saviad Samba
Comment[ca]=Monitor de l'estat de Samba
Comment[cs]=Monitor stavu Samby
Comment[csb]=Mònitor stónu Sambë
Comment[cy]=Monitr cyflwr samba
Comment[da]=Overvågning af samba-status
Comment[de]=Samba-Statusmonitor
Comment[el]=Εποπτεία της Samba
Comment[eo]=Rigardilo por la stato de Sambo
Comment[es]=Monitor de estado de Samba
Comment[et]=Samba oleku monitooring
Comment[eu]=Sambaren egoeraren monitorea
Comment[fa]=نمایشگر وضعیت Samba
Comment[fi]=Samban tilan näyttö
Comment[fr]=Indicateur d'état de Samba
Comment[fy]=Sambatastânmonitor
Comment[gl]=Monitor do estado de Samba
Comment[he]=מידע על המצב של Samba
Comment[hr]=Nadzor stanje Sambe
Comment[hu]=Samba állapotmonitor
Comment[is]=Eftirlit með stöðu Samba
Comment[it]=Controllo dello stato di Samba
Comment[ja]=Samba の状態を監視します
Comment[ka]=Samba-ს სტატუსის მონიტორი
Comment[kk]=Samba күйін бақылау
Comment[km]=កម្មវិធី​ត្រួត​ពិនិត្យ​ស្ថានភាព Samba
Comment[ko]=삼바 상태 지켜보기
Comment[lt]=Samba būsenos monitorius
Comment[lv]=Sambas statusa monitors
Comment[mk]=Монитор на статусот на Samba
Comment[ms]=Monitor status Samba
Comment[nb]=Overvåking av Samba-status
Comment[nds]=Statuskieker för Samba
Comment[ne]=साम्बा वस्तुस्थिति मोनिटर
Comment[nl]=Sambastatusmonitor
Comment[nn]=Overvaking av Samba-status
Comment[pa]=ਸਾਂਬਾ ਸਥਿਤੀ ਨਿਗਰਾਨ
Comment[pl]=Monitor stanu Samby
Comment[pt]=Monitor do estado do Samba
Comment[pt_BR]=Monitor de estado do Samba
Comment[ro]=Monitorizează starea serverului Samba
Comment[ru]=Состояние сервера Samba
Comment[se]=Gozit Samba stáhtusa
Comment[sl]=Nadzornik stanja Sambe
Comment[sr]=Преглед статуса Самбе
Comment[sr@latin]=Pregled statusa Sambe
Comment[sv]=Övervakar Samba-status
Comment[ta]=சம்பா திரை நிலை
Comment[tg]=Назорати вазъияти Samba
Comment[tr]=Samba için durum izleyici
Comment[uk]=Монітор стану Samba
Comment[uz]=Samba'нинг ҳолатини назорат қилувчи восита
Comment[wa]=Corwaitoe di l' estat di Samba
Comment[x-test]=xxSamba status monitorxx
Comment[xh]=Umphathi wemeko we Samba
Comment[zh_TW]=Samba 狀態監視器

Keywords=SMB,SAMBA,Windows network,LAN,System Information
Keywords[af]=SMB,SAMBA,Windows network,LAN,System Informasie
Keywords[ar]=SMB,SAMBA,شبكة Windows,شبكة محلية,معلومات النظام
Keywords[be]=Сетка Windows,Сетка,Сістэмная інфармацыя,SMB,SAMBA,Windows network,LAN,System Information
Keywords[br]=SMB,SAMBA,rouedad Windows,LAN,titouroù reizhiad
Keywords[ca]=SMB,SAMBA,Xarxa Windows,LAN,Informació del sistema
Keywords[cs]=SMB,Samba,Síť Microsoft Windows,LAN,Informace o systému
Keywords[csb]=SMB,SAMBA,séc Windows,môlowô séc,LAN,wëdowiédzô ò systemie
Keywords[cy]=SMB,SAMBA,Rhwydwaith Windows,LAN,Gwybodaeth Cysawd
Keywords[da]=SMB,Samba,Windows-netværk,LAN,Systeminformation
Keywords[de]=SMB,Samba,Windows-Netzwerk,LAN,Systeminformation
Keywords[el]=SMB,SAMBA,Δίκτυο Windows,LAN,Πληροφορίες συστήματος
Keywords[eo]=SMB,Sambo,Vindozo,reto,LAN,sistemo,operaciumo,informo
Keywords[es]=SMB,SAMBA,Red Windows,LAN,Información del sistema
Keywords[et]=SMB,SAMBA,Windowsi võrk,LAN,Süsteemi info
Keywords[eu]=SMB,SAMBA,Windows sarea,LAN,Sistemaren informazioa
Keywords[fa]=SMB، SAMBA، ویندوز، شبکه، شبکۀ داخلی، اطلاعات سیستم
Keywords[fi]=SMB,SAMBA,Windows verkko,LAN,Järjestelmätiedot
Keywords[fr]=réseau Windows,réseau local,informations système,smb,samba,lan,windows
Keywords[fy]=SMB,SAMBA,Windows network,LAN,systeemynformaasje,Windows-netwurk
Keywords[ga]=SMB,SAMBA,Líonra Windows,LAN,líonra logánta,Eolas faoin Chóras
Keywords[gl]=SMB,SAMBA,Rede Windows,LAN,Información do Sistema
Keywords[he]=רשת מקומית,מידע מערכת,רשת Windows,SAMBA,SMB, SMB,SAMBA,Windows network,LAN,System Information
Keywords[hr]=SMB,SAMBA,Windows network,LAN,System Information,Windows mreža,mreža,podaci o sustavu
Keywords[hu]=SMB,Samba,Windows-hálózat,LAN,rendszerinformáció
Keywords[is]=Netdrif,windows net,kerfi,upplýsingar
Keywords[it]=SMB,SAMBA,Rete Windows,LAN,Rete locale,Informazioni sul sistema
Keywords[ja]=SMB,SAMBA,Windowsネットワーク,LAN,システムの情報
Keywords[km]=SMB,SAMBA,បណ្ដាញ Windows,បណ្ដាញ​មូលដ្ឋាន,ព័ត៌មាន​បណ្ដាញ
Keywords[ko]=SMB,SAMBA,Windows network,LAN,System Information,삼바,윈도우즈 네트웍,윈도우즈 네트워크,랜,시스템 정보
Keywords[lt]=SMB,SAMBA,Windows tinklas,LAN,Sistemos Informacija
Keywords[lv]=SMB,SAMBA,Windows tīkls,LAN,Sistēmas Informācija
Keywords[mk]=SMB,SAMBA,Windows network,LAN,System Information, Windows мрежа,Информации за системот,Виндоус мрежа
Keywords[nb]=SMB,SAMBA,Windows-nettverk,LAN,Systeminformasjon
Keywords[nds]=SMB,SAMBA,Windowsnettwark,LAN,Systeeminformatschoon
Keywords[ne]=SMB,SAMBA, सञ्झ्याल सञ्जाल,LAN, प्रणाली सूचना
Keywords[nl]=SMB,SAMBA,Windows network,LAN,systeeminformatie,Windows-netwerk
Keywords[nn]=SMB,SAMBA,Windows-nettverk,LAN,systeminformasjon
Keywords[pa]=SMB,SAMBA,Windows network,LAN,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Keywords[pl]=SMB,SAMBA,sieć Windows,sieć lokalna,LAN,informacja o systemie
Keywords[pt]=SMB,SAMBA,rede Windows,LAN,informações de sistema
Keywords[pt_BR]=SMB,Samba,Rede Windows,LAN,Informações de sistema
Keywords[ro]=SMB,SAMBA,reţea Windows,LAN,informaţii despre sistem
Keywords[se]=SMB,SAMBA,Windows-fierbmi,LAN,vuogádatdiehtu
Keywords[sl]=SMB,SAMBA,omrežje Windows,LAN,informacije o sistemu
Keywords[sr]=SMB,SAMBA,Windows network,LAN,System Information,мрежа,системске информације
Keywords[sr@latin]=SMB,SAMBA,Windows network,LAN,System Information,mreža,sistemske informacije
Keywords[sv]=SMB,Samba,Windows nätverk,LAN,Systeminformation
Keywords[ta]=SMB,சாம்பா,சாளரங்களின் வலை,LAN,அமைப்பு தகவல்
Keywords[tr]=SMB,SAMBA,Pencere ağı,LAN,Sistem Hakkında Bilgi
Keywords[uk]=SMB,SAMBA,мережа Windows,lan,ЛОМ,системна інформація
Keywords[uz]=SMB,SAMBA,Windows тармоғи,Тизим ҳақида маълумот,LAN
Keywords[wa]=SMB,SAMBA,rantoele Windows,LAN,rantoele locåle,informåcion do sistinme
Keywords[x-test]=xxSMB,SAMBA,Windows network,LAN,System Informationxx
Keywords[xh]=SMB,SAMBA,umsebenzi womnatha wee window,LAN,Ulwazi lwendlela yokusebenza
Keywords[zh_TW]=SMB,SAMBA,Windows network,LAN,System Information,Windows 網路,區域網路,系統資訊
Categories=Qt;KDE;X-KDE-information;
