[Desktop Entry]
Exec=kcmshell4 kcmsolidproc
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=cpu

X-KDE-Library=kcm_solidproc
X-KDE-ParentApp=kinfocenter

Name=Processor Information
Name[af]=Verwerker informasie 
Name[ar]=معلومات المعالج
Name[as]=সংসাধকৰ তথ্য
Name[be@latin]=Źviestki ab pracesary
Name[bg]=Информация за процесора
Name[bn]=প্রসেসর তথ্য
Name[bn_IN]=প্রসেসর সংক্রান্ত তথ্য
Name[ca]=Informació del processador
Name[ca@valencia]=Informació del processador
Name[cs]=Informace o procesoru
Name[csb]=Wëdowiédzô ò procesorze
Name[da]=Processorinformation
Name[de]=Informationen zum Prozessor
Name[el]=Πληροφορίες επεξεργαστή
Name[en_GB]=Processor Information
Name[eo]=Informoj pri procesoro
Name[es]=Información sobre el procesador
Name[et]=Protsessori info
Name[eu]=Prozesagailuari buruzko informazioa
Name[fi]=Suoritintiedot
Name[fr]=Informations sur les processeurs
Name[fy]=Ferwurkingsienheid ynformaasje
Name[ga]=Eolas Faoin Phróiseálaí
Name[gl]=Información do procesador
Name[gu]=પ્રોસેસર માહિતી
Name[he]=מידע על המעבד
Name[hi]=प्रोसेसर जानकारी
Name[hne]=प्रोसेसर जानकारी
Name[hr]=Processor Information
Name[hsb]=Informacija wo procesoru
Name[hu]=A processzor jellemzői
Name[id]=Informasi Prosesor
Name[is]=Upplýsingar um örgjörva
Name[it]=Informazioni sul processore
Name[ja]=プロセッサ
Name[kk]=Процессор мәліметі
Name[km]=ព័ត៌មាន​ប្រព័ន្ធ​ដំណើរការ
Name[kn]=ಸಂಸ್ಕಾರಕದ (ಪ್ರೋಸಸರ್) ಮಾಹಿತಿ
Name[ko]=프로세서 정보
Name[ku]=Agahiyên Kirarê
Name[lt]=Procesoriaus informacija
Name[lv]=Procesora informācija
Name[mai]=प्रोसेसरक सूचना
Name[mk]=Информации за процесорот
Name[ml]=പ്രൊസസ്സറിന്റെ വിവരങ്ങള്‍
Name[mr]=प्रोसेसर माहिती
Name[ms]=Maklumat Pemproses
Name[nb]=Prosessorinformasjon
Name[nds]=Informatschoon över den Perzesser
Name[nl]=Processorinformatie
Name[nn]=Prosessorinformasjon
Name[or]=ସଞ୍ଚାଳକ ସୂଚନା
Name[pa]=ਪਰੋਸੈਸਰ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o procesorze
Name[pt]=Informação do Processador
Name[pt_BR]=Informações do Processador
Name[ro]=Informații despre microprocesor
Name[ru]=Сведения о процессоре
Name[se]=Doaimmárdieđut
Name[si]=සකසනයේ තොරතුරු
Name[sk]=Informácie o procesore
Name[sl]=Podatki o procesorju
Name[sr]=Подаци о процесору
Name[sr@ijekavian]=Подаци о процесору
Name[sr@ijekavianlatin]=Podaci o procesoru
Name[sr@latin]=Podaci o procesoru
Name[sv]=Processorinformation
Name[ta]=ஆக்கி தகவல்
Name[te]=ప్రాసెసర్ సమాచారం
Name[tg]=Иттилооти оиди амалкард
Name[th]=ข้อมูลตัวประมวลผล
Name[tr]=İşlemci Bilgileri
Name[uk]=Інформація про процесор
Name[uz]=Protsessor haqida maʼlumot
Name[uz@cyrillic]=Процессор ҳақида маълумот
Name[wa]=Infôrmåcion sol processeu
Name[x-test]=xxProcessor Informationxx
Name[zh_CN]=处理器信息
Name[zh_TW]=處理器資訊

Comment=Processor Information
Comment[af]=Verwerker informasie 
Comment[ar]=معلومات المعالج
Comment[as]=সংসাধকৰ তথ্য
Comment[be@latin]=Źviestki ab pracesary
Comment[bg]=Информация за процесора
Comment[bn]=প্রসেসর সম্বন্ধে তথ্য
Comment[bn_IN]=প্রসেসর সংক্রান্ত
Comment[ca]=Informació quant al processador
Comment[ca@valencia]=Informació quant al processador
Comment[cs]=Informace o procesoru
Comment[csb]=Wëdowiédzô ò procesorze
Comment[da]=Processorinformation
Comment[de]=Informationen zum Prozessor
Comment[el]=Πληροφορίες επεξεργαστή
Comment[en_GB]=Processor Information
Comment[eo]=Informoj pri procesoro
Comment[es]=Información sobre el procesador
Comment[et]=Protsessori info
Comment[eu]=Prozesagailuari buruzko informazioa
Comment[fi]=Tietoja suorittimesta
Comment[fr]=Informations sur les processeurs
Comment[fy]=Ferwurkingsienheid ynformaasje
Comment[ga]=Eolas Faoin Phróiseálaí
Comment[gl]=Información do procesador
Comment[gu]=પ્રોસેસર માહિતી
Comment[he]=מידע על המעבד
Comment[hi]=प्रोसेसर जानकारी
Comment[hne]=प्रोसेसर जानकारी
Comment[hr]=Informacije o procesoru
Comment[hsb]=Informacija wo procesoru
Comment[hu]=A processzor jellemzői
Comment[id]=Informasi Prosesor
Comment[is]=Upplýsingar um örgjörva
Comment[it]=Informazioni sul processore
Comment[ja]=プロセッサの情報
Comment[kk]=Процессор мәліметі
Comment[km]=ព័ត៌មាន​អំពី​ប្រព័ន្ធ​ដំណើរការ
Comment[kn]=ಸಂಸ್ಕಾರಕದ (ಪ್ರೋಸಸರ್) ಮಾಹಿತಿ
Comment[ko]=프로세서 정보
Comment[ku]=Agahiyên Kirarê
Comment[lt]=Procesoriaus informacija
Comment[lv]=Procesora informācija
Comment[mai]=प्रोसेसरक सूचना
Comment[mk]=Информации за процесорот
Comment[ml]=പ്രൊസസ്സറിന്റെ വിവരങ്ങള്‍
Comment[mr]=प्रोसेसर माहिती
Comment[ms]=Maklumat Pemproses
Comment[nb]=Prosessorinformasjon
Comment[nds]=Informatschoon över den Perzesser
Comment[nl]=Processorinformatie
Comment[nn]=Prosessorinformasjon
Comment[or]=ସଞ୍ଚାଳକ ସୂଚନା
Comment[pa]=ਪਰੋਸੈਸਰ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o procesorze
Comment[pt]=Informação do Processador
Comment[pt_BR]=Informações do Processador
Comment[ro]=Informații despre microprocesor
Comment[ru]=Сведения о процессоре
Comment[se]=Doaimmárdieđut
Comment[si]=සකසනයේ තොරතුරු
Comment[sk]=Informácie o procesore
Comment[sl]=Podatki o procesorju
Comment[sr]=Подаци о процесору
Comment[sr@ijekavian]=Подаци о процесору
Comment[sr@ijekavianlatin]=Podaci o procesoru
Comment[sr@latin]=Podaci o procesoru
Comment[sv]=Processorinformation
Comment[ta]=ஆக்கி தகவல்
Comment[te]=ప్రాసెసర్ సమాచారం
Comment[tg]=Иттилоот оиди амалкард
Comment[th]=ข้อมูลหน่วยประมวลผล
Comment[tr]=İşlemci Bilgileri
Comment[uk]=Інформація про процесор
Comment[uz]=Protsessor haqida maʼlumot
Comment[uz@cyrillic]=Процессор ҳақида маълумот
Comment[wa]=Infôrmåcion sol processeu
Comment[x-test]=xxProcessor Informationxx
Comment[zh_CN]=处理器信息
Comment[zh_TW]=處理器資訊

Categories=Qt;KDE;X-KDE-information;
