[Desktop Entry]
Exec=kinfocenter
Icon=hwinfo
Type=Application
X-DocPath=kinfocenter/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=KInfoCenter
Name[uk]=KInfoCenter
Name[x-test]=xxKInfoCenterxx
GenericName=Info Center
GenericName[uk]=Центр інформації
GenericName[x-test]=xxInfo Centerxx

X-DBUS-StartupType=Unique
Categories=Qt;KDE;System;
