[Desktop Entry]
Name=File Indexer Monitor
Comment=File Index Monitor
Icon=baloo
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Pinak Ahuja
X-KDE-PluginInfo-Email=pinak.ahuja@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fileindexermonitor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
