[Desktop Entry]
Name=File Indexer Monitor
Name[ca]=Controlador de l'indexador de fitxers
Name[en_GB]=File Indexer Monitor
Name[es]=Monitor del indexador de archivos
Name[fi]=Tiedostoindeksoijan valvonta
Name[it]=Monitor indicizzatore di file
Name[nl]=Monitor voor bestandenindexering
Name[nn]=Overvaking av filindeksering
Name[pl]=Monitor indeksowania plików
Name[pt]=Monitor de Indexação de Ficheiros
Name[pt_BR]=Monitor de Indexação de Arquivos
Name[uk]=Монітор засобу індексування файлів
Name[x-test]=xxFile Indexer Monitorxx
Comment=File Index Monitor
Comment[ca]=Controlador de l'índex de fitxers
Comment[en_GB]=File Index Monitor
Comment[es]=Monitor del índice de archivos
Comment[fi]=Tiedostoindeksoijan valvonta
Comment[it]=Controllo indicizzazione file
Comment[nl]=Monitor voor bestandenindex
Comment[nn]=Filindekseringsovervaking
Comment[pl]=Monitor indeksowania plików
Comment[pt]=Monitor da Indexação de Ficheiros
Comment[pt_BR]=Monitor da indexação de arquivos
Comment[uk]=Монітор індексування файлів
Comment[x-test]=xxFile Index Monitorxx
Icon=baloo
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Pinak Ahuja
X-KDE-PluginInfo-Email=pinak.ahuja@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_fileindexermonitor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
