# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Icon=video-display
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_vulkan
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=desktop
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=main.qml

Name=Vulkan
Name[ca]=Vulkan
Name[cs]=Vulkan
Name[es]=Vulkan
Name[nl]=Vulkan
Name[sv]=Vulkan
Name[uk]=Vulkan
Name[x-test]=xxVulkanxx

Comment=Vulkan graphics API information
Comment[ca]=Informació de la API gràfica Vulkan
Comment[cs]=Informace o grafickém API Vulkan
Comment[es]=Información de la API de gráficos Vulkan
Comment[nl]=Vulkan grafische API-informatie
Comment[sv]=Information om Vulkan grafiskt programmeringsgränssnitt
Comment[uk]=Далі щодо графічного програмного інтерфейсу Vulkan
Comment[x-test]=xxVulkan graphics API informationxx

X-KDE-Keywords=Vulkan,VideoCard,Hardware Acceleration,Graphics
X-KDE-Keywords[ca]=Vulkan,Targeta de vídeo,Acceleració per maquinari,Gràfics
X-KDE-Keywords[cs]=Vulkan,grafická karta,hardwarová akcelerace,grafika
X-KDE-Keywords[es]=Vulkan,Tarjeta de vídeo,Tarjeta de video,Aceleración por hardware,Gráficos
X-KDE-Keywords[nl]=Vulkan,Videokaart,Hardware versnelling,grafische zaken
X-KDE-Keywords[sv]=Vulkan,Videokort,Hårdvaruacceleration,Grafik
X-KDE-Keywords[uk]=Vulkan,VideoCard,Hardware Acceleration,Graphics,вулкан,відеокартка,апаратне прискорення,графіка
X-KDE-Keywords[x-test]=xxVulkanxx,xxVideoCardxx,xxHardware Accelerationxx,xxGraphicsxx

