[Desktop Entry]
Name=Samba Status
Type=Service
Icon=preferences-system-network-sharing
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-Name=kcmsamba
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-KDE-PluginInfo-License=GPL
X-Plasma-MainScript=main.qml
