[Desktop Entry]
Name=Samba Status
Name[af]=Samba Status
Name[ar]=حالة سامبا
Name[as]=Samba ৰ অৱস্থা
Name[ast]=Estáu de SAMBA
Name[az]=Samba serveri
Name[be]=Стан Samba
Name[be@latin]=Stanovišča słužby „Samba”
Name[bg]=Сървър Samba
Name[bn]=সাম্বা স্ট্যাটাস
Name[bn_IN]=Samba-র অবস্থা
Name[br]=Saviad Samba
Name[bs]=Stanje Sambe
Name[ca]=Estat de Samba
Name[ca@valencia]=Estat de Samba
Name[cs]=Stav Samby
Name[csb]=Sztaus Samba
Name[cy]=Cyflwr Samba
Name[da]=Samba-status
Name[de]=Samba-Status
Name[el]=Κατάσταση samba
Name[en_GB]=Samba Status
Name[eo]=Samba stato
Name[es]=Estado de Samba
Name[et]=Samba olek
Name[eu]=Samba-ren egoera
Name[fa]=وضعیت Samba
Name[fi]=Samban tila
Name[fr]=État de Samba
Name[fy]=Samba-tastân
Name[ga]=Stádas Samba
Name[gl]=Estado de Samba
Name[gu]=સામ્બા સ્થિતિ
Name[he]=מצב Samba
Name[hi]=साम्बा स्थिति
Name[hne]=साम्बा स्थिति
Name[hr]=Stanje Sambe
Name[hsb]=Samba status
Name[hu]=Samba
Name[ia]=Stato de Samba
Name[id]=Status Samba
Name[is]=Staða Samba
Name[it]=Stato di Samba
Name[ja]=Samba の状態
Name[ka]=Samba-ს სტატუსი
Name[kk]=Samba сервері 
Name[km]=ស្ថានភាព​ Samba
Name[kn]=ಸಾಂಬಾ ಸ್ಥಿತಿಗತಿ
Name[ko]=삼바 상태
Name[ku]=Rewşa Sambayê
Name[lt]=Samba būsena
Name[lv]=Samba statuss
Name[mai]=साम्बा स्थिति
Name[mk]=Статус на Samba
Name[ml]=സാംബാ സ്ഥിതിവിവരം
Name[mr]=साम्बा स्थिति
Name[ms]=Status Samba
Name[nb]=Samba-status
Name[nds]=Samba-Status
Name[ne]=साम्बा वस्तुस्थिति
Name[nl]=Samba-status
Name[nn]=Samba-status
Name[or]=ସାମ୍ବା ସ୍ଥିତି
Name[pa]=ਸਾਂਬਾ ਹਾਲਤ
Name[pl]=Stan Samby
Name[pt]=Estado do Samba
Name[pt_BR]=Estado do Samba
Name[ro]=Stare Samba
Name[ru]=Сервер Samba
Name[se]=Samba stáhtus
Name[si]=සම්බා තත්ත්වය
Name[sk]=Stav Samby
Name[sl]=Stanje Sambe
Name[sr]=Стање Самбе
Name[sr@ijekavian]=Стање Самбе
Name[sr@ijekavianlatin]=Stanje Sambe
Name[sr@latin]=Stanje Sambe
Name[sv]=Samba-status
Name[ta]=சம்பா நிலை
Name[te]=సాంబా స్థితి
Name[tg]=Вазъияти Samba
Name[th]=สถานะของ Samba
Name[tr]=Samba Servisi
Name[ug]=Samba ھالىتى
Name[uk]=Стан Samba
Name[uz]=Samba'ning holati
Name[uz@cyrillic]=Samba'нинг ҳолати
Name[vi]=Trạng thái Samba
Name[wa]=Estat di Samba
Name[xh]=Isimo se Samba
Name[x-test]=xxSamba Statusxx
Name[zh_CN]=SAMBA 状态
Name[zh_TW]=Samba 狀態
Type=Service
Icon=preferences-system-network-sharing
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-Name=kcmsamba
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-KDE-PluginInfo-License=GPL
X-Plasma-MainScript=main.qml
