[Desktop Entry]
Exec=kcmshell5 opengl
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=video-display

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_opengl
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#opengl

Name=OpenGL
Name[uk]=OpenGL
Name[x-test]=xxOpenGLxx

Comment=OpenGL information
Comment[uk]=Інформація про OpenGL
Comment[x-test]=xxOpenGL informationxx

X-KDE-Keywords=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
X-KDE-Keywords[uk]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,відео,картка,відеокартка,прискорення,апаратне,графіка,дисплей,показ,сервер,графічний
X-KDE-Keywords[x-test]=xxOpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Displayxx

Categories=Qt;KDE;X-KDE-information;
