[Desktop Entry]
Exec=kcmshell4 opengl
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=video-display

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_opengl
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#opengl

Name=OpenGL
Name[af]=OpenGL
Name[ar]=OpenGL
Name[as]=OpenGL
Name[ast]=OpenGL
Name[be]=OpenGL
Name[be@latin]=OpenGL
Name[bg]=OpenGL
Name[bn]=ওপেন-জি-এল
Name[bn_IN]=OpenGL
Name[br]=OpenGL
Name[bs]=OpenGL
Name[ca]=OpenGL
Name[ca@valencia]=OpenGL
Name[cs]=OpenGL
Name[csb]=OpenGL
Name[cy]=OpenGL
Name[da]=OpenGL
Name[de]=OpenGL
Name[el]=OpenGL
Name[en_GB]=OpenGL
Name[eo]=OpenGL
Name[es]=OpenGL
Name[et]=OpenGL
Name[eu]=OpenGL
Name[fi]=OpenGL
Name[fr]=OpenGL
Name[fy]=OpenGL
Name[ga]=OpenGL
Name[gl]=OpenGL
Name[gu]=OpenGL
Name[he]=OpenGL
Name[hi]=ओपन-जीएल
Name[hne]=ओपन-जीएल
Name[hr]=OpenGL
Name[hsb]=OpenGL
Name[hu]=OpenGL
Name[ia]=OpenGL
Name[id]=OpenGL
Name[is]=OpenGL
Name[it]=OpenGL
Name[ja]=OpenGL
Name[ka]=OpenGL
Name[kk]=OpenGL
Name[km]=OpenGL
Name[kn]=ಓಪನ್ ಜೆಎಲ್
Name[ko]=OpenGL
Name[ku]=OpenGL
Name[lt]=OpenGL
Name[lv]=OpenGL
Name[mai]=ओपन-जीएल
Name[mk]=OpenGL
Name[ml]=ഓപ്പണ്‍ജിഎല്‍
Name[mr]=OpenGL
Name[ms]=OpenGL
Name[nb]=OpenGL
Name[nds]=OpenGL
Name[ne]=खुला जीएल
Name[nl]=OpenGL
Name[nn]=OpenGL
Name[oc]=OpenGL
Name[or]=OpenGL
Name[pa]=OpenGL
Name[pl]=OpenGL
Name[pt]=OpenGL
Name[pt_BR]=OpenGL
Name[ro]=OpenGL
Name[ru]=OpenGL
Name[se]=OpenGL
Name[si]=OpenGL
Name[sk]=OpenGL
Name[sl]=OpenGL
Name[sr]=ОпенГЛ
Name[sr@ijekavian]=ОпенГЛ
Name[sr@ijekavianlatin]=OpenGL
Name[sr@latin]=OpenGL
Name[sv]=OpenGL
Name[ta]=ஓபன் ஜிஎல்
Name[te]=ఓపెన్ జిఎల్
Name[tg]=OpenGL
Name[th]=OpenGL
Name[tr]=OpenGL
Name[ug]=OpenGL
Name[uk]=OpenGL
Name[uz]=OpenGL
Name[uz@cyrillic]=OpenGL
Name[vi]=OpenGL
Name[wa]=OpenGL
Name[x-test]=xxOpenGLxx
Name[zh_CN]=OpenGL
Name[zh_TW]=OpenGL

Comment=OpenGL information
Comment[af]=OpenGL informasie
Comment[ar]=معلومات عن OpenGL
Comment[as]=OpenGL ৰ তথ্য
Comment[ast]=Información OpenGL
Comment[be]=Звесткі пра OpenGL
Comment[be@latin]=Źviestki pra OpenGL
Comment[bg]=Информация за OpenGL
Comment[bn]=ওপেন-জি-এল সংক্রান্ত তথ্য
Comment[bn_IN]=OpenGL সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn OpenGL
Comment[bs]=Podaci o openGL‑u
Comment[ca]=Informació OpenGL
Comment[ca@valencia]=Informació OpenGL
Comment[cs]=Informace o OpenGL
Comment[csb]=Wëdowiédzô ò OpenGL
Comment[da]=OpenGL-information
Comment[de]=Informationen zu OpenGL
Comment[el]=Πληροφορίες OpenGL
Comment[en_GB]=OpenGL information
Comment[eo]=OpenGL-informoj
Comment[es]=Información OpenGL
Comment[et]=OpenGL info
Comment[eu]=OpenGL informazioa
Comment[fa]=اطلاعات OpenGL
Comment[fi]=OpenGL-tiedot
Comment[fr]=Informations sur OpenGL
Comment[fy]=OpenGL-ynformaasje
Comment[ga]=Eolas faoi OpenGL
Comment[gl]=Información de OpenGL
Comment[gu]=OpenGL માહિતી
Comment[he]=מידע על OpenGL
Comment[hi]=ओपन-जीएल जानकारी
Comment[hne]=ओपन-जीएल जानकारी
Comment[hr]=OpenGL podaci
Comment[hsb]=Informacija wo OpenGL
Comment[hu]=OpenGL-jellemzők
Comment[ia]=Information de OpenGL
Comment[id]=Informasi OpenGL
Comment[is]=OpenGL upplýsingar
Comment[it]=Informazioni sull'OpenGL
Comment[ja]=OpenGL の情報
Comment[ka]=ცნობები OpenGL -ს შესახებ
Comment[kk]=OpenGL мәліметі
Comment[km]=ព័ត៌មាន OpenGL
Comment[kn]=ಓಪನ್ ಜೆಎಲ್ ಮಾಹಿತಿ
Comment[ko]=OpenGL 정보
Comment[ku]=Agahiya OpenGL
Comment[lt]=OpenGL informacija
Comment[lv]=OpenGL informācija
Comment[mai]=ओपन-जीएल सूचना
Comment[mk]=Информации за OpenGL
Comment[ml]=ഓപ്പണ്‍ജിഎല്ലിനെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=OpenGL माहिती
Comment[ms]=Maklumat OpenGL 
Comment[nb]=OpenGL-informasjon
Comment[nds]=OpenGL-Informatschoon
Comment[ne]=खुला जीएल सूचना
Comment[nl]=OpenGL-informatie
Comment[nn]=OpenGL-informasjon
Comment[oc]=Entresenhas OpenGL
Comment[or]=OpenGL ସୂଚନା
Comment[pa]=OpenGL ਜਾਣਕਾਰੀ
Comment[pl]=Informacje OpenGL
Comment[pt]=Informação sobre OpenGL
Comment[pt_BR]=Informações sobre OpenGL
Comment[ro]=Informații OpenGL
Comment[ru]=Сведения об OpenGL
Comment[se]=OpenGL-diehtu
Comment[si]=OpenGL තොරතුරු
Comment[sk]=Informácie o OpenGL
Comment[sl]=Podatki o OpenGL
Comment[sr]=Подаци о опенГЛ‑у
Comment[sr@ijekavian]=Подаци о опенГЛ‑у
Comment[sr@ijekavianlatin]=Podaci o OpenGL‑u
Comment[sr@latin]=Podaci o OpenGL‑u
Comment[sv]=Information om OpenGL
Comment[ta]=ஓபன் ஜிஎல் தகவல்
Comment[te]=ఓపెన్ జిఎల్ సమాచారం
Comment[tg]=Иттилооти OpenGL
Comment[th]=ข้อมูล OpenGL
Comment[tr]=OpenGL Bilgisi
Comment[ug]=OpenGL ئۇچۇرى
Comment[uk]=Інформація про OpenGL
Comment[uz]=OpenGL haqida maʼlumot
Comment[uz@cyrillic]=OpenGL ҳақида маълумот
Comment[vi]=Thông tin về OpenGL
Comment[wa]=Informåcion so OpenGL
Comment[x-test]=xxOpenGL informationxx
Comment[zh_CN]=OpenGL 信息
Comment[zh_TW]=OpenGL 資訊

X-KDE-Keywords=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
X-KDE-Keywords[be]=Відэакарта,паскарэнне,графіка,сервер X,дысплей,экран,OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
X-KDE-Keywords[bg]=Keywords=видеокарта, хардуер,екран, ускорение, графика, OpenGL, DRI, GLX, 3D, VideoCard, Hardware Acceleration, Graphics, X, X11, Xserver, X-Server, XFree86, Display
X-KDE-Keywords[ca]=OpenGL,DRI,GLX,3D,Targeta de vídeo,Hardware Acceleració,Gràfics,X,X11,Xserver,Servidor X,XFree86,Pantalla
X-KDE-Keywords[cs]=OpenGL,DRI,GLX,3D,videokarta,akcelerace,grafika,X,X11,Xserver,X-Server,XFree86,Display
X-KDE-Keywords[csb]=OpenGL,DRI,GLX,3D,graficznô karta,grafika,X,X11,Xserver,X-Server,XFree86,ekran
X-KDE-Keywords[da]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Grafik,X,X11,Xserver,X-Server,XFree86,Skærm
X-KDE-Keywords[el]=OpenGL,DRI,GLX,3D,Κάρτα Γραφικών,Υλικό Επιτάχυνση,Γραφικά,X,X11,Xserver,X-Server,XFree86,Οθόνη
X-KDE-Keywords[eo]=OpenGL,DRI,GLX,3D,VideoCard,Hardware akcelo,grafikoj,X,X11,Xserver,X-Server,XFree86,ekrano
X-KDE-Keywords[es]=OpenGL,DRI,GLX,3D,Tarjeta, Grafica,Hardware Aceleradora,Gráficos,X,X11,Xserver,X-Server,XFree86,Monitor
X-KDE-Keywords[et]=OpenGL,DRI,GLX,3D,Videokaart,Riistvaraline kiirendus,Graafika,X,X11,Xserver,X-Server,XFree86,Kuva
X-KDE-Keywords[fa]=OpenGL، DRI، GLX، سه بعدی، کارت ویدیو، شتاب‌دهی سخت‌افزار، نگاره‌ای ، X، X11، Xserver، کارساز، XFree86، صفحه نمایش
X-KDE-Keywords[fr]=OpenGL,DRI,GLX,3D,carte graphique,carte vidéo,accélération matérielle,graphismes,X,X11,serveur X,XServer,XFree86,affichage
X-KDE-Keywords[fy]=OpenGL,DRI,GLX,3D,grafyske kaart,hurd guod -fersnelling,grafysk,graphics,X,X11,Xserver,X-Server,XFree86,display,byldskerm
X-KDE-Keywords[ga]=OpenGL,DRI,GLX,3D,FísChárta,Luasú Crua-Earraí,Grafaic,X,X11,Freastalaí-X,XFree86,Scáileán
X-KDE-Keywords[gl]=OpenGL,DRI,GLX,3D,Tarxeta de Vídeo,Aceleración por Hardware,Graficos,X,X11,Xserver,X-Server,XFree86,Display,Pantalla
X-KDE-Keywords[he]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration, Graphics,X,X11,Xserver,X-Server,XFree86,Display,האצה, כרטיס, כרטיס מסך, מסך, תצוגה
X-KDE-Keywords[hr]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,Video kartica,Grafička kartica,Hradversko ubrzavanje,Grafika,X poslužitelj,Zaslon
X-KDE-Keywords[hu]=OpenGL,DRI,GLX,3D,videokártya,hardveres gyorsítás,grafika,X,X11,Xserver,X-Server,XFree86,képernyő
X-KDE-Keywords[is]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,vélbúnaðarhröðun,Graphics,grafík,X,X11,Xserver,Xþjónn, X-Server,X-þjónn,XFree86,Display,skjár
X-KDE-Keywords[it]=OpenGL,DRI,GLX,3D,SchedaVideo,Video,Accelerazione Hardware,Grafica,X,X11,Xserver,X-Server,XFree86,Display,Server X
X-KDE-Keywords[ka]=OpenGL,DRI,GLX,3D,ვიდეოდაფა,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
X-KDE-Keywords[km]=OpenGL DRI GLX ត្រីមាត្រ កាាត​វីដេអ ,ការ​បង្កើន​ល្បឿន​ផ្នែក​រឹ ,ក្រាហ្វិ , ,X1 ,Xserve ,ម៉ាស៊ីន​បម្រើ  XFree8 ,ការ​បង្ហាញ
X-KDE-Keywords[ko]=OpenGL,DRI,GLX,3D,비디오 카드,하드웨어 가속,그래픽,X11,X 서버,디스플레이
X-KDE-Keywords[lt]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,Video plokštė,aparatūros greitinimas,grafika
X-KDE-Keywords[lv]=OpenGL,DRI,GLX,3D,VideoKarte,Dzelžu paātrināšana,Grafika,X,X11,Xserveris,X-Serveris,XFree86,Ekrāns
X-KDE-Keywords[mk]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,Видео-картичка,Хардверско забрзување,Графика,екран,приказ
X-KDE-Keywords[nb]=OpenGL,DRI,GLX,3D,skjermkort,maskinvareakselerasjon,grafikk,X,X11,X-tenar,XFree86,skjerm
X-KDE-Keywords[nds]=OpenGL,DRI,GLX,3D,Videokort,Hardware Acceleration,Grafik,X,X11,Xserver,X-Server,XFree86,Display,Dorstellen,Beslünigen
X-KDE-Keywords[ne]=खुला GL, DRI, GLX, त्रि-आयमिक,भिडियो कार्ड, हार्डवेयर गतिवर्धन, ग्राफिक्स, X, X11, Xसर्भर, X-सर्भर, X स्वतन्त्र 86, प्रदर्शन गर्नुहोस्
X-KDE-Keywords[nl]=OpenGL,DRI,GLX,3D,videokaart,hardware-acceleratie,grafisch,graphics,X,X11,Xserver,X-Server,XFree86,display,beeldscherm
X-KDE-Keywords[nn]=OpenGL,DRI,GLX,3D,skjermkort,maskinvareakselerasjon,grafikk,X,X11,X-tenar,XFree86,skjerm
X-KDE-Keywords[pa]=OpenGL,DRI,GLX,3D,ਵੀਡਿਓਕਾਰਡ, ਹਾਰਡਵੇਅਰ ਪਰਵੇਸ਼ਕ,ਗਰਾਫਿਕਸ,X,X11,Xserver,X-Server,XFree86,ਦਰਿਸ਼
X-KDE-Keywords[pl]=OpenGL,DRI,GLX,3D,karta graficzna,grafika,X,X11,Xserver,X-Server,XFree86,ekran
X-KDE-Keywords[pt]=OpenGL,DRI,GLX,3D,Placa Vídeo,Aceleração por Hardware,Gráficos,X,X11,Servidor X,XFree86,Ecrã
X-KDE-Keywords[pt_BR]=OpenGL,DRI,GLX,3D,Placa de Vídeo,Aceleração de Hardware,Gráficos,X,X11,Servidor X,X Server,XFree86,Display
X-KDE-Keywords[ro]=OpenGL,DRI,GLX,3D,placă video,accelerare hardware,grafică,X,X11,Xserver,X-Server,XFree86,monitor
X-KDE-Keywords[sl]=OpenGL,DRI,GLX,3D,Strojna pospešitev,Grafika,X,X11,Xserver,X-Server,X-stežnik,X,XFree86,Zaslon
X-KDE-Keywords[sr]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,опенГЛ,видео картица,хардверско убрзање,графика,Икс,Икс11,ГЛИкс,ДРИ,3Д,хардвер
X-KDE-Keywords[sr@latin]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,OpenGL,video kartica,hardversko ubrzanje,grafika,X,X11,GLX,DRI,3D,hardver
X-KDE-Keywords[sv]=OpenGL,DRI,GLX,3D,videokort,hårdvaruacceleration,grafik,X,X11,Xserver,X-server,Xfree86,skärm
X-KDE-Keywords[ta]=ஓபன் ஜிஎல்,டிஆரை,ஜிஎல்X,முப்பரிமாணம்,வீடியோஅட்டை,வன்பொருள் முடுக்கம்,சித்திரங்கள்,X,X11,Xசேவகன்,X-சேவகன்,XFree86,காட்டு
X-KDE-Keywords[th]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,จอแสดงผล
X-KDE-Keywords[tr]=OpenGL,DRI,GLX,3D,VideoCard,Video kartı,Donanım Hızlandırma,Grafik,X,X11,Xserver,X-Server,X-Sunucu,Xsunucu,XFree86,Görüntü
X-KDE-Keywords[uk]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,відео карта,3D акселерація,графіка,X сервер,монітор
X-KDE-Keywords[vi]=OpenGL,DRI,GLX,3D,Thẻ ảnh động,Tăng tốc Phần cứng,Đồ hoạ,X,X11,Trình phục vụ Xserver,Trình phục vụ - X,XFree86,Hiển thị
X-KDE-Keywords[x-test]=xxOpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Displayxx
X-KDE-Keywords[zh_CN]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,显卡,硬件加速,图形,X 服务器,显示
X-KDE-Keywords[zh_TW]=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display,顯示卡,硬體加速,圖形,顯示

Categories=Qt;KDE;X-KDE-information;
