[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=basic_information
Icon=dialog-information

Name=Basic Information
