[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=basic_information
Icon=dialog-information

Name=Basic Information
Name[ast]=Información básica
Name[ca]=Informació bàsica
Name[cs]=Základní informace
Name[da]=Basisinformation
Name[de]=Basisinformationen
Name[en_GB]=Basic Information
Name[es]=Información básica
Name[et]=Põhiteave
Name[eu]=Oinarrizko informazioa
Name[fi]=Perustiedot
Name[fr]=Informations générales
Name[ia]=Information basic
Name[id]=Informasi Dasar
Name[it]=Informazioni di base
Name[ko]=기본 정보
Name[lt]=Pagrindinė informacija
Name[nl]=Basisinformatie
Name[nn]=Grunnleggjande informasjon
Name[pt]=Informação Básica
Name[pt_BR]=Informações básicas
Name[ru]=Основные сведения
Name[sk]=Základné informácie
Name[sl]=Osnovne informacije
Name[sv]=Grundinformation
Name[uk]=Основна інформація
Name[x-test]=xxBasic Informationxx
Name[zh_CN]=基本信息
Name[zh_TW]=基本資訊
