[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=detailed_information
Icon=dialog-information

Name=Detailed Information
Name[ca]=Informació detallada
Name[de]=Detaillierte Informationen
Name[es]=Información detallada
Name[et]=Üksikasjalik teave
Name[eu]=Informazio zehatza
Name[fr]=Informations détaillées
Name[it]=Informazioni dettagliate
Name[lt]=Išsami informacija
Name[nl]=Gedetailleerde informatie
Name[pt]=Informação Detalhada
Name[pt_BR]=Informações detalhadas
Name[ru]=Подробные сведения
Name[sk]=Podrobné informácie
Name[sv]=Detaljerad information
Name[uk]=Докладна інформація
Name[x-test]=xxDetailed Informationxx
Name[zh_TW]=詳細資訊
