[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=lost_and_found
Icon=folder-documents

Name=Lost And Found
Name[ast]=Oxetos perdíos
Name[ca]=Perdut i trobat
Name[da]=Hittegods
Name[de]=Nicht zuzuordnen
Name[el]=Χάθηκαν και Βρέθηκαν
Name[en_GB]=Lost And Found
Name[es]=Objetos perdidos
Name[et]=Kaotatud ja leitud
Name[fi]=Hävinneet ja löydetyt
Name[hr]=Izgubljeno i nađeno
Name[ia]=Trovate & Perdite
Name[is]=Tapað og fundið
Name[ja]=Lost And Found
Name[km]=បាត់ ហើយ​រក​ឃើញ
Name[ko]=기타 프로그램
Name[lt]=Pamesta ir rasta
Name[lv]=Pazudis un atrasts
Name[nb]=Mistet og funnet
Name[nds]=Passt narms sünst
Name[nl]=Verloren en gevonden
Name[pa]=ਗੁਆਚੇ ਅਤੇ ਲੱਭੇ
Name[pt]=Perdidos e Achados
Name[pt_BR]=Achados e perdidos
Name[ru]=Прочее
Name[sl]=Izgubljeno in najdeno
Name[sv]=Hittegods
Name[tr]=Kayıplar ve Bulunanlar
Name[uk]=Втрачено і знайдено
Name[x-test]=xxLost And Foundxx
Name[zh_TW]=Lost And Found
