[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=device_information
X-KDE-KInfoCenter-Parent-Category=detailed_information
Icon=hwinfo

Name=Devices
