[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=lost_and_found
Icon=folder-documents

Name=Lost And Found
Name[ca]=Perdut i trobat
Name[da]=Hittegods
Name[de]=Nicht zuzuordnen
Name[es]=Objetos perdidos
Name[et]=Kaotatud ja leitud
Name[ia]=Trovate & Perdite
Name[nds]=Passt narms sünst
Name[nl]=Verloren en gevonden
Name[pt]=Perdidos e Achados
Name[pt_BR]=Achados e perdidos
Name[sl]=Izgubljeno in najdeno
Name[sv]=Hittegods
Name[uk]=Втрачено і знайдено
Name[x-test]=xxLost And Foundxx
Name[zh_TW]=Lost And Found
