[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=graphical_information
X-KDE-KInfoCenter-Parent-Category=detailed_information
Icon=applications-graphics

Name=Graphics
