[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=graphical_information
Icon=folder-documents

Name=Graphical Information
Name[uk]=Графічна інформація
Name[x-test]=xxGraphical Informationxx
