[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=graphical_information
X-KDE-KInfoCenter-Parent-Category=detailed_information
Icon=applications-graphics

Name=Graphics
Name[ca]=Gràfics
Name[es]=Gráficos
Name[et]=Graafika
Name[eu]=Grafikoak
Name[fr]=Graphiques
Name[it]=Grafica
Name[lt]=Grafika
Name[nl]=Grafisch
Name[pt]=Gráficos
Name[pt_BR]=Gráficos
Name[ru]=Графика
Name[sk]=Grafika
Name[sv]=Grafik
Name[uk]=Графіка
Name[x-test]=xxGraphicsxx
Name[zh_TW]=圖形
