[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KInfoCenterCategory
Name=KInfoCenter Category
Name[uk]=Категорія KInfoCenter
Name[x-test]=xxKInfoCenter Categoryxx

# Cat Ident
[PropertyDef::X-KDE-KInfoCenter-Category]
Type=QString

