[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KInfoCenterCategory
Name=KInfoCenter Category
Name[ast]=Categoría de KInfoCenter
Name[ca]=Categoria del KInfoCenter
Name[da]=KInfoCenter-kategori
Name[de]=Infozentrum-Kategorie
Name[el]=Κατηγορία KInfoCenter
Name[en_GB]=KInfoCentre Category
Name[es]=Categoría de KInfoCenter
Name[et]=KDE infokeskuse kategooria
Name[fi]=KDE:n tietokeskuksen luokka
Name[ga]=Catagóir KInfoCenter
Name[hi]=के-इन्फ़ोसेंटर वर्ग
Name[hr]=Kategorija KInfoCentera
Name[ia]=Categoria de KInfoCenter
Name[is]=Flokkur í KInfoCenter
Name[ja]=KInfoCenter カテゴリ
Name[kk]=KInfoCenter санаты
Name[km]=ប្រភេទ KInfoCenter
Name[ko]=KInfoCenter 분류
Name[lt]=KInfoCenter kategorija
Name[lv]=KInfoCenter kategorija
Name[nb]=KInfoCenter-kategori
Name[nds]=KDE-Infozentrum-Kategorie
Name[nl]=Categorie KInfoCenter
Name[pa]=ਕੇ-ਜਾਣਕਾਰੀ ਸੈਂਟਰ ਕੈਟਾਗਰੀ
Name[pl]=Kategoria Centrum informacyjnego
Name[pt]=Categoria do KInfoCenter
Name[pt_BR]=Categoria do KInfoCenter
Name[ru]=Категория «Информации о системе»
Name[sl]=Kategorija v KInfoCenter
Name[sv]=Kategori i informationscentralen
Name[tr]=KDE Bilgi Merkezi Kategorisi
Name[uk]=Категорія KInfoCenter
Name[x-test]=xxKInfoCenter Categoryxx
Name[zh_CN]=KInfoCenter 分类
Name[zh_TW]=KInfoCenter 類別

# Cat Ident
[PropertyDef::X-KDE-KInfoCenter-Category]
Type=QString

