[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KInfoCenterCategory
Name=KInfoCenter Category
Name[ca]=Categoria del KInfoCenter
Name[da]=KInfoCenter-kategori
Name[en_GB]=KInfoCentre Category
Name[es]=Categoría de KInfoCenter
Name[et]=KDE infokeskuse kategooria
Name[hr]=Kategorija KInfoCentera
Name[ia]=Categoria de KInfoCenter
Name[is]=Flokkur í KInfoCenter
Name[ko]=KInfoCenter 분류
Name[nb]=KInfoCenter-kategori
Name[nds]=KDE-Infozentrum-Kategorie
Name[nl]=Categorie KInfoCenter
Name[pt]=Categoria do KInfoCenter
Name[pt_BR]=Categoria do KInfoCenter
Name[sl]=Kategorija v KInfoCenter
Name[sv]=Kategori i informationscentralen
Name[tr]=KDE Bilgi Merkezi Kategorisi
Name[uk]=Категорія KInfoCenter
Name[x-test]=xxKInfoCenter Categoryxx
Name[zh_TW]=KInfoCenter 類別

# Cat Ident
[PropertyDef::X-KDE-KInfoCenter-Category]
Type=QString

