[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=device_information
Icon=folder-documents

Name=Device Information
Name[uk]=Інформація про пристрої
Name[x-test]=xxDevice Informationxx
