[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=network_information
X-KDE-KInfoCenter-Parent-Category=detailed_information
Icon=preferences-system-network

Name=Network
Name[ca]=Xarxa
Name[et]=Võrk
Name[eu]=Sarea
Name[fr]=Réseau
Name[lt]=Tinklas
Name[nl]=Netwerk
Name[pt]=Rede
Name[ru]=Сеть
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
