# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Service
TryExec=glxinfo
Exec=kinfocenter kcm_glx
Icon=video-display
Categories=Qt;KDE;X-KDE-information;
X-KDE-ServiceTypes=KCModule
X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_glx
X-KDE-ParentApp=kinfocenter

Name=OpenGL (GLX)

Comment=GLX information

X-KDE-Keywords=OpenGL,DRI,GLX,3D,VideoCard,Hardware Acceleration,Graphics,X,X11,Xserver,X-Server,XFree86,Display
