# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
TryExec=vulkaninfo
Exec=kinfocenter kcm_vulkan
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=video-display

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_vulkan
X-KDE-ParentApp=kinfocenter
Categories=Qt;KDE;X-KDE-information;

Name=Vulkan
Name[az]=Vulkan
Name[ca]=Vulkan
Name[cs]=Vulkan
Name[el]=Vulkan
Name[en_GB]=Vulkan
Name[es]=Vulkan
Name[eu]=Vulkan
Name[fi]=Vulkan
Name[fr]=Vulkan
Name[ia]=Vulkan
Name[it]=Vulkan
Name[lt]=Vulkan
Name[nl]=Vulkan
Name[pl]=Vulkan
Name[pt]=Vulkan
Name[pt_BR]=Vulkan
Name[sk]=Vulkan
Name[sl]=Vulkan
Name[sv]=Vulkan
Name[uk]=Vulkan
Name[vi]=Vulkan
Name[x-test]=xxVulkanxx
Name[zh_CN]=Vulkan

Comment=Vulkan graphics API information
Comment[az]=Vulkan qrafik kartları API-si məlumatı
Comment[ca]=Informació de la API gràfica Vulkan
Comment[cs]=Informace o grafickém API Vulkan
Comment[el]=Πληροφορίες του API των γραφικών Vulkan
Comment[en_GB]=Vulkan graphics API information
Comment[es]=Información de la API de gráficos Vulkan
Comment[eu]=Vulkan grafikoen APIaren informazioa
Comment[fi]=Vulkan-grafiikka-APIn tiedot
Comment[fr]=Informations sur l'API graphique Vulkan
Comment[ia]=Information de API  graphic de Vulkan
Comment[it]=Informazioni API grafiche API Vulkan
Comment[lt]=Informacija apie Vulkan grafikos API
Comment[nl]=Vulkan grafische API-informatie
Comment[pl]=Szczegóły API grafiki Vulkan
Comment[pt]=Informação da API gráfica Vulkan
Comment[pt_BR]=Informações da API gráfica Vulkan
Comment[sk]=Informácie o grafickom rozhraní API Vulkan
Comment[sl]=Informacije o vmesniku Vulkan graphics
Comment[sv]=Information om Vulkan grafiskt programmeringsgränssnitt
Comment[uk]=Далі щодо графічного програмного інтерфейсу Vulkan
Comment[vi]=Thông tin API đồ hoạ Vulkan
Comment[x-test]=xxVulkan graphics API informationxx
Comment[zh_CN]=Vulkan 图形 API 信息

X-KDE-Keywords=Vulkan,VideoCard,Hardware Acceleration,Graphics
X-KDE-Keywords[az]=Vulkan,Vedeo,Görüntü kartı,Avadanlıq,Sürətləndirici,Acceleration,Graphics,Qrafiklər
X-KDE-Keywords[ca]=Vulkan,Targeta de vídeo,Acceleració per maquinari,Gràfics
X-KDE-Keywords[cs]=Vulkan,grafická karta,hardwarová akcelerace,grafika
X-KDE-Keywords[el]=Vulkan,VideoCard,Επιτάχυνση υλικού,Γραφικά
X-KDE-Keywords[en_GB]=Vulkan,VideoCard,Hardware Acceleration,Graphics
X-KDE-Keywords[es]=Vulkan,Tarjeta de vídeo,Tarjeta de video,Aceleración por hardware,Gráficos
X-KDE-Keywords[eu]=Vulkan,Bideo txartela,Hardware azelerazioa,Grafikoak
X-KDE-Keywords[fi]=Vulkan,näyttökortti,näytönohjain,laitteistokiihdytys,grafiikka
X-KDE-Keywords[fr]=Vulkan,Carte Vidéo,Accélération matérielle, Graphique
X-KDE-Keywords[ia]=Vulkan,Carta de Video,Acceleration Hardware,Graphiches
X-KDE-Keywords[it]=Vulkan,Scheda video,Accelerazione hardware,Grafica
X-KDE-Keywords[lt]=Vulkan,vaizdo plokštė,vaizdo plokste,aparatinės įrangos spartinimas,aparatines irangos spartinimas,grafika
X-KDE-Keywords[nl]=Vulkan,Videokaart,Hardware versnelling,grafische zaken
X-KDE-Keywords[pl]=Vulkan,Karta graficzna,Przyspieszenie sprzętowe,Grafika
X-KDE-Keywords[pt]=Vulkan,Placa Gráfica,Aceleração por 'Hardware',Gráficos
X-KDE-Keywords[pt_BR]=Vulkan,Placa de vídeo,aceleração por hardware,gráfico,gráfica
X-KDE-Keywords[sk]=Vulkan,grafická karta,hardvérová akcelerácia,grafika
X-KDE-Keywords[sl]=Vulkan,Videokartica,Strojno pospeševanje,Grafika
X-KDE-Keywords[sv]=Vulkan,Videokort,Hårdvaruacceleration,Grafik
X-KDE-Keywords[uk]=Vulkan,VideoCard,Hardware Acceleration,Graphics,вулкан,відеокартка,апаратне прискорення,графіка
X-KDE-Keywords[vi]=Vulkan,VideoCard,Hardware Acceleration,Graphics,Bo mạch đồ hoạ,Tăng tốc phần cứng,Đồ hoạ
X-KDE-Keywords[x-test]=xxVulkanxx,xxVideoCardxx,xxHardware Accelerationxx,xxGraphicsxx
X-KDE-Keywords[zh_CN]=Vulkan,VideoCard,Hardware Acceleration,Graphics,显卡,显示卡,硬件加速,图形,GPU

