# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
TryExec=vulkaninfo
Exec=kinfocenter kcm_vulkan
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=video-display

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_vulkan
X-KDE-ParentApp=kinfocenter
Categories=Qt;KDE;X-KDE-information;

Name=Vulkan
Name[az]=Vulkan
Name[ca]=Vulkan
Name[cs]=Vulkan
Name[es]=Vulkan
Name[eu]=Vulkan
Name[nl]=Vulkan
Name[sl]=Vulkan
Name[sv]=Vulkan
Name[uk]=Vulkan
Name[vi]=Vulkan
Name[x-test]=xxVulkanxx

Comment=Vulkan graphics API information
Comment[az]=Vulkan qrafik kartları API-si məlumatı
Comment[ca]=Informació de la API gràfica Vulkan
Comment[cs]=Informace o grafickém API Vulkan
Comment[es]=Información de la API de gráficos Vulkan
Comment[eu]=Vulkan grafikoen APIaren informazioa
Comment[nl]=Vulkan grafische API-informatie
Comment[sl]=Informacije o vmesniku Vulkan graphics
Comment[sv]=Information om Vulkan grafiskt programmeringsgränssnitt
Comment[uk]=Далі щодо графічного програмного інтерфейсу Vulkan
Comment[vi]=Thông tin API đồ hoạ Vulkan
Comment[x-test]=xxVulkan graphics API informationxx

X-KDE-Keywords=Vulkan,VideoCard,Hardware Acceleration,Graphics
X-KDE-Keywords[az]=Vulkan,Vedeo,Görüntü kartı,Avadanlıq,Sürətləndirici,Acceleration,Graphics,Qrafiklər
X-KDE-Keywords[ca]=Vulkan,Targeta de vídeo,Acceleració per maquinari,Gràfics
X-KDE-Keywords[cs]=Vulkan,grafická karta,hardwarová akcelerace,grafika
X-KDE-Keywords[es]=Vulkan,Tarjeta de vídeo,Tarjeta de video,Aceleración por hardware,Gráficos
X-KDE-Keywords[eu]=Vulkan,Bideo txartela,Hardware azelerazioa,Grafikoak
X-KDE-Keywords[nl]=Vulkan,Videokaart,Hardware versnelling,grafische zaken
X-KDE-Keywords[sl]=Vulkan,Videokartica,Strojno pospeševanje,Grafika
X-KDE-Keywords[sv]=Vulkan,Videokort,Hårdvaruacceleration,Grafik
X-KDE-Keywords[uk]=Vulkan,VideoCard,Hardware Acceleration,Graphics,вулкан,відеокартка,апаратне прискорення,графіка
X-KDE-Keywords[vi]=Vulkan,VideoCard,Hardware Acceleration,Graphics,Bo mạch đồ hoạ,Tăng tốc phần cứng,Đồ hoạ
X-KDE-Keywords[x-test]=xxVulkanxx,xxVideoCardxx,xxHardware Accelerationxx,xxGraphicsxx

