[Desktop Entry]
Type=Service
Icon=help-about
Exec=kcmshell5 about-distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=kcm-about-distro
X-KDE-Weight=0
X-KDE-Keywords=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[ca]=informació,distribució,distro,sistema,nucli,qt,kde
X-KDE-Keywords[cs]=informace,distribuce,distro,systém,jádro,qt,kde
X-KDE-Keywords[de]=Information,Distribution,Distro,System,Kernel,Qt,KDE
X-KDE-Keywords[en_GB]=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[es]=información,distribución,distro,sistema,kernel,qt,kde
X-KDE-Keywords[fi]=tietoja,tietoa,tiedot,info,jakelu,distribuutio,distro,järjestelmä,ydin,käyttöjärjestelmäydin,qt,kde,information,distribution,system,kernel
X-KDE-Keywords[gl]=información,distribución,sistema,information,distribution,distro,system,kernel,qt,kde 
X-KDE-Keywords[nl]=informatie,distributie,distro,systeem,kernel,qt,kde
X-KDE-Keywords[pl]=informacje,dystrybucja,distro,system,jądro,qt,kde
X-KDE-Keywords[pt]=informação,distribuição,sistema,'kernel',qt,kde
X-KDE-Keywords[pt_BR]=informações,distribuição,sistema,kernel,qt,kde
X-KDE-Keywords[sk]=informácia,distribúcia,distro,systém,jadro,qt,kde
X-KDE-Keywords[sv]=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[uk]=information,distribution,distro,system,kernel,qt,kde,інформація,дистрибутив,дистро,система,ядро,процесор,комп’ютер,інфо
X-KDE-Keywords[zh_CN]=information,distribution,distro,system,kernel,qt,kde,信息,发行版,系统,内核
Categories=Qt;KDE;X-KDE-settings-personalization;X-KDE-information;

Name=About System
Name[ca]=Quant al sistema
Name[cs]=O systému
Name[de]=Über das System
Name[en_GB]=About System
Name[es]=Acerca del sistema
Name[fi]=Tietoa järjestelmästä
Name[gl]=Sobre o sistema
Name[nl]=Over het systeem
Name[pl]=O systemie
Name[pt]=Acerca do Sistema
Name[pt_BR]=Sobre o Sistema
Name[sk]=O systéme
Name[sv]=Om systemet
Name[uk]=Про систему
Name[zh_CN]=关于系统
Comment=Information About This System
Comment[ca]=Informació quant a aquest sistema
Comment[cs]=Informace o tomto systému
Comment[de]=Informationen über dieses System
Comment[en_GB]=Information About This System
Comment[es]=Información sobre este sistema
Comment[fi]=Tietoa tästä järjestelmästä
Comment[gl]=Información sobre o sistema
Comment[nl]=Informatie over dit systeem
Comment[pl]=Informacje o tym systemie
Comment[pt]=Informação Sobre o Sistema
Comment[pt_BR]=Informações sobre este sistema
Comment[sk]=Informácia o tomto systéme
Comment[sv]=Information om systemet
Comment[uk]=Інформація щодо цієї системи
Comment[zh_CN]=此系统的信息
