[Desktop Entry]
Type=Service
Icon=ktip
Exec=kcmshell5 about-distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=kcm-about-distro
X-KDE-Weight=0
X-KDE-Keywords=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[ar]=information,distribution,distro,system,kernel,qt,kde,معلومات,توزيعة,نظام,نواة,كيوت,كدي
X-KDE-Keywords[ca]=informació,distribució,distro,sistema,nucli,qt,kde
X-KDE-Keywords[ca@valencia]=informació,distribució,distro,sistema,nucli,qt,kde
X-KDE-Keywords[cs]=informace,distribuce,distro,systém,jádro,qt,kde
X-KDE-Keywords[da]=Information,distribution,distro,system,kerne,qt,kde
X-KDE-Keywords[de]=Information,Distribution,Distro,System,Kernel,Qt,KDE
X-KDE-Keywords[el]=πληροφορίες,διανομή,distro,σύστημα,πυρήνας,qt,kde
X-KDE-Keywords[en_GB]=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[es]=información,distribución,distro,sistema,kernel,qt,kde
X-KDE-Keywords[et]=teave,distributsioon,distro,süsteem,kernel,qt,kde
X-KDE-Keywords[eu]=informazioa,banaketa,distribuzioa,distro,sistema,muina,kernela,qt,kde
X-KDE-Keywords[fi]=tietoja,tietoa,tiedot,info,jakelu,distribuutio,distro,järjestelmä,ydin,käyttöjärjestelmäydin,qt,kde,information,distribution,system,kernel
X-KDE-Keywords[fr]=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[gl]=información,distribución,sistema,information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[he]=information,distribution,distro,system,kernel,qt,kde,מידע,הפצה,מערכת,ליבה,פלזמה
X-KDE-Keywords[hu]=információk,disztribúció,disztró,rendszer,kernel,qt,kde
X-KDE-Keywords[id]=informasi,distribusi,distro,sistem,kernel,qt,kde
X-KDE-Keywords[it]=informazioni,distribuzione,distro,sistema,kernel,qt,kde
X-KDE-Keywords[ko]=information,distribution,distro,system,kernel,qt,kde,정보,배포판,시스템,커널
X-KDE-Keywords[lt]=informacija,distribucija,distro,sistema,branduolys,qt,kde
X-KDE-Keywords[nb]=Informasjon,distribusjon,distro,system,kjerne,qt,kde
X-KDE-Keywords[nl]=informatie,distributie,distro,systeem,kernel,qt,kde
X-KDE-Keywords[nn]=Informasjon,distribusjon,distro,system,kjerne,qt,kde
X-KDE-Keywords[pl]=informacje,dystrybucja,distro,system,jądro,qt,kde
X-KDE-Keywords[pt]=informação,distribuição,sistema,'kernel',qt,kde
X-KDE-Keywords[pt_BR]=informações,distribuição,sistema,kernel,qt,kde
X-KDE-Keywords[ru]=information,distribution,distro,system,kernel,qt,kde,информация,сведения,дистрибутив,ядро,процессор,компьютер,операционная система,память,архитектура
X-KDE-Keywords[sk]=informácia,distribúcia,distro,systém,jadro,qt,kde
X-KDE-Keywords[sl]=podrobnosti,podatki,distribucija,sistem,jedro,kernel,qt,kde
X-KDE-Keywords[sr]=information,distribution,distro,system,kernel,qt,kde,подаци,информације,дистрибуција,систем,језгро,КуТ,КДЕ
X-KDE-Keywords[sr@ijekavian]=information,distribution,distro,system,kernel,qt,kde,подаци,информације,дистрибуција,систем,језгро,КуТ,КДЕ
X-KDE-Keywords[sr@ijekavianlatin]=information,distribution,distro,system,kernel,qt,kde,podaci,informacije,distribucija,sistem,jezgro,Qt,KDE
X-KDE-Keywords[sr@latin]=information,distribution,distro,system,kernel,qt,kde,podaci,informacije,distribucija,sistem,jezgro,Qt,KDE
X-KDE-Keywords[sv]=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[tr]=bilgi,dağıtım,sürüm,sistem,çekirdek,qt,kde
X-KDE-Keywords[uk]=information,distribution,distro,system,kernel,qt,kde,інформація,дистрибутив,дистро,система,ядро,процесор,комп’ютер,інфо
X-KDE-Keywords[x-test]=xxinformationxx,xxdistributionxx,xxdistroxx,xxsystemxx,xxkernelxx,xxqtxx,xxkdexx
X-KDE-Keywords[zh_CN]=information,distribution,distro,system,kernel,qt,kde,信息,发行版,系统,内核
X-KDE-Keywords[zh_TW]=information,distribution,distro,system,kernel,qt,kde
Categories=Qt;KDE;X-KDE-settings-personalization;X-KDE-information;

Name=About System
Name[ar]=عن النّظام
Name[ca]=Quant al sistema
Name[ca@valencia]=Quant al sistema
Name[cs]=O systému
Name[da]=Om systemet
Name[de]=Über das System
Name[el]=Σχετικά με το σύστημα
Name[en_GB]=About System
Name[es]=Acerca del sistema
Name[et]=Süsteemi teave
Name[eu]=Sistemari buruz
Name[fi]=Tietoa järjestelmästä
Name[fr]=À propos du système
Name[gl]=Sobre o sistema
Name[he]=אודות המערכת
Name[hu]=A rendszer névjegye
Name[ia]=Re le systema
Name[id]=Tentang Sistem
Name[it]=Informazioni sul sistema
Name[ko]=시스템 정보
Name[lt]=Apie sistemą
Name[nb]=Om System
Name[nl]=Over het systeem
Name[nn]=Om systemet
Name[pl]=O systemie
Name[pt]=Acerca do Sistema
Name[pt_BR]=Sobre o Sistema
Name[ru]=О системе
Name[sk]=O systéme
Name[sl]=O sistemu
Name[sr]=О систему
Name[sr@ijekavian]=О систему
Name[sr@ijekavianlatin]=O sistemu
Name[sr@latin]=O sistemu
Name[sv]=Om systemet
Name[tr]=Sistem Hakkında
Name[uk]=Про систему
Name[x-test]=xxAbout Systemxx
Name[zh_CN]=关于系统
Name[zh_TW]=關於系統
Comment=Information About This System
Comment[ar]=معلومات عن هذا النّظام
Comment[ca]=Informació quant a aquest sistema
Comment[ca@valencia]=Informació quant a aquest sistema
Comment[cs]=Informace o tomto systému
Comment[da]=Information om dette system
Comment[de]=Informationen über dieses System
Comment[el]=Πληροφορίες σχετικά με αυτό το σύστημα
Comment[en_GB]=Information About This System
Comment[es]=Información sobre este sistema
Comment[et]=Teave süsteemi kohta
Comment[eu]=Sistema honi buruzko informazioa
Comment[fi]=Tietoa tästä järjestelmästä
Comment[fr]=Informations sur ce système
Comment[gl]=Información sobre o sistema
Comment[he]=מידע על מערכת זו
Comment[hu]=Információk erről a rendszerről
Comment[ia]=Information re iste systema
Comment[id]=Informasi Tentang Sistem Ini
Comment[it]=Informazioni su questo sistema
Comment[ko]=이 시스템 정보
Comment[lt]=Informacija apie šią sistemą
Comment[nb]=Informasjon om dette systemet
Comment[nl]=Informatie over dit systeem
Comment[nn]=Informasjon om systemet
Comment[pl]=Informacje o tym systemie
Comment[pt]=Informação Sobre o Sistema
Comment[pt_BR]=Informações sobre este sistema
Comment[ru]=Сведения об этой системе
Comment[sk]=Informácia o tomto systéme
Comment[sl]=Podrobnosti o tem sistemu
Comment[sr]=Подаци о овом систему
Comment[sr@ijekavian]=Подаци о овом систему
Comment[sr@ijekavianlatin]=Podaci o ovom sistemu
Comment[sr@latin]=Podaci o ovom sistemu
Comment[sv]=Information om systemet
Comment[tr]=Bu Sistem Hakkında Bilgi
Comment[uk]=Інформація щодо цієї системи
Comment[x-test]=xxInformation About This Systemxx
Comment[zh_CN]=此系统的信息
Comment[zh_TW]=關於此系統的資訊
