[Desktop Entry]
Type=Service
Icon=help-about
Exec=kcmshell5 about-distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=kcm-about-distro
X-KDE-Weight=0
X-KDE-Keywords=information,distribution,distro,system,kernel,qt,kde
Categories=Qt;KDE;X-KDE-settings-personalization;X-KDE-information;

Name=About System
Comment=Information About This System
