[Desktop Entry]
Type=Application
NoDisplay=true
Icon=ktip
Exec=kinfocenter kcm_about-distro

Name=About this System
Name[az]=Bu sistem haqqında
Name[ca]=Quant a aquest sistema
Name[ca@valencia]=Quant a este sistema
Name[de]=Über dieses System
Name[el]=Σχετικά με αυτό το σύστημα
Name[en_GB]=About this System
Name[es]=Acerca de este sistema
Name[eu]=Sistema honi buruz
Name[fi]=Tietoa tästä järjestelmästä
Name[fr]=À propos de ce système
Name[ia]=Re iste systema
Name[it]=Informazioni sul sistema
Name[ko]=이 시스템 정보
Name[lt]=Apie šią sistemą
Name[nl]=Over dit systeem
Name[nn]=Om dette systemet
Name[pl]=O tym systemie
Name[pt]=Acerca deste Sistema
Name[pt_BR]=Sobre este sistema
Name[sk]=O tomto systéme
Name[sl]=O tem sistemu
Name[sv]=Om systemet
Name[tg]=Иттилоот дар бораи низоми ҷорӣ
Name[tr]=Sistem Hakkında
Name[uk]=Про цю систему
Name[vi]=Về hệ thống này
Name[x-test]=xxAbout this Systemxx
