[Desktop Entry]
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcmview1394

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_view1394
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#kcmview1394

Name=IEEE 1394 Devices

Comment=Attached IEEE 1394 devices

X-KDE-Keywords=1394,Firewire,devices,viewer,control
