[Desktop Entry]
Exec=kcmshell4 kcm_memory
Icon=computer
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=1
X-KDE-Library=kcm_memory
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#kcm_memory

Name=Memory
Name[af]=Geheue
Name[ar]=الذاكرة
Name[as]=স্মৃতিশক্তি
Name[ast]=Memoria
Name[be]=Памяць
Name[be@latin]=Pamiać
Name[bg]=Памет
Name[bn]=মেমরি
Name[bn_IN]=মেমরি
Name[br]=Memor
Name[bs]=Memorija
Name[ca]=Memòria
Name[ca@valencia]=Memòria
Name[cs]=Paměť
Name[csb]=Pamiãc
Name[cy]=Cof
Name[da]=Hukommelse
Name[de]=Speicher
Name[el]=Μνήμη
Name[en_GB]=Memory
Name[eo]=Memoro
Name[es]=Memoria
Name[et]=Mälu
Name[eu]=Memoria
Name[fa]=حافظه
Name[fi]=Muisti
Name[fr]=Mémoire
Name[fy]=Unthâld
Name[ga]=Cuimhne
Name[gl]=Memoria
Name[gu]=મેમરી
Name[he]=זיכרון
Name[hi]=मेमोरी
Name[hne]=मेमोरी
Name[hr]=Memorija
Name[hsb]=Pomjatk
Name[hu]=Memória
Name[ia]=Memoria
Name[id]=Memori
Name[is]=Minni
Name[it]=Memoria
Name[ja]=メモリ
Name[ka]=მეხსიერება
Name[kk]=Жады
Name[km]=សតិ
Name[kn]=ಸ್ಮೃತಿ
Name[ko]=메모리
Name[ku]=Bîr
Name[lt]=Atmintis
Name[lv]=Atmiņa
Name[mai]=स्मृति
Name[mk]=Меморија
Name[ml]=മെമ്മറി
Name[mr]=स्मृती
Name[ms]=Ingatan
Name[nb]=Minne
Name[nds]=Spieker
Name[ne]=स्मृति
Name[nl]=Geheugen
Name[nn]=Minne
Name[oc]=Memòria
Name[or]=ସ୍ମୃତିସ୍ଥାନ
Name[pa]=ਮੈਮੋਰੀ
Name[pl]=Pamięć
Name[pt]=Memória
Name[pt_BR]=Memória
Name[ro]=Memorie
Name[ru]=Память
Name[se]=Muitu
Name[si]=මතකය
Name[sk]=Pamäť
Name[sl]=Pomnilnik
Name[sr]=Меморија
Name[sr@ijekavian]=Меморија
Name[sr@ijekavianlatin]=Memorija
Name[sr@latin]=Memorija
Name[sv]=Minne
Name[ta]=நினைவு
Name[te]=మెమొరి
Name[tg]=Хотира
Name[th]=หน่วยความจำ
Name[tr]=Bellek
Name[ug]=ئەسلەك
Name[uk]=Пам'ять
Name[uz]=Xotira
Name[uz@cyrillic]=Хотира
Name[vi]=Bộ nhớ
Name[wa]=Memwere
Name[xh]=Inkumbulo
Name[x-test]=xxMemoryxx
Name[zh_CN]=内存
Name[zh_TW]=記憶體

Comment=Memory information
Comment[af]=Geheue informasie
Comment[ar]=معلومات عن الذاكرة
Comment[as]=স্মৃতিশক্তিৰ তথ্য
Comment[ast]=Información sobre la memoria
Comment[be]=Звесткі пра памяць
Comment[be@latin]=Źviestki pra pamiać
Comment[bg]=Данни за системната памет
Comment[bn]=মেমরি সংক্রান্ত তথ্য
Comment[bn_IN]=মেমরি সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar memor
Comment[bs]=Podaci o memoriji
Comment[ca]=Informació de la memòria
Comment[ca@valencia]=Informació de la memòria
Comment[cs]=Informace o paměti
Comment[csb]=Wëdowiédzô ò pamiãcë
Comment[cy]=Gwybodaeth Cof
Comment[da]=Information om hukommelsen
Comment[de]=Informationen zum Speicher
Comment[el]=Πληροφορίες για τη Μνήμη
Comment[en_GB]=Memory information
Comment[eo]=Informoj pri memoro
Comment[es]=Información sobre la memoria
Comment[et]=Mäluga seotud info
Comment[eu]=Memoriari buruzko informazioa
Comment[fa]=اطلاعات حافظه
Comment[fi]=Tietoja muistista
Comment[fr]=Informations sur la mémoire
Comment[fy]=Unthâld ynformaasje
Comment[ga]=Faisnéis chuimhne
Comment[gl]=Información da memoria
Comment[gu]=મેમરી માહિતી
Comment[he]=מידע על הזיכרון
Comment[hi]=मेमोरी जानकारी
Comment[hne]=मेमोरी जानकारी
Comment[hr]=Podaci o memoriji
Comment[hsb]=Informacija wo pomjatku
Comment[hu]=A memória jellemzői
Comment[ia]=Information de memoria
Comment[id]=Informasi memori
Comment[is]=Upplýsingar um vinnsluminni
Comment[it]=Informazioni sulla memoria
Comment[ja]=メモリの情報
Comment[ka]=ინფორმაცია მეხსიერების შესახებ
Comment[kk]=Жад мәліметі
Comment[km]=ព័ត៌មាន​សតិ
Comment[kn]=ಸ್ಮೃತಿ ಮಾಹಿತಿ
Comment[ko]=메모리 정보
Comment[ku]=Agahiya Bîrê
Comment[lt]=Atminties informacija
Comment[lv]=Atmiņas informācija
Comment[mai]=मेमोरी सूचना
Comment[mk]=Информации за меморијата
Comment[ml]=മെമ്മറിയെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=स्मृती माहिती
Comment[ms]=Maklumat ingatan
Comment[nb]=Minneinformasjon
Comment[nds]=Informatschoon över den Spieker
Comment[ne]=स्मृति सूचना
Comment[nl]=Geheugeninformatie
Comment[nn]=Minneinformasjon
Comment[or]=ସ୍ମୃତିସ୍ଥାନ ସୂଚନା
Comment[pa]=ਮੈਮੋਰੀ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o pamięci
Comment[pt]=Informações sobre a memória
Comment[pt_BR]=Informações da memória
Comment[ro]=Informații despre memorie
Comment[ru]=Сведения об использовании памяти
Comment[se]=Muitodiehtu
Comment[si]=මතක තොරතුරු
Comment[sk]=Informácie o pamäti
Comment[sl]=Podatki o pomnilniku
Comment[sr]=Подаци о меморији
Comment[sr@ijekavian]=Подаци о меморији
Comment[sr@ijekavianlatin]=Podaci o memoriji
Comment[sr@latin]=Podaci o memoriji
Comment[sv]=Minnesinformation
Comment[ta]=நினைவுத் தகவல்
Comment[te]=మెమొరి సమాచారం
Comment[tg]=Иттилооти хотира
Comment[th]=ข้อมูลหน่วยความจำ
Comment[tr]=Bellek hakkında bilgi
Comment[ug]=ئەسلەك ئۇچۇرى
Comment[uk]=Інформація щодо пам'яті
Comment[uz]=Xotira haqida maʼlumot
Comment[uz@cyrillic]=Хотира ҳақида маълумот
Comment[vi]=Thông tin về bộ nhớ
Comment[wa]=Informåcion sol memwere
Comment[xh]=Ulwazi lwenkumbulo
Comment[x-test]=xxMemory informationxx
Comment[zh_CN]=内存信息
Comment[zh_TW]=記憶體資訊資訊

X-KDE-Keywords=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[af]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Informasie
X-KDE-Keywords[be]=Памяць,віртуальная памяць,фізічная памяць,падкачка,сістэмная інфармацыя,Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, памет, физическа, виртуална, кеш, реална, Memory, RAM, Virtual memory, Physical memory, Shared memory, Swap, System Information
X-KDE-Keywords[br]=memor,RAM,memor c'halloudel,memor fizikel,memor rannet,disloañ,titouroù reizhiad
X-KDE-Keywords[ca]=Memòria,RAM,Memòria virtual,memòria física,memòria compartida,intercanvi,Informació del sistema
X-KDE-Keywords[cs]=Paměť,RAM,Virtuální paměť,Fyzická paměť,Sdílená paměť,Swap,Informace o systému
X-KDE-Keywords[csb]=pamiãc,RAM,wirtualnô pamiãc,fizycznô pamiãc,zbiérnô pamiãc,lopk wëmianë,particëjô wëmianë,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=Cof,RAM,Cof rhith,Cof corfforol,Cof cyfrannol,Swap,Gwybodaeth Cysawd
X-KDE-Keywords[da]=Hukommelse,Ram,Virtuel hukommelse,Fysisk hukommelse,Delt hukommelse,Swap,Systeminformation
X-KDE-Keywords[de]=Speicher,RAM,Virtueller Speicher,Physischer Speicher,Shared Memory,Auslagerung,Swap,Systeminformation
X-KDE-Keywords[el]=Μνήμη,RAM,Εικονική μνήμη,Φυσική μνήμη,Μοιρασμένη μνήμη,Αντιμετάθεση,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=memoro,RAM,virtuala,fizika,komunuza,sistemo,operaciumo,informo
X-KDE-Keywords[es]=Memoria,RAM,Memoria virtual,Memoria física,Memoria compartida,Swap,Intercambio,Información del sistema
X-KDE-Keywords[et]=Mälu,RAM,Virtuaalmälu,Füüsiline mälu,Jagatud mälu,Swap,Saaleala,Süsteemi info
X-KDE-Keywords[eu]=Memoria,RAM,Memoria birtuala,Memoria fisikoa,Partekatutako memoria, Swap,Sistemaren informazioa
X-KDE-Keywords[fa]=حافظه، حافظه با دستیابی تصادفی، حافظۀ مجازی، حافظۀ فیزیکی، حافظۀ مشترک، مبادله کردن، اطلاعات سیستم
X-KDE-Keywords[fi]=Muisti,RAM,Virtuaalimuisti,Fyysinen muisti,Jaettu muisti,Järjestelmätiedot
X-KDE-Keywords[fr]=mémoire,RAM,mémoire virtuelle,mémoire physique,mémoire partagée,swap,partition d'échange,informations système,ram
X-KDE-Keywords[fy]=memory,RAM,virtual memory,physical memory,shared memory,swap,systeemynformaasje,ûnthâld,wikselûnthâld,,virtueel ûnthâld,fysiek ûnthâld,dield ûnthâld,
X-KDE-Keywords[ga]=Cuimhne,RAM,Cuimhne fhíorúil,Cuimhne ábhartha,Comhchuimhne,Cuimhne bhabhtála,Eolas faoin Chóras
X-KDE-Keywords[gl]=Memória,RAM,Memória virtual,Memória física,Memória compartida,Swap,Intercámbio,Información do Sistema
X-KDE-Keywords[he]=זיכרון פנימי,זיכרון וירטואלי,זיכרון משותף,תחלופה,מידע, מערכת,RAM,זיכרון,Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[hr]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,Memorija,Virtualana memorija,Fizička memorija,Dijeljena memorija,Podaci o sustavu
X-KDE-Keywords[hu]=memória,RAM,virtuális memória,fizikai memória,megosztott memória,lapozómemória,lapozó,swap,rendszerinformáció
X-KDE-Keywords[is]=Minni,vinnsluminni,sýndarminni,samnýtt minni,biðminni,diskminni,kerfi,upplýsingar
X-KDE-Keywords[it]=memoria,RAM,memoria virtuale,memoria fisica,memoria condivisa,swap,informazioni sul sistema
X-KDE-Keywords[ja]=メモリ,RAM,仮想メモリ,物理メモリ,共有メモリ, スワップ, システム情報
X-KDE-Keywords[ka]=მეხსიერება,RAM,ვირტუალური მეხსეირება,ფიზიკური მეხსიერება,საერთო მეხსიერება,მიმოცვლის ფაილია,ინფორმაცია სისტემის შესახებ
X-KDE-Keywords[km]=សតិ RAM សតិ​និម្មិត សតិពិត សតិ​ដែល​បាន​ចែករំលែក ស្វប ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=메모리,RAM,가상 메모리,물리 메모리,공유 메모리,스왑,시스템 정보
X-KDE-Keywords[lt]=Memory,atmintis,RAM,atmintinė,Virtual memory,virtuali atmintis,Physical memory,fizinė atmintis,Shared memory,bendro naudojimo atmintis,Swap,System Information,sisteminė informacija
X-KDE-Keywords[lv]=Atmiņa,RAM,Virtuālā atmiņa,Fiziskā atmiņa,Koplietošanas atmiņa,Svaps,Sistēmas Informācija
X-KDE-Keywords[mk]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,Меморија,Виртуелна меморија,Физичка меморија,Заедничка меморија,Информации за системот
X-KDE-Keywords[nb]=Minne,RAM,Kunstig minne,Fysisk minne,Delt minne,Vekselsminne,Systeminformasjon
X-KDE-Keywords[nds]=Spieker,RAM,Virtuell Spieker,Physikaalsch Spieker,Deelt Spieker,Swap,Utlager-Spieker,utlagern,Systeeminformatschoon
X-KDE-Keywords[ne]=स्मृति, र्याम, अवास्तविक स्मृति, भौतीक स्मृति, साझेदारी स्मृति, स्वाप, प्रणाली सूचना
X-KDE-Keywords[nl]=memory,RAM,virtual memory,physical memory,shared memory,swap,systeeminformatie,geheugen,wisselgeheugen,virtueel geheugen,fysiek geheugen,gedeeld geheugen
X-KDE-Keywords[nn]=minne,RAM,virtuelt minne,fysisk minne,delt minne,veksleminne,systeminformasjon
X-KDE-Keywords[pa]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,ਮੈਮੋਰੀ,ਭੌਤਿਕ ਮੈਮੋਰੀ,ਸਾਂਝੀ ਮੈਮੋਰੀ,ਸਵੈਪ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ,ਰੈਮ
X-KDE-Keywords[pl]=pamięć,RAM,pamięć wirtualna,pamięć fizyczna,pamięć współdzielona,plik wymiany,partycja wymiany,informacja o systemie
X-KDE-Keywords[pt]=memória,RAM,memória virtual,memória física,memória partilhada,swap,informações do sistema
X-KDE-Keywords[pt_BR]=Memória,RAM,Memória virtual,Memória física,Memória compartilhada,Swap,Troca,Informações de sistema
X-KDE-Keywords[ro]=memorie,RAM,memorie virtuală,memorie fizică,memorie partajată,swap,informaţii despre sistem
X-KDE-Keywords[se]=muitu,RAM,virtuella muitu,fysálaš muitu,juohkojuvvon muitu,vuorromuitu, vuogádatdiehtu
X-KDE-Keywords[sl]=pomnilnik,RAM,navidezni pomnilnik,fizični pomnilnik,deljeni pomnilnik,izmenjalni prostor,informacije o sistemu
X-KDE-Keywords[sr]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,меморија,виртуелна меморија,физичка меморија,дељена меморија,размена,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,memorija,virtuelna memorija,fizička memorija,deljena memorija,razmena,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=Minne,RAM,Virtuellt minne,Fysiskt minne,Delat minne,Swapp,Systeminformation
X-KDE-Keywords[ta]=நினைவகம், RAM,மய் நிகர் நினைவகம், பருநிலை நினைவகம், பகிர்வு நினைவகம், மாறுகொள், அமைப்புத்தகவல்
X-KDE-Keywords[th]=หน่วยความจำ,แรม,หน่วยความจำเสมือน,หน่วยความจำจริง,หน่วยความจำที่ใช้ร่วมกัน,สวอป, ข้อมูลระบบ
X-KDE-Keywords[tr]=Bellek,RAM,Sanal bellek,Fiziksel bellek,Paylaşılan bellek,Takas,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=пам'ять,RAM,віртуальна пам'ять,фізична пам'ять,спільна пам'ять,свопінг,swap,інформація,система
X-KDE-Keywords[uz]=Хотира,RAM,Виртуал хотира,Physical memory,Бўлишилган хотира,Своп,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=Bộ nhớ,RAM,Bộ nhớ ảo,Bộ nhớ vật lý,Bộ nhớ dùng chung,Bộ nhỡ tráo đổi,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxMemory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Informationxx
X-KDE-Keywords[xh]=Inkumbulo,RAM,Inkumbulo yobume,Inkumbulo yomzimba,Inkumbulo yokwahlulelana,Ukutshintshiselana,Ulwazi lwendlela
X-KDE-Keywords[zh_CN]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,内存,虚拟存储,物理存储,共享内存,交换,系统信息
X-KDE-Keywords[zh_TW]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,記憶體,虛擬記憶體,實體記憶體,共享記憶體,系統資訊
Categories=Qt;KDE;X-KDE-information;
