# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Service
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cpu
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=desktop
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=main.qml

Name=CPU

Comment=Advanced CPU Information

X-KDE-Keywords=cpu,amd,intel,arm,instructions,cores,architecture,byte order
