# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Service
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_cpu
X-KDE-ServiceTypes=Plasma/GenericQml
X-KDE-FormFactors=desktop
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=main.qml

Name=CPU
Name[az]=CPU
Name[ca]=CPU
Name[cs]=CPU
Name[el]=CPU
Name[es]=CPU
Name[eu]=PUZ
Name[fr]=Processeur
Name[ia]=CPU
Name[it]=CPU
Name[lt]=Procesorius
Name[nl]=CPU
Name[pl]=Procesor
Name[pt]=CPU
Name[pt_BR]=CPU
Name[sk]=CPU
Name[sl]=CPE
Name[sv]=Processor
Name[uk]=Процесор
Name[vi]=CPU
Name[x-test]=xxCPUxx
Name[zh_CN]=CPU

Comment=Advanced CPU Information
Comment[az]=Əlavə CPU məlumatı
Comment[ca]=Informació avançada de la CPU
Comment[cs]=Pokročilé informace o CPU
Comment[el]=Προηγμένες πληροφορίες για την CPU
Comment[es]=Información avanzada de la CPU
Comment[eu]=PUZari buruzko informazio aurreratua
Comment[fr]=Informations avancées sur les processeurs
Comment[ia]=Information de CPU avantiate
Comment[it]=Informazioni avanzate CPU
Comment[lt]=Išplėstinė informacija apie procesorių
Comment[nl]=Geavanceerde CPU-informatie
Comment[pl]=Rozszerzone szczegóły procesora
Comment[pt]=Informação Avançada do CPU
Comment[pt_BR]=Informações avançadas da CPU
Comment[sk]=Pokročilé informácie o procesore
Comment[sl]=Napredne informacije o CPE
Comment[sv]=Avancerad processorinformation
Comment[uk]=Додаткові відомості щодо процесора
Comment[vi]=Thông tin nâng cao về CPU
Comment[x-test]=xxAdvanced CPU Informationxx
Comment[zh_CN]=高级 CPU 信息

X-KDE-Keywords=cpu,amd,intel,arm,instructions,cores,architecture,byte order
X-KDE-Keywords[az]=cpu,amd,intel,arm,instructions,cores,architecture,byte order,təlimatlar,nüvə,növbə,arxitektura,bayt
X-KDE-Keywords[ca]=cpu,amd,intel,arm,instruccions,nuclis,arquitectura,ordre de bytes
X-KDE-Keywords[cs]=cpu,amd,intel,arm,instrukce,jádra,architektura,pořadí bajtů
X-KDE-Keywords[el]=cpu,amd,intel,arm,instructions,πυρήνες,αρχιτεκτονική,byte order
X-KDE-Keywords[es]=cpu,amd,intel,arm,instrucciones,cores,núcleos,arquitectura,byte order,orden de bytes
X-KDE-Keywords[eu]=cpu,puz,amd,intel,arm,aginduak,cores,nukleoak,arkitektura,byte ordena
X-KDE-Keywords[fr]=cpu, amd, intel, arm, instructions, cœurs, architecture, ordre des octets
X-KDE-Keywords[it]=cpu,amd,intel,arm,istruzioni,core,architettura,byte order
X-KDE-Keywords[lt]=procesorius,cpu,amd,intel,arm,nurodymai,instrukcija,instrukcijos,branduolys,branduoliai,architektūra,architektura,baitu tvarka,baitų tvarka
X-KDE-Keywords[nl]=cpu,amd,intel,arm,instructies,kernen,architectuur,byte volgorde
X-KDE-Keywords[pl]=cpu,amd,intel,arm,instrukcje,jądra,architektura,kolejność bajtów
X-KDE-Keywords[pt]=CPU,amd,intel,arm,instruções,núcleos,arquitectura,ordem dos 'bytes'
X-KDE-Keywords[pt_BR]=cpu,amd,intel,arm,instruções,cores,arquitetura,byte order,ordem dos bits
X-KDE-Keywords[sk]=cpu,amd,intel,arm,inštrukcie,jadrá,architektúra,poradie bajtov
X-KDE-Keywords[sl]=cpe,amd,intel,arm,instrukcije,jedra,arhitektura,vrstni red
X-KDE-Keywords[sv]=processor,amd,intel,arm,instruktioner,kärnor,arkitektur,byteordning
X-KDE-Keywords[uk]=cpu,amd,intel,arm,instructions,cores,architecture,byte order,процесор,амд,інтел,арм,інструкції,ядра,архітектура,порядок байтів
X-KDE-Keywords[vi]=cpu,amd,intel,arm,instructions,cores,architecture,byte order,lệnh,lõi,kiến trúc,thứ tự byte
X-KDE-Keywords[x-test]=xxcpuxx,xxamdxx,xxintelxx,xxarmxx,xxinstructionsxx,xxcoresxx,xxarchitecturexx,xxbyte orderxx
X-KDE-Keywords[zh_CN]=cpu,amd,intel,arm,instructions,cores,architecture,byte order,中央处理器,处理器,指令集,处理器核心,核心,内核,核心数量,架构,体系,字节顺序
