[Desktop Entry]
Exec=kcmshell4 processor
Icon=cpu
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/processor/index.html


X-KDE-Library=kcm_info
X-KDE-PluginKeyword=cpu
X-KDE-ParentApp=kinfocenter

Name=Processor
Name[af]=Verwerker
Name[ar]=المعالج
Name[as]=সংসাধক
Name[be]=Працэсар
Name[be@latin]=Pracesar
Name[bg]=Процесор
Name[bn]=প্রসেসর
Name[bn_IN]=প্রসেসর
Name[br]=Kewerier
Name[ca]=Processador
Name[ca@valencia]=Processador
Name[cs]=Procesor
Name[csb]=Procesora
Name[cy]=Prosesydd
Name[da]=Processor
Name[de]=Prozessor
Name[el]=Επεξεργαστής
Name[en_GB]=Processor
Name[eo]=Procesoro
Name[es]=Procesador
Name[et]=Protsessor
Name[eu]=Prozesagailua
Name[fa]=پردازنده
Name[fi]=Prosessori
Name[fr]=Processeur
Name[fy]=Ferwurkingsienheid
Name[ga]=Próiseálaí
Name[gl]=Procesador
Name[gu]=પ્રોસેસર
Name[he]=מעבד
Name[hi]=प्रोसेसर
Name[hne]=प्रोसेसर
Name[hr]=Procesor
Name[hsb]=procesor
Name[hu]=Processzor
Name[ia]=Processor
Name[id]=Prosesor
Name[is]=Örgjörvi
Name[it]=Processore
Name[ja]=プロセッサ
Name[ka]=პროცესორი
Name[kk]=Процессор
Name[km]=ប្រព័ន្ធ​​ដំណើរការ
Name[kn]=ಸಂಸ್ಕಾರಕ
Name[ko]=프로세서
Name[ku]=Kiryarkar
Name[lt]=Procesorius
Name[lv]=Procesors
Name[mai]=प्रोसेसर
Name[mk]=Процесор
Name[ml]=പ്രൊസസ്സര്‍
Name[mr]=प्रोसेसर
Name[ms]=Pemproses
Name[nb]=Prosessor
Name[nds]=Perzesser
Name[ne]=प्रोसेसर
Name[nl]=Processor
Name[nn]=Prosessor
Name[oc]=Processor
Name[or]=ସଞ୍ଚାଳକ
Name[pa]=ਪਰੋਸੈਸਰ
Name[pl]=Procesor
Name[pt]=Processador
Name[pt_BR]=Processador
Name[ro]=Procesor
Name[ru]=Процессор
Name[se]=Doaimmár
Name[si]=සකසනය
Name[sl]=Procesor
Name[sr]=Процесор
Name[sr@ijekavian]=Процесор
Name[sr@ijekavianlatin]=Procesor
Name[sr@latin]=Procesor
Name[sv]=Processor
Name[ta]=ஆக்கி
Name[te]=ప్రాసెసర్
Name[tg]=Амалкард
Name[th]=ตัวประมวลผล
Name[tr]=İşlemci
Name[uk]=Процесор
Name[uz]=Protsessor
Name[uz@cyrillic]=Процессор
Name[vi]=Bộ xử lý
Name[wa]=Processeu
Name[xh]=Umqhubekekisi phambili
Name[x-test]=xxProcessorxx
Name[zh_CN]=处理器
Name[zh_TW]=處理器

Comment=Processor information
Comment[af]=Verwerker informasie
Comment[ar]=معلومات المعالج
Comment[as]=সংসাধকৰ তথ্য
Comment[be]=Звесткі пра працэсар
Comment[be@latin]=Źviestki ab pracesary
Comment[bg]=Информация за процесора(ите) на системата
Comment[bn]=প্রসেসর তথ্য
Comment[bn_IN]=প্রসেসর সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar c'hewerier
Comment[ca]=Informació del processador
Comment[ca@valencia]=Informació del processador
Comment[cs]=Informace o procesoru
Comment[csb]=Wëdowiédzô ò procesorze
Comment[cy]=Gwybodaeth prosesydd
Comment[da]=Information om processoren
Comment[de]=Informationen zum Prozessor
Comment[el]=Πληροφορίες για τον επεξεργαστή
Comment[en_GB]=Processor information
Comment[eo]=Informoj pri procesoro
Comment[es]=Información sobre el procesador
Comment[et]=Protsessori info
Comment[eu]=Prozesagailuari buruzko informazioa
Comment[fa]=اطلاعات پردازنده
Comment[fi]=Tietoja prosessorista
Comment[fr]=Informations sur le processeur
Comment[fy]=Ferwurkingsienheid ynformaasje
Comment[ga]=Eolas faoin phróiseálaí
Comment[gl]=Información do procesador
Comment[gu]=પ્રોસેસર માહિતી
Comment[he]=מידע על המעבד
Comment[hi]=प्रोसेसर जानकारी
Comment[hne]=प्रोसेसर जानकारी
Comment[hr]=Podaci o procesoru
Comment[hsb]=Informacija wo procesoru
Comment[hu]=A processzor jellemzői
Comment[ia]=Information del Processor
Comment[id]=Informasi Prosesor
Comment[is]=Upplýsingar um örgjörva
Comment[it]=Informazioni sul processore
Comment[ja]=プロセッサの情報
Comment[ka]=ინფორმაცია პროცესორის შესახებ
Comment[kk]=Процессор мәліметі
Comment[km]=ព័ត៌មាន​ប្រព័ន្ធ​ដំណើរការ
Comment[kn]=ಸಂಸ್ಕಾರಕದ ಮಾಹಿತಿ
Comment[ko]=프로세서 정보
Comment[ku]=Agahiyên Kiryarkarê
Comment[lt]=Procesoriaus informacija
Comment[lv]=Procesora informācija
Comment[mai]=प्रोसेसर सूचना
Comment[mk]=Информации за процесорот
Comment[ml]=പ്രൊസസ്സറിന്റെ വിവരങ്ങള്‍
Comment[mr]=प्रोसेसर माहिती
Comment[ms]=Maklumat pemproses
Comment[nb]=Prosessorinformasjon
Comment[nds]=Informatschoon över den Perzesser
Comment[ne]=प्रोसेसर सूचना
Comment[nl]=Processorinformatie
Comment[nn]=Prosessorinformasjon
Comment[or]=ସଂଚାଳକ ସୂଚନା
Comment[pa]=ਪਰੋਸੈਸਰ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o procesorze
Comment[pt]=Informação do processador
Comment[pt_BR]=Informações sobre o processador
Comment[ro]=Informații despre microprocesor
Comment[ru]=Сведения о процессоре
Comment[se]=Doaimmárdieđut
Comment[si]=සකසනයේ තොරතුරු
Comment[sl]=Podatki o procesorju
Comment[sr]=Подаци о процесору
Comment[sr@ijekavian]=Подаци о процесору
Comment[sr@ijekavianlatin]=Podaci o procesoru
Comment[sr@latin]=Podaci o procesoru
Comment[sv]=Processorinformation
Comment[ta]=ஆக்கி தகவல்
Comment[te]=ప్రాసెసర్ సమాచారం
Comment[tg]=Иттилоот оиди амалкард
Comment[th]=ข้อมูลตัวประมวลผล
Comment[tr]=İşlemci hakkında bilgi
Comment[uk]=Інформація щодо процесора
Comment[uz]=Protsessor haqida maʼlumot
Comment[uz@cyrillic]=Процессор ҳақида маълумот
Comment[vi]=Thông tin về bộ vi xử lý
Comment[wa]=Infôrmåcion sol processeu
Comment[xh]=Inkcukacha yenkcukacha
Comment[x-test]=xxProcessor informationxx
Comment[zh_CN]=处理器信息
Comment[zh_TW]=處理器資訊

X-KDE-Keywords=Processor,CPU,FPU,MHz,System Information
X-KDE-Keywords[af]=Processor,CPU,FPU,MHz,System Informasie
X-KDE-Keywords[be]=Працэсар,МГц,Сістэмная інфармацыя,Processor,CPU,FPU,MHz,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, процесор, Processor, CPU, FPU, MHz, System Information
X-KDE-Keywords[br]=Kewerier,UTK,UNS,MHz,titouroù reizhiad
X-KDE-Keywords[ca]=Processador,CPU,FPU,MHz,Informació del sistema
X-KDE-Keywords[cs]=Procesor,CPU,FPU,MHz,Informace o systému
X-KDE-Keywords[csb]=procesora,CPU,JAL,FPU,MHz,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=Prosesydd,CPU,FPU,MHz,Gwybodaeth Cysawd
X-KDE-Keywords[da]=Processor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[de]=Prozessor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[el]=Επεξεργαστής,ΚΜΕ,FPU,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=procezilo,CPU,FPU,MHz,frekvenco,sistemo,operaciumo,informo
X-KDE-Keywords[es]=Procesador,CPU,FPU,MHz,Información del sistema
X-KDE-Keywords[et]=Protsessor,CPU,FPU,MHz,Süsteemi info
X-KDE-Keywords[eu]=Prozesagailua,CPU,FPU,MHz,Sistemaren informazioa
X-KDE-Keywords[fa]=پردازنده، واحد پردازش مرکزی، FPU، مگاهرتز، اطلاعات سیستم
X-KDE-Keywords[fi]=Prosessori,CPU,FPU,MHz,Järjestelmätiedot
X-KDE-Keywords[fr]=processeur,CPU,FPU,MHz,informations système,cpu
X-KDE-Keywords[fy]=Processor,Ferwurkingsienheid,CPU,FPU,MHz,Systeemynformaasje
X-KDE-Keywords[ga]=Próiseálaí,CPU,LAP,FPU,MHz,Eolas faoin Chóras
X-KDE-Keywords[gl]=Procesador,CPU,FPU,MHz,Información do Sistema
X-KDE-Keywords[he]=FPU,מעבד,מעבד מתמטי,מגה־הרץ,מידע מערכת,System Information
X-KDE-Keywords[hr]=Processor,CPU,FPU,MHz,System Information,procesor,Podaci o sustavu
X-KDE-Keywords[hu]=processzor,CPU,FPU,MHz,rendszerinformáció
X-KDE-Keywords[is]=örgjörvi,örgjörfi,Gjörvi,kerfi,upplýsingar,CPU,MHz,FPUz
X-KDE-Keywords[it]=processore,CPU,FPU,MHz,informazioni sul sistema
X-KDE-Keywords[ja]=プロセッサ,CPU,FPU,MHz,システムの情報
X-KDE-Keywords[ka]=პროცესორი,CPU,FPU,MHz,ინფორმაცია სისტემის შესახებ
X-KDE-Keywords[km]=ប្រព័ន្ធ​ដំណើរការ ស៊ីភីយូ FPU MHz ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=Processor,프로세서,CPU,FPU,MHz,시스템 정보
X-KDE-Keywords[lt]=Procesorius,CPU,FPU,MHz,Sistemos Informacija
X-KDE-Keywords[lv]=Procesors,CPU,FPU,MHz,Sistēmas Informācija
X-KDE-Keywords[mk]=Processor,CPU,FPU,MHz,System Information,Процесор,Информации за системот
X-KDE-Keywords[ms]=Pemproses,CPU,FPU,MHz,Maklumat Sistem
X-KDE-Keywords[nb]=Prosessor,CPU,FPU,Sentralenhet,MHz,Systeminformasjon
X-KDE-Keywords[nds]=Perzesser,CPU,FPU,MHz,Systeeminformatschoon
X-KDE-Keywords[ne]=प्रोसेसर, सीपीयू, एफपीयू, एमएचजेट, प्रणाली सूचना
X-KDE-Keywords[nl]=processor,CPU,FPU,MHz,systeeminformatie
X-KDE-Keywords[nn]=prosessor,CPU,FPU,MHz,systeminformasjon
X-KDE-Keywords[pa]=ਪਰੋਸੈਸਰ,CPU,FPU,MHz,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=procesor,CPU,JAL,FPU,MHz,informacja o systemie
X-KDE-Keywords[pt]=processador,CPU,FPU,MHz,informações do sistema
X-KDE-Keywords[pt_BR]=Processador,CPU,FPU,MHz,Informações de sistema
X-KDE-Keywords[ro]=procesor,microprocesor,CPU,FPU,MHz,informaţii despre sistem
X-KDE-Keywords[se]=Doaimmár,CPU,FPU,MHz,vuogádatdieđut
X-KDE-Keywords[sl]=procesor,CPE,CPU,FPU,MHz,informacije o sistemu
X-KDE-Keywords[sr]=Processor,CPU,FPU,MHz,System Information,ЦПУ,ФПУ,процесор,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=Processor,CPU,FPU,MHz,System Information,CPU,FPU,procesor,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=Processor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[ta]=செயலி,CPU,FPU,MHz,அமைப்புத் தகவல்
X-KDE-Keywords[th]=หน่วยประมวลผล,CPU,FPU,MHz,ข้อมูลระบบ
X-KDE-Keywords[tr]=İşlemci,MİB,FPU,MHz,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=процесор,CPU,FPU,МГц,системна інформація
X-KDE-Keywords[uz]=Процессор,CPU,FPU,МГц,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=Bộ vi xử lý,CPU,FPU,Mhz,Thông tin Hệ thống
X-KDE-Keywords[wa]=Processeu,CPU,FPU,MHz,Infôrmåcion sol sistinme
X-KDE-Keywords[x-test]=xxProcessor,CPU,FPU,MHz,System Informationxx
X-KDE-Keywords[xh]=Umqhubekekisi,CPU,FPU,MHz,Inkcukacha Yendlela yokusebenza
X-KDE-Keywords[zh_CN]=Processor,CPU,FPU,MHz,System Information,处理器,系统信息
X-KDE-Keywords[zh_TW]=Processor,CPU,FPU,MHz,System Information,處理器,中央處理器,浮點運算器,系統資訊
Categories=Qt;KDE;X-KDE-information;
