[Desktop Entry]
Exec=kcmshell4 devinfo
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-KInfoCenter-Category=Device Information
X-KDE-Library=devinfo
X-KDE-ParentApp=kinfocenter

Name=Device Viewer
Name[ia]=Visor de Dispositivo
Name[km]=កម្មវិធី​មើល​ឧបករណ៍
Name[pt]=Visualizador de Dispositivos
Name[sv]=Enhetsvisning
Name[tg]=Намоишгари тасвирҳо
Name[th]=ตัวแสดงอุปกรณ์
Name[uk]=Переглядач пристроїв
Name[x-test]=xxDevice Viewerxx
Name[zh_TW]=裝置檢視器

Comment=Device Viewer
Comment[ia]=Visor de dispositivo
Comment[km]=កម្មវិធី​មើល​ឧបករណ៍
Comment[pt]=Visualizador de Dispositivos
Comment[sv]=Enhetsvisning
Comment[uk]=Переглядач пристроїв
Comment[x-test]=xxDevice Viewerxx
Comment[zh_TW]=裝置檢視器

X-KDE-Keywords=device,devices
X-DocPath=kinfocenter/devinfo/index.html
Categories=Qt;KDE;X-KDE-information;
