[Desktop Entry]
Exec=kcmshell5 devinfo
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=devinfo
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#devinfo

Name=Device Viewer
Name[nl]=Apparaatweergaveprogramma
Name[uk]=Переглядач пристроїв
Name[x-test]=xxDevice Viewerxx

Comment=Device Viewer
Comment[nl]=Apparaatweergaveprogramma
Comment[uk]=Переглядач пристроїв
Comment[x-test]=xxDevice Viewerxx

X-KDE-Keywords=device,devices
X-KDE-Keywords[nl]=apparaat,apparaten
X-KDE-Keywords[uk]=пристрій,пристрої
X-KDE-Keywords[x-test]=xxdevice,devicesxx
Categories=Qt;KDE;X-KDE-information;
