[Desktop Entry]
Exec=kcmshell4 devinfo
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-KInfoCenter-Category=Device Information
X-KDE-Library=devinfo
X-KDE-ParentApp=kinfocenter

Name=Device Viewer
Name[de]=Gerätebetrachter
Name[en_GB]=Device Viewer
Name[es]=Visor de dispositivos
Name[ia]=Visor de Dispositivo
Name[id]=Penampil Divais
Name[is]=Tækjaskoðun
Name[ja]=デバイスビューア
Name[kk]=Құрылғыларды қарау құралы
Name[km]=កម្មវិធី​មើល​ឧបករណ៍
Name[lt]=Įrenginių žiūriklis
Name[nb]=Enhetsviser
Name[nds]=Reedschappenkieker
Name[nl]=Apparaatweergaveprogramma
Name[pa]=ਜੰਤਰ ਦਰਸ਼ਕ
Name[pt]=Visualizador de Dispositivos
Name[pt_BR]=Visualizador de dispositivos
Name[sv]=Enhetsvisning
Name[tg]=Намоишгари тасвирҳо
Name[th]=ตัวแสดงอุปกรณ์
Name[uk]=Переглядач пристроїв
Name[x-test]=xxDevice Viewerxx
Name[zh_CN]=设备查看器
Name[zh_TW]=裝置檢視器

Comment=Device Viewer
Comment[de]=Gerätebetrachter
Comment[en_GB]=Device Viewer
Comment[es]=Visor de dispositivos
Comment[ia]=Visor de dispositivo
Comment[id]=Penampil Divais
Comment[is]=Tækjaskoðun
Comment[ja]=デバイスビューア
Comment[kk]=Құралдарды қарау құралы
Comment[km]=កម្មវិធី​មើល​ឧបករណ៍
Comment[lt]=Įrenginių žiūriklis
Comment[nb]=Enhetsviser
Comment[nds]=Reedschappenkieker
Comment[nl]=Apparaatweergaveprogramma
Comment[pa]=ਜੰਤਰ ਦਰਸ਼ਕ
Comment[pt]=Visualizador de Dispositivos
Comment[pt_BR]=Visualizador de dispositivos
Comment[sv]=Enhetsvisning
Comment[th]=ตัวแสดงอุปกรณ์
Comment[uk]=Переглядач пристроїв
Comment[x-test]=xxDevice Viewerxx
Comment[zh_CN]=设备查看器
Comment[zh_TW]=裝置檢視器

X-KDE-Keywords=device,devices
Categories=Qt;KDE;X-KDE-information;
