[Desktop Entry]
Exec=kcmshell4 nic
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/nics/index.html
Icon=network-workgroup

X-KDE-Library=kcm_nic
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[af]=Netwerk Koppelvlakke
Name[ar]=واجهات الشبكة
Name[be]=Сеткавыя інтэрфейсы
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক ইন্টারফেস
Name[br]=Etrefasoù Rouedad
Name[ca]=Interfícies de xarxa
Name[cs]=Síťová rozhraní
Name[csb]=Sécowé interfejsë
Name[cy]=Rhyngwynebau Rhwydwaith
Name[da]=Netværksgrænseflade
Name[de]=Netzwerkschnittstellen
Name[el]=Δικτυακές διασυνδέσεις
Name[eo]=Retinterfacoj
Name[es]=Interfaces de red
Name[et]=Võrguliidesed
Name[eu]=Sare interfazeak
Name[fa]=واسطهای شبکه
Name[fi]=Verkkoliitynnät
Name[fr]=Interfaces réseau
Name[fy]=Netwurkynterfaces
Name[ga]=Comhéadain Líonra
Name[gl]=Interfaces de rede
Name[gu]=નેટવર્ક ઇન્ટરફેસ
Name[he]=ממשקי רשת
Name[hi]=नेटवर्क इंटरफेसेस
Name[hr]=Mrežna sučelja
Name[hu]=Hálózati kártyák
Name[is]=Netkort
Name[it]=Interfacce di rete
Name[ja]=ネットワークインターフェース
Name[ka]=ქსელური ინტერფეისები
Name[kk]=Желі интерфейстері
Name[km]=ចំណុច​ប្រទាក់​បណ្ដាញ
Name[ko]=네트워크 인터페이스
Name[lt]=Tinklo sąsajos
Name[lv]=Tīkla ierīces
Name[mk]=Мрежни интерфејси
Name[ms]=Antara Muka Rangkaian
Name[nb]=Nettverksgrensesnitt
Name[nds]=Nettwark-Koppelsteden
Name[ne]=सञ्जाल इन्टरफेस
Name[nl]=Netwerkinterfaces
Name[nn]=Nettverksgrensesnitt
Name[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ
Name[pl]=Interfejsy sieciowe
Name[pt]=Interfaces de Rede
Name[pt_BR]=Interfaces de Rede
Name[ro]=Interfeţe de reţea
Name[ru]=Сетевые интерфейсы
Name[se]=Fierbmelavttat
Name[sk]=Sieťové rozhrania
Name[sl]=Omrežni vmesniki
Name[sr]=Мрежна сучеља
Name[sr@latin]=Mrežna sučelja
Name[sv]=Nätverksgränssnitt
Name[ta]=வலைதள இடைமுகங்கள்
Name[te]=నెట్వర్క్ ఇంటర్ ఫెస్
Name[tg]=Воситаҳои шабака
Name[th]=แผงวงจรเครือข่าย
Name[tr]=Ağ Arayüzleri
Name[uk]=Мережеві інтерфейси
Name[uz]=Тармоқ интерфейслари
Name[vi]=Giao diện Mạng
Name[wa]=Eterfaces rantoele
Name[x-test]=xxNetwork Interfacesxx
Name[xh]=Ujongano Lomsebenzi womnatha
Name[zh_CN]=网络接口
Name[zh_TW]=網路界面

Comment=Network interface information
Comment[af]=Netwerk koppelvlak informasie
Comment[ar]=معلومات حول واجهة الشبكة
Comment[be]=Звесткі пра сеткавы інтэрфейс
Comment[bg]=Информация за мрежовите интерфейси
Comment[bn]=নেটওয়ার্ক ইন্টারফেস সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an etrefasoù rouedad
Comment[ca]=Informació de la interfície de xarxa
Comment[cs]=Informace o síťových rozhraních
Comment[csb]=Wëdowiédzô ò sécowim interfejse
Comment[cy]=Gwybodaeth rhyngwynebau rhwydwaith
Comment[da]=Information om netværksgrænseflade
Comment[de]=Informationen über die Netzwerkanschlüsse
Comment[el]=Πληροφορίες δικτυακής διασύνδεσης
Comment[eo]=Informoj pri retinterfaco
Comment[es]=Información sobre la interfaz de red
Comment[et]=Võrguliideste info
Comment[eu]=Sare interfazeari buruzko informazioa
Comment[fa]=اطلاعات واسط شبکه
Comment[fi]=Verkkoliityntöjen tiedot
Comment[fr]=Informations sur l'interface réseau
Comment[fy]=Netwurkynterface-ynformaasje
Comment[ga]=Eolas faoin gcomhéadan líonra
Comment[gl]=Información da interface de rede
Comment[gu]=નેટવર્ક ઇન્ટરફેસ માહિતી
Comment[he]=מידע על ממשקי רשת
Comment[hi]=नेटवर्क इंटरफेस जानकारी
Comment[hr]=Podaci o mrežnom sučelju
Comment[hu]=A hálózati kártyák jellemzői
Comment[is]=Upplýsingar um Netkort
Comment[it]=Informazioni sulle interfacce di rete
Comment[ja]=ネットワークインターフェースの情報
Comment[ka]=ცნობები ქსელური ინტერფეისების შესახებ
Comment[kk]=Желі интерфейсінің мәліметі
Comment[km]=ព័ត៌មាន​ចំណុច​ប្រទាក់​បណ្ដាញ
Comment[ko]=네트워크 인터페이스 정보
Comment[lt]=Tinklo sąsajos informacija
Comment[lv]=Tīkla ierīču informācija
Comment[mk]=Информации за мрежните интерфејси
Comment[ms]=Maklumat antara muka rangkaian
Comment[nb]=Informasjon om nettverksgrensesnitt
Comment[nds]=Informatschoon över de Nettwark-Koppelsteden
Comment[ne]=सञ्जाल इन्टरफेस सूचना
Comment[nl]=Netwerkinterface-informatie
Comment[nn]=Informasjon om nettverksgrensesnitt
Comment[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o interfejsie sieciowym
Comment[pt]=Informações sobre as interfaces de rede
Comment[pt_BR]=Informações sobre rede
Comment[ro]=Afişează informaţii despre interfeţele de reţea
Comment[ru]=Сведения о сетевых интерфейсах
Comment[se]=Fierbmalaktadiehtu
Comment[sk]=Informácie o sieťových rozhraniach
Comment[sl]=Podatki o omrežnih vmesnikih
Comment[sr]=Подаци о мрежним сучељима
Comment[sr@latin]=Podaci o mrežnim sučeljima
Comment[sv]=Information om nätverksgränssnitt
Comment[ta]=வலைதள இடைமுகத் தகவல்
Comment[te]=నెట్వర్క్ ఇంటర్ ఫెస్ సమాచారం
Comment[tg]=Иттилооти шабака
Comment[th]=ข้อมูลแผงวงจรเครือข่าย
Comment[tr]=Ağ arayüz bilgisi
Comment[uk]=Інформація щодо інтерфейсів мережі
Comment[uz]=Тармоқ интерфейслари ҳақида маълумот
Comment[vi]=Thông tin giao diện mạng
Comment[wa]=Infôrmåcion so l' eterface rantoele
Comment[x-test]=xxNetwork interface informationxx
Comment[xh]=Ulwazi lojongano lomsebenzi womnatha
Comment[zh_CN]=网络接口信息
Comment[zh_TW]=網路界面資訊

Categories=Qt;KDE;X-KDE-information;
