[Desktop Entry]
Exec=kcmshell5 nic
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=network-workgroup

X-KDE-KInfoCenter-Category=network_information
X-KDE-Library=kcm_nic
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#nic

Name=Network Interfaces

Comment=Network interface information

Categories=Qt;KDE;X-KDE-information;
