[Desktop Entry]
Exec=kcmshell4 kcm_pci
Icon=memory
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/pci/index.html

X-KDE-KInfoCenter-Category=Device Information
X-KDE-Library=kcm_pci
X-KDE-ParentApp=kinfocenter

Name=PCI
Name[es]=PCI
Name[fr]=PCI
Name[nb]=PCI
Name[nn]=PCI
Name[pt]=PCI
Name[pt_BR]=PCI
Name[sv]=PCI
Name[uk]=Шина PCI
Name[x-test]=xxPCIxx

Comment=PCI information
Comment[es]=Información de PCI
Comment[fr]=Information PCI
Comment[nb]=PCI-informasjon
Comment[nn]=PCI-informasjon
Comment[pt]=Informação sobre o PCI
Comment[pt_BR]=Informações sobre o PCI
Comment[sv]=PCI-information
Comment[uk]=Інформація щодо шини PCI
Comment[x-test]=xxPCI informationxx

X-KDE-Keywords=PCI,PCI-Devices,PCI-Bus,System Information
X-KDE-Keywords[af]=PCI,PCI-Devices,PCI-Bus,System Informasie
X-KDE-Keywords[be]=Прылады PCI,Сістэмная інфармацыя,PCI,PCI-Devices,PCI-Bus,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, шина, PCI, PCI-Devices, PCI-Bus, System Information
X-KDE-Keywords[br]=PCI,trobarzhelloù PCI,bus PCI,titouroù reizhiad
X-KDE-Keywords[ca]=PCI,Dispositius PCI,Bus PCI,Informació del sistema
X-KDE-Keywords[cs]=PCI,PCI-zařízení,PCI-sběrnice,Informace o systému
X-KDE-Keywords[csb]=PCI,ùrządzenia PCI,magistrala PCI,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=PCI,Dyfeisiau-PCI,Bws-PCI,Gwybodaeth Cysawd
X-KDE-Keywords[da]=PCI,PCI-enheder,PCI-bus,Systeminformation
X-KDE-Keywords[de]=PCI,PCI-Geräte,PCI-Bus,Systeminformation
X-KDE-Keywords[el]=PCI,Συσκευές PCI,Δίαυλος PCI,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=PCI,aparato,buso,sistemo,operaciumo,informo
X-KDE-Keywords[es]=PCI,Dispositivos PCI,Bus PCI,Información del sistema
X-KDE-Keywords[et]=PCI,PCi seadmed,PCI siin,Süsteemi info
X-KDE-Keywords[eu]=PCI,PCI-gailuak,PCI busa,Sistemaren informazioa
X-KDE-Keywords[fa]=PCI ،دستگاههای PCI ،گذرگاه PCI ،اطلاعات سیستم
X-KDE-Keywords[fi]=PCI,PCI-Laitteet,PCI-Väylä,Järjestelmätiedot
X-KDE-Keywords[fr]=PCI,périphériques PCI,bus PCI,informations système,pci
X-KDE-Keywords[fy]=PCI,PCI-devices,PCI-bus,systeemynformaasje,PCI-apparaten
X-KDE-Keywords[gl]=PCI,Dispositivos PCI,Bus PCI,Información do Sistema
X-KDE-Keywords[he]=מידע מערכת,אפיק PCI,התקני PCI,PCI,System Information
X-KDE-Keywords[hr]=PCI,PCI-Devices,PCI-Bus,System Information,PCI uređaji,PCI sabirnica,Podaci o sustavu
X-KDE-Keywords[hu]=PCI,PCI-eszközök,PCI-busz,rendszerinformáció
X-KDE-Keywords[is]=PCI-tæki,PCI-braut,kerfi,upplýsingar
X-KDE-Keywords[it]=PCI,dispositivi PCI,bus PCI,informazioni sul sistema
X-KDE-Keywords[ja]=PCI,PCI-デバイス,PCI-バス,システムの情報
X-KDE-Keywords[km]=PCI ឧបករណ៍ PCI ខ្សែ​បញ្ជូន PCI ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=PCI,PCI 장치,PCI 버스,시스템 정보
X-KDE-Keywords[lt]=PCI,PCI-įrenginiai,PCI-Bus,Sistemos Informacija
X-KDE-Keywords[lv]=PCI,PCI-Iekārtas,PCI-Šina,Sistēmas Informācija
X-KDE-Keywords[mk]=PCI,PCI-Devices,PCI-Bus,System Information,PCI уреди,PCI магистрала,PCI собирница,Информации за системот
X-KDE-Keywords[nb]=PCI,PCI-enheter,PCI-buss,Systeminformasjon
X-KDE-Keywords[nds]=PCI,PCI-Reedschappen,PCI Bus,Systeeminformatschoon
X-KDE-Keywords[ne]=पीसीआई, पीसीआई-यन्त्र, पीसीआई-बस, प्रणाली सूचना
X-KDE-Keywords[nl]=PCI,PCI-devices,PCI-bus,systeeminformatie,PCI-apparaten
X-KDE-Keywords[nn]=PCI,PCI-einingar,PCI-buss,systeminformasjon
X-KDE-Keywords[pa]=PCI,PCI-ਜੰਤਰ,PCI-Bus,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=PCI,urządzenia PCI,magistrala PCI,informacja o systemie
X-KDE-Keywords[pt]=PCI,dispositivos PCI,bus PCI,informações do sistema
X-KDE-Keywords[pt_BR]=PCI,dispositivos PCI,Barramento PCI,Barramento PCI,Informações de sistema
X-KDE-Keywords[ro]=PCI,dispozitive PCI,bus PCI,informaţii despre sistem
X-KDE-Keywords[se]=PCI,PCI-ovttadagat,PCI-bussa,vuogádatdiehtu
X-KDE-Keywords[sl]=PCI,naprave PCI,vodilo PCI,informacije o sistemu
X-KDE-Keywords[sr]=PCI,PCI-Devices,PCI-Bus,System Information,ПЦИ,ПЦИ уређаји,ПЦИ магистрала,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=PCI,PCI-Devices,PCI-Bus,System Information,PCI,PCI uređaji,PCI magistrala,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=PCI,PCI-enheter,PCI-buss,Systeminformation
X-KDE-Keywords[ta]=PCI,PCI-சாதனங்கள்,PCI-பஸ்,சாதன தகவல்
X-KDE-Keywords[th]=PCI,อุปกรณ์ PCI,บัส PCI,ข้อมูลระบบ
X-KDE-Keywords[tr]=PCI,PCI-Aygıtları,PCI-Bus,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=PCI,пристрої PCI,шина PCI,системна інформація
X-KDE-Keywords[uz]=PCI,PCI ускуналари,PCI-Bus,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=PCI,Thiết bị PCI,Bộ nối PCI,Thông tin Hệ thống
X-KDE-Keywords[wa]=PCI,édnjins PCI,bus PCI,Infôrmåcion sol sistinme
X-KDE-Keywords[x-test]=xxPCI,PCI-Devices,PCI-Bus,System Informationxx
X-KDE-Keywords[xh]=PCI,PCI-Amacebo,PCI-Ibhasi,Ulwazi lwendlela
X-KDE-Keywords[zh_CN]=PCI,PCI-Devices,PCI-Bus,System Information,PCI 设备,PCI 总线,系统信息
X-KDE-Keywords[zh_TW]=PCI,PCI-Devices,PCI-Bus,System Information,PCI 設備,PCI 匯流排,系統資訊
Categories=Qt;KDE;X-KDE-information;
