[Desktop Entry]
Exec=kcmshell5 kcm_fileindexer
Icon=baloo
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_fileindexermonitor
X-KDE-ParentApp=kinfocenter

Name=File Indexer Monitor
Name[ca]=Controlador de l'indexador de fitxers
Name[de]=Datei-Indizierungsüberwachung
Name[en_GB]=File Indexer Monitor
Name[es]=Monitor del indexador de archivos
Name[fi]=Tiedostoindeksoijan valvonta
Name[it]=Monitor indicizzatore di file
Name[nl]=Monitor voor bestandenindexering
Name[nn]=Overvaking av filindeksering
Name[pl]=Monitor indeksowania plików
Name[pt]=Monitor de Indexação de Ficheiros
Name[pt_BR]=Monitor de Indexação de Arquivos
Name[sk]=Monitor indexera súborov
Name[sr]=Надзорник индексара фајлова
Name[sr@ijekavian]=Надзорник индексара фајлова
Name[sr@ijekavianlatin]=Nadzornik indeksara fajlova
Name[sr@latin]=Nadzornik indeksara fajlova
Name[sv]=Filindexeringsövervakare
Name[uk]=Монітор засобу індексування файлів
Name[x-test]=xxFile Indexer Monitorxx

Comment=Monitor State of File Indexer
Comment[ca]=Controlador de l'estat de l'indexador de fitxers
Comment[de]=Überwachungsstatus der Datei-Indizierung
Comment[en_GB]=Monitor State of File Indexer
Comment[es]=Monitoriza el estado del indexador de archivos
Comment[fi]=Valvo tiedostoindeksoijan tilaa
Comment[it]=Controlla lo stato dell'indicizzatore di file
Comment[nl]=Monitorstatus voor bestandenindexering
Comment[nn]=Overvak statusen til filindekseringa
Comment[pl]=Stan monitora indeksowania plików
Comment[pt]=Vigia o estado da indexação dos ficheiros
Comment[pt_BR]=Monitora o estado da indexação dos arquivos
Comment[sr]=Надзире стање индексара фајлова
Comment[sr@ijekavian]=Надзире стање индексара фајлова
Comment[sr@ijekavianlatin]=Nadzire stanje indeksara fajlova
Comment[sr@latin]=Nadzire stanje indeksara fajlova
Comment[sv]=Övervaka filindexeringens tillstånd
Comment[uk]=Спостереження за станом засобу індексування файлів
Comment[x-test]=xxMonitor State of File Indexerxx

X-KDE-Keywords=Baloo,File,Index,Monitor
X-KDE-Keywords[ca]=Baloo,Fitxer,Índex,Controlador
X-KDE-Keywords[de]=Baloo,Datei,Index,Indizierung,Überwachung
X-KDE-Keywords[en_GB]=Baloo,File,Index,Monitor
X-KDE-Keywords[es]=Baloo,Archivo,Índice,Monitor
X-KDE-Keywords[fi]=Baloo,File,Index,Monitor,Tiedosto,Indeksi,Indeksointi,Valvonta,Tarkkailu,Aktiviteetti
X-KDE-Keywords[it]=Baloo,file,indice,monitor
X-KDE-Keywords[nl]=Baloo,bestand,index,monitor
X-KDE-Keywords[nn]=Baloo,fil,indeks,indeksering,overvaking
X-KDE-Keywords[pl]=Baloo,Plik,Indeks,Monitor
X-KDE-Keywords[pt]=Baloo,Ficheiro,Índice,Monitor
X-KDE-Keywords[pt_BR]=Baloo,Arquivo,Índice,Monitor
X-KDE-Keywords[sr]=Baloo,File,Index,Monitor,Балу,фајл,индекс,надзор
X-KDE-Keywords[sr@ijekavian]=Baloo,File,Index,Monitor,Балу,фајл,индекс,надзор
X-KDE-Keywords[sr@ijekavianlatin]=Baloo,File,Index,Monitor,Baloo,fajl,indeks,nadzor
X-KDE-Keywords[sr@latin]=Baloo,File,Index,Monitor,Baloo,fajl,indeks,nadzor
X-KDE-Keywords[sv]=Baloo,Fil,Indexering,Övervaka
X-KDE-Keywords[uk]=Baloo,File,Index,Monitor,балу,файл,індекс,індексування,монітор,спостереження,стеження
X-KDE-Keywords[x-test]=xxBalooxx,xxFilexx,xxIndexxx,xxMonitorxx
X-KDE-Weight=3

Categories=Qt;KDE;X-KDE-information;
