[Desktop Entry]
Exec=kcmshell4 dma
Icon=kcmmemory
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/dma/index.html
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=Device Information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=dma
X-KDE-ParentApp=kinfocenter

Name=DMA-Channels
Name[es]=Canales DMA
Name[nb]=DMA-kanaler
Name[nn]=DMA-kanalar
Name[pt]=Canais de DMA
Name[pt_BR]=Canais DMA
Name[sv]=DMA-kanaler
Name[uk]=Канали DMA
Name[x-test]=xxDMA-Channelsxx

Comment=DMA information
Comment[es]=Información de DMA
Comment[nb]=DMA-informasjon
Comment[nn]=DMA-informasjon
Comment[pt]=Informação do DMA
Comment[pt_BR]=Informação do DMA
Comment[sv]=DMA-information
Comment[uk]=Інформація щодо DMAпристрої
Comment[x-test]=xxDMA informationxx

X-KDE-Keywords=dma,DMA-Channels,System Information
X-KDE-Keywords[af]=dma,DMA-Channels,System Informasie
X-KDE-Keywords[be]=каналы DMA,сістэмная інфармацыя,dma,DMA-Channels,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, канали, канал, dma, DMA-Channels, System Information
X-KDE-Keywords[br]=dma,kanolioù DMA,titoutoù reizhoad
X-KDE-Keywords[ca]=dma,Canals DMA,informació del sistema
X-KDE-Keywords[cs]=dma,DMA kanály,Informace o systému
X-KDE-Keywords[csb]=dma,kanałë DMA,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=dma,Sianeli DMA,Gwybodaeth Cysawd
X-KDE-Keywords[da]=dma,DMA-kanaler,Systeminformation
X-KDE-Keywords[de]=DMA,DMA-Kanäle,Systeminformation,Information
X-KDE-Keywords[el]=dma,Κανάλια DMA,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=DMA,kanaloj,sistemo,operaciumo,informo
X-KDE-Keywords[es]=DMA,Canales DMA,Información del sistema
X-KDE-Keywords[et]=dma,DMA-kanalid,süsteemi informatsioon
X-KDE-Keywords[eu]=dma,DMA-Kanalak,Sistemaren informazioa
X-KDE-Keywords[fa]=dma ،مجراهای دستیابی مستقیم به حافظه، اطلاعات سیستم
X-KDE-Keywords[fi]=dma,DMA-kanavat,Järjestelmätiedot
X-KDE-Keywords[fr]=dma,canaux DMA,informations système
X-KDE-Keywords[fy]=dma,DMA-channels,systeemynformaasje,DMA-kanalen
X-KDE-Keywords[ga]=dma,Cainéil-DMA,Eolas faoin Chóras
X-KDE-Keywords[gl]=dma,Canles de DMA,Canales DMA,Información do Sistema
X-KDE-Keywords[he]=ערוצי גישה ישירה לזיכרון,מידע מערכת,DMA,DMA-Channels,System Information
X-KDE-Keywords[hr]=dma,DMA-Channels,System Information,DMA kanali,podaci o sustavu
X-KDE-Keywords[hu]=DMA,DMA-csatornák,DMA-csatorna,rendszerinformáció
X-KDE-Keywords[is]=DMA-brautir,DMA-rásir
X-KDE-Keywords[it]=DMA,canali DMA,informazioni sul sistema
X-KDE-Keywords[ja]=dma,DMA-チャンネル,システムの情報
X-KDE-Keywords[ka]=dma,DMA-არხები,ინფორმაცია სისტემის შესახებ
X-KDE-Keywords[km]=dma ឆានែល DMA ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=dma,DMA-채널,채널,시스템 정보
X-KDE-Keywords[lt]=dma,DMA-Kanalai,Sistemos Informacija
X-KDE-Keywords[lv]=dma,DMA-Kanāli,Sistēmas Informācija
X-KDE-Keywords[mk]=dma,DMA-Channels,System Information,DMA канали,канали,Информации за системот
X-KDE-Keywords[nb]=dma,DMA-kanaler,Systeminformasjon
X-KDE-Keywords[nds]=dms,DMA-Kanaals,Systeeminformatschoon
X-KDE-Keywords[ne]=dma, DMA-च्यानल, प्रणाली सूचना
X-KDE-Keywords[nl]=dma,DMA-channels,systeeminformatie,DMA-kanalen
X-KDE-Keywords[nn]=dma,DMA-kanalar,systeminformasjon
X-KDE-Keywords[pa]=dma,DMA-Channels,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=dma,kanały DMA,informacja o systemie
X-KDE-Keywords[pt]=dma,canais dma,informações de sistema
X-KDE-Keywords[pt_BR]=DMA,canais DMA,canal DMA,informações de sistema
X-KDE-Keywords[ro]=dma,canale DMA,informaţii despre sistem
X-KDE-Keywords[se]=dma,DMA-kanálat,vuogádatdiehtu
X-KDE-Keywords[sl]=dma,kanali DMA,informacije o sistemu
X-KDE-Keywords[sr]=dma,DMA-Channels,System Information,ДМА,канали,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=dma,DMA-Channels,System Information,DMA,kanali,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=dma,DMA-kanaler,Systeminformation
X-KDE-Keywords[ta]=dma,DMA-வழிமுறைகள்,அமைப்பு தகவல்
X-KDE-Keywords[tg]=dma,Каналҳои-DMA,Иттилооти система
X-KDE-Keywords[th]=dma,ช่อง DMA,ข้อมูลระบบ
X-KDE-Keywords[tr]=dma,DMA-Kanalları,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=dma,канал ПДП, інформація,system-information,information
X-KDE-Keywords[uz]=dma,DMA каналлари,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=dma,Kênh DMA,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxdma,DMA-Channels,System Informationxx
X-KDE-Keywords[xh]=dma,DMA-Imijelo,Ulwazi Lwendlela yokusebenza
X-KDE-Keywords[zh_CN]=dma,DMA-Channels,System Information,DMA 通道,系统信息
X-KDE-Keywords[zh_TW]=dma,DMA-Channels,System Information,DMA通道,系統資訊

