[Desktop Entry]
Exec=kcmshell5 dma
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=dma
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#dma

Name=DMA-Channels

Comment=DMA information

X-KDE-Keywords=dma,DMA-Channels,System Information

