[Desktop Entry]
Exec=kcmshell5 interrupts
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=irq
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#interrupts

Name=Interrupts

Comment=Interrupt information

X-KDE-Keywords=Interrupts,IRQ,System Information

