[Desktop Entry]
Exec=kcmshell4 interrupts
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=irq
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#interrupts

Name=Interrupts
Name[af]=Interrupts
Name[ar]=المقاطعات
Name[as]=Interrupts
Name[ast]=Interrupciones
Name[be]=Перапыненні
Name[be@latin]=Pierarvańni
Name[bg]=Прекъсвания
Name[bn]=ইনটরাপ্ট
Name[bn_IN]=ইন্টারাপ্ট
Name[br]=Spanoù
Name[bs]=Prekidi
Name[ca]=Interrupcions
Name[ca@valencia]=Interrupcions
Name[cs]=Přerušení
Name[csb]=Przerwania
Name[cy]=Ymyriadau
Name[da]=Interrupts
Name[de]=Interrupts
Name[el]=Διακόπτες
Name[en_GB]=Interrupts
Name[eo]=Interrompoj
Name[es]=Interrupciones
Name[et]=Katkestused
Name[eu]=Etenaldiak
Name[fa]=وقفه‌ها
Name[fi]=Keskeytykset
Name[fr]=Interruptions
Name[fy]=Underbrekkings
Name[ga]=Idirbhristeacha
Name[gl]=Interrupcións
Name[gu]=ઇન્ટર્પસ
Name[he]=פסיקות
Name[hi]=इंटरप्ट्स
Name[hne]=इंटरप्ट्स
Name[hr]=Prekidi
Name[hsb]=Interrupty
Name[hu]=Megszakítások
Name[ia]=Interrupts
Name[id]=Interupsi
Name[is]=Ígrip
Name[it]=Interrupt
Name[ja]=割り込み
Name[ka]=წყვიტავს
Name[kk]=Үзілімдер
Name[km]=ផ្អាក​
Name[kn]=ಅಂತರಾಯಗಳು (ಇಂಟರಪ್ಟ್)
Name[ko]=인터럽트
Name[ku]=Qutkirin
Name[lt]=Pertrauktys
Name[lv]=Pārtraukumi
Name[mai]=इंटरप्ट्स
Name[mk]=Прекини
Name[ml]=ഇന്ററപ്റ്റുകള്‍
Name[mr]=इंटरप्ट्स
Name[ms]=Sampukan
Name[nb]=Avbruddslinjer
Name[nds]=Interrupts
Name[ne]=रोकावट
Name[nl]=Interrupts
Name[nn]=Avbrot
Name[or]=ବ୍ୟାହାତ
Name[pa]=ਇੰਟਰਰੱਪਟ
Name[pl]=Przerwania
Name[pt]=Interrupções
Name[pt_BR]=Interrupções
Name[ro]=Întreruperi
Name[ru]=Прерывания
Name[se]=Gaskkaldumit
Name[si]=අතුරුබිඳුම්
Name[sk]=Prerušenia
Name[sl]=Prekinitve
Name[sr]=Прекиди
Name[sr@ijekavian]=Прекиди
Name[sr@ijekavianlatin]=Prekidi
Name[sr@latin]=Prekidi
Name[sv]=Avbrott
Name[ta]=குறுக்கீடுகள்
Name[te]=ఇంటెరప్టులు
Name[tg]=Interrupts
Name[th]=อินเทอร์รัพต์
Name[tr]=Kesmeler
Name[ug]=ئۈزۈلۈشلەر
Name[uk]=Переривання
Name[uz]=Toʻxtalishlar
Name[uz@cyrillic]=Тўхталишлар
Name[vi]=Gián đoạn
Name[wa]=Boutoes
Name[xh]=Iziphazamiso
Name[x-test]=xxInterruptsxx
Name[zh_CN]=中断
Name[zh_TW]=中斷

Comment=Interrupt information
Comment[af]=Interrupt informasie
Comment[ar]=معلومات المقاطعات
Comment[as]=Interrupt তথ্য
Comment[ast]=Información sobre les interrupciones
Comment[be]=Звесткі пра перапыненні
Comment[be@latin]=Źviestki ab pierarvańniach
Comment[bg]=Информация за прекъсванията в системата
Comment[bn]=ইনটরাপ্ট তথ্য
Comment[bn_IN]=ইন্টারাপ্ট সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar spanoù
Comment[bs]=Podaci o prekidima
Comment[ca]=Informació de les interrupcions
Comment[ca@valencia]=Informació de les interrupcions
Comment[cs]=Informace o přerušeních
Comment[csb]=Wëdowiédzô ò przerwaniach
Comment[cy]=Gwybodaeth Ymyriadau
Comment[da]=Interrupt-information
Comment[de]=Informationen zu Interrupts
Comment[el]=Πληροφορίες για τους διακόπτες
Comment[en_GB]=Interrupt information
Comment[eo]=Informo pri interrompoj
Comment[es]=Información sobre las interrupciones
Comment[et]=Katkestuste info
Comment[eu]=Etenaldiei buruzko informazioa
Comment[fa]=اطلاعات وقفه
Comment[fi]=Keskeytystietoja
Comment[fr]=Informations sur les interruptions
Comment[fy]=Underbrekking ynformaasje
Comment[ga]=Eolas faoi idirbhristeacha
Comment[gl]=Información das interrupcións
Comment[gu]=ઇન્ટર્પ માહિતી
Comment[he]=מידע על פסיקות
Comment[hi]=इंटरप्ट जानकारी
Comment[hne]=इंटरप्ट जानकारी
Comment[hr]=Podaci o prekidima
Comment[hsb]=Informacija wo interruptach
Comment[hu]=A megszakítások jellemzői
Comment[ia]=Information de Interrupt
Comment[id]=Informasi Interupsi
Comment[is]=Upplýsingar um ígrip (IRQ)
Comment[it]=Informazioni sugli interrupt
Comment[ja]=割り込みの情報
Comment[ka]=ინფორმაცია შეწყვეტყის შესახებ
Comment[kk]=Үзілім мәліметі
Comment[km]=ព័ត៌មាន​ផ្អាក​
Comment[kn]=ಅಂತರಾಯಗಳ (ಇಂಟರಪ್ಟ್) ಮಾಹಿತಿ
Comment[ko]=인터럽트 정보
Comment[ku]=Agahiyên Qutkirinê
Comment[lt]=Pertraukčių informacija
Comment[lv]=Pārtraukumu informācija
Comment[mai]=इंटरप्ट सूचना
Comment[mk]=Информации за прекините
Comment[ml]=ഇന്ററപ്റ്റുകളെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=इंटरप्ट माहिती
Comment[ms]=Maklumat Sampukan
Comment[nb]=Avbruddslinjeinformasjon
Comment[nds]=Interruptinformatschoon
Comment[ne]=रोकावट सूचना
Comment[nl]=Interrupt-informatie
Comment[nn]=Avbrotsinformasjon
Comment[or]=ବ୍ୟାହାତ ସୂଚନା
Comment[pa]=ਇੰਟਰਰੱਪਟ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o przerwaniach
Comment[pt]=Informação das interrupções
Comment[pt_BR]=Informações sobre as interrupções
Comment[ro]=Informații despre întreruperi
Comment[ru]=Сведения о прерываниях
Comment[se]=Dieđut gaskkaldumiid birra
Comment[si]=අතුරුබිඳුම් තොරතුරු
Comment[sk]=Informácie o prerušeniach
Comment[sl]=Podatki o prekinitvah
Comment[sr]=Подаци о прекидима
Comment[sr@ijekavian]=Подаци о прекидима
Comment[sr@ijekavianlatin]=Podaci o prekidima
Comment[sr@latin]=Podaci o prekidima
Comment[sv]=Avbrottsinformation
Comment[ta]=குறுக்கீட்டுத தகவல்
Comment[te]=ఇంటెరప్ట్ సమాచారం
Comment[tg]=Иттилооти оиди қатъкунии система
Comment[th]=ข้อมูลอินเทอร์รัพต์
Comment[tr]=Kesmeler hakkında bilgi
Comment[ug]=ئۈزۈلۈش ئۇچۇرى
Comment[uk]=Інформація щодо переривань
Comment[uz]=Toʻxtalish haqida maʼlumot
Comment[uz@cyrillic]=Тўхталиш ҳақида маълумот
Comment[vi]=Thông tin về các gián đoạn
Comment[wa]=Informåcions so les djocaedjes
Comment[xh]=Phazamisa ulwazi
Comment[x-test]=xxInterrupt informationxx
Comment[zh_CN]=中断信息
Comment[zh_TW]=中斷資訊

X-KDE-Keywords=Interrupts,IRQ,System Information
X-KDE-Keywords[af]=Interrupts,IRQ,System Informasie
X-KDE-Keywords[be]=Перапыненні,сістэмная інфармацыя,Interrupts,IRQ,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, прекъсване, прекъсвания, програмни, Interrupts, IRQ, System Information
X-KDE-Keywords[br]=spanoù,IRQ,titouroù reizhiad
X-KDE-Keywords[ca]=Interrupcions, IRQ, informació del sistema
X-KDE-Keywords[cs]=Přerušení,IRQ,Informace o systému
X-KDE-Keywords[csb]=Przerwania,IRQ,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=Ymyriadau,IRQ,Gwybodaeth Cysawd
X-KDE-Keywords[da]=Interrupts,IRQ,Systeminformation
X-KDE-Keywords[de]=Interrupts,IRQ,Systeminformation
X-KDE-Keywords[el]=Διακοπές,IRQ,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=Interrompoj,IRQ,sistemo,informo,operaciumo
X-KDE-Keywords[es]=Interrupciones,IRQ,Información del sistema
X-KDE-Keywords[et]=Katkestused,IRQ,Süsteemi info
X-KDE-Keywords[eu]=Etenaldiak,IRQ,Sistemaren informazioa
X-KDE-Keywords[fa]=وقفه‌ها، IRQ، اطلاعات سیستم
X-KDE-Keywords[fi]=Keskeytykset,IRQ,Järjestelmätiedot
X-KDE-Keywords[fr]=interruptions,IRQ,informations système,irq
X-KDE-Keywords[fy]=Underbrekkings,IRQ,systeemynformaasje
X-KDE-Keywords[ga]=Idirbhristeacha,IRQ,Eolas faoin Chórais
X-KDE-Keywords[gl]=Interrupcións,IRQ,Información do Sistema
X-KDE-Keywords[he]=בקשת פסיקה,מידע מערכת,IRQ,פסיקה,Interrupts,IRQ,System Information
X-KDE-Keywords[hr]=Interrupts,IRQ,System Information,Presretanja,Podaci o sustavu
X-KDE-Keywords[hu]=megszakítások,IRQ,rendszerinformáció
X-KDE-Keywords[is]=rofbeiðni,ígrip,IRQ,Interrupt,kerfi,upplýsingar
X-KDE-Keywords[it]=interrupt,IRQ,informazioni sul sistema
X-KDE-Keywords[ja]=割り込み,IRQ,システムの情報
X-KDE-Keywords[ka]=წყვიტავს,IRQ,ინფორმაცია სისტემის შესახებ
X-KDE-Keywords[km]=ផ្អាក IRQ ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=인터럽트,IRQ,시스템 정보
X-KDE-Keywords[lt]=Pertrauktys,IRQ,Sistemos Informacija
X-KDE-Keywords[lv]=Pārtraukumi,IRQ,Sistēmas Informācija
X-KDE-Keywords[mk]=Interrupts,IRQ,System Information,Прекини,Информации за системот
X-KDE-Keywords[nb]=Avbrudd,IRQ,Systeminformasjon
X-KDE-Keywords[nds]=Interrupts,IRQ,Systeeminformatschoon
X-KDE-Keywords[ne]=रोकावट, आईआरक्यू, प्रणाली सूचना
X-KDE-Keywords[nl]=interrupts,IRQ,systeeminformatie
X-KDE-Keywords[nn]=avbrot,IRQ,systeminformasjon
X-KDE-Keywords[pa]=Interrupts,IRQ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ,ਰੁਕਾਵਟ
X-KDE-Keywords[pl]=Przerwania,IRQ,informacja o systemie
X-KDE-Keywords[pt]=interrupções,IRQ,informações sobre o sistema
X-KDE-Keywords[pt_BR]=Interrupções,IRQ,Informações do sistema
X-KDE-Keywords[ro]=întreruperi,IRQ,informaţii despre sistem
X-KDE-Keywords[se]=Gaskkaldumit,IRQ,vuogádatdieđut
X-KDE-Keywords[sl]=prekinitve,IRQ,sistemski podatki
X-KDE-Keywords[sr]=Interrupts,IRQ,System Information,прекиди,системске информације,системски подаци,ИРКу
X-KDE-Keywords[sr@latin]=Interrupts,IRQ,System Information,prekidi,sistemske informacije,sistemski podaci,IRQ
X-KDE-Keywords[sv]=Avbrott,IRQ,Systeminformation
X-KDE-Keywords[ta]=குறுக்கீடுகள்,IRQ, கணினித் தகவல்
X-KDE-Keywords[te]=ఇంటెరప్ట్, ఐ ఆర్ క్యు, వ్యవస్థ సమాచారం
X-KDE-Keywords[th]=อินเตอร์รัพต์,IRQ,ข้อมูลระบบ
X-KDE-Keywords[tr]=Kesmeler,IRQ,Sistem hakkında bilgi
X-KDE-Keywords[uk]=перепини,interrupts,irq,system-information
X-KDE-Keywords[uz]=Тўхталишлар,IRQ,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=Gián đoạn,IRQ,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxInterrupts,IRQ,System Informationxx
X-KDE-Keywords[xh]=Iziphazamiso,IRQ,Ulwazi lwendlela
X-KDE-Keywords[zh_CN]=Interrupts,IRQ,System Information,中断,系统信息
X-KDE-Keywords[zh_TW]=Interrupts,IRQ,System Information,中斷,系統資訊

