[Desktop Entry]
Exec=kcmshell5 ioports
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=ioports
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#ioports

Name=IO-Ports
Name[nl]=IO-Poorten
Name[uk]=Порти В/В
Name[x-test]=xxIO-Portsxx

Comment=IO-port information
Comment[nl]=IO-poortinformatie
Comment[uk]=Інформація щодо портів вводу/виводу
Comment[x-test]=xxIO-port informationxx

X-KDE-Keywords=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information
X-KDE-Keywords[nl]=IO,I/O,IO-Ports,I/O-Ports,poorten,IO-Range,I/O-Range,systeeminformatie
X-KDE-Keywords[uk]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,ввід,введення,вивід,виведення,порт,діапазон,система,інформація,відомості
X-KDE-Keywords[x-test]=xxIO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Informationxx

