[Desktop Entry]
Exec=kcmshell5 ioports
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=ioports
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#ioports

Name=IO-Ports

Comment=IO-port information

X-KDE-Keywords=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information

