[Desktop Entry]
Exec=kcmshell4 ioports
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=ioports
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#ioports

Name=IO-Ports
Name[af]=Io-poorte
Name[ar]=منافذ الإدخال والإخراج
Name[as]=IO-Ports
Name[ast]=Puertos d'E/S
Name[be]=Парты ўводу/вываду
Name[be@latin]=Porty dla pierasyłańnia źviestak
Name[bg]=Вх./Изх.
Name[bn]=IO-Ports
Name[bn_IN]=IO-পোর্ট
Name[br]=Porzhioù ED
Name[bs]=U/I portovi
Name[ca]=Ports E/S
Name[ca@valencia]=Ports E/S
Name[cs]=Vstupně/výstupní-porty
Name[csb]=Pòrtë wéńdzeniô/wińdzeniô
Name[cy]=Pyrth-IO
Name[da]=IO-porte
Name[de]=Ein-/Ausgabe-Ports
Name[el]=Θύρες εισόδου/εξόδου
Name[en_GB]=IO-Ports
Name[eo]=Eneligaj pordoj
Name[es]=Puertos de E/S
Name[et]=IO pordid
Name[eu]=IO-atakak
Name[fa]=درگاههای ورودی خروجی
Name[fi]=IO-portit
Name[fr]=Ports d'entrées / sorties
Name[fy]=IO-Poarten
Name[ga]=Poirt I/A
Name[gl]=Portos de E/S
Name[gu]=IO-પોર્ટસ
Name[he]=יציאות קלט־פלט
Name[hi]=आईओ-पोर्ट्
Name[hne]=आईओ-पोर्ट्
Name[hr]=IO portovi
Name[hsb]=IO-Ports
Name[hu]=IO-portok
Name[ia]=IO-Ports (Portos de I/E)
Name[id]=Pangkalan IO
Name[is]=Inn-/úttaksport
Name[it]=Porte di I/O
Name[ja]=I/O ポート
Name[ka]=IO–პორტები
Name[kk]=Енгізу-шығару порттары
Name[km]=ច្រក IO
Name[kn]=ಐಓ-ಸಂಪರ್ಕಕಿಂಡಿಗಳು (ಪೋರ್ಟ್)
Name[ko]=IO 포트
Name[ku]=Portên-IO
Name[lt]=ĮI-prievadai
Name[lv]=IO-porti
Name[mai]=आईओ-पोर्ट्
Name[mk]=В/И-порти
Name[ml]=ഐഒ-പോര്‍ട്ടുകള്‍
Name[mr]=IO-पोर्ट्
Name[ms]=Port IO
Name[nb]=IO-porter
Name[nds]=IO-Porten
Name[ne]=आगत/निर्गत-पोर्ट
Name[nl]=IO-Poorten
Name[nn]=IU-portar
Name[or]=IO-ସଂଯୋଗିକୀ
Name[pa]=IO-ਪੋਰਟ
Name[pl]=Porty wejścia/wyjścia
Name[pt]=Portos de E/S
Name[pt_BR]=Portas de E/S
Name[ro]=Porturi I/E
Name[ru]=Порты ввода/вывода
Name[se]=SO-verráhat
Name[si]=IO-පොර්ට්
Name[sk]=V/V porty
Name[sl]=V/I vrata
Name[sr]=У/И портови
Name[sr@ijekavian]=У/И портови
Name[sr@ijekavianlatin]=U/I portovi
Name[sr@latin]=U/I portovi
Name[sv]=I/O-portar
Name[ta]=IO-முனையங்கள்
Name[te]=ఐఓ-పోర్టులు
Name[tg]=IO-Ports
Name[th]=พอร์ตข้อมูลเข้า/ออก
Name[tr]=G/Ç Portları
Name[ug]=IO ئېغىزلار
Name[uk]=Порти В/В
Name[uz]=K/Ch portlar
Name[uz@cyrillic]=К/Ч портлар
Name[vi]=Cổng vào ra (VR)
Name[wa]=Pôrts I/R
Name[xh]=IO-Ufako
Name[x-test]=xxIO-Portsxx
Name[zh_CN]=IO 端口
Name[zh_TW]=IO-Ports

Comment=IO-port information
Comment[af]=Io-poort informasie
Comment[ar]=معلومات عن منافذ الإدخال والإخراج
Comment[as]=IO-port তথ্য
Comment[ast]=Información sobre los puertos d'E/S
Comment[be]=Звесткі пра парты уводу/вываду
Comment[be@latin]=Źviestki pra porty pierasyłańnia
Comment[bg]=Данни за входно-изходните портове
Comment[bn]=আই-ও পোর্ট সংক্রান্ত তথ্য
Comment[bn_IN]=IO-পোর্ট সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar porzhioù ED
Comment[bs]=Podaci o U/I portovima
Comment[ca]=Informació dels ports E/S
Comment[ca@valencia]=Informació dels ports E/S
Comment[cs]=Informace o vstupně/výstupních-portech
Comment[csb]=Wëdowiédzô ò pòrtach wéńdzeniô/wińdzeniô
Comment[cy]=Gwybodaeth Porth-IO
Comment[da]=IO-portinformation
Comment[de]=Informationen zu benutzten Ein-/Ausgabe-Ports
Comment[el]=Πληροφορίες για τις θύρες εισόδου/εξόδου
Comment[en_GB]=IO-port information
Comment[eo]=Informoj pri eneligaj pordoj
Comment[es]=Información sobre los puertos de E/S
Comment[et]=IO portide info
Comment[eu]=IO-atakei buruzko informazioa
Comment[fa]=اطلاعات درگاههای ورودی خروجی
Comment[fi]=IO-porttitiedot
Comment[fr]=Informations sur les ports d'entrées / sorties
Comment[fy]=IO-poarteynformaasje
Comment[ga]=Eolas faoi Phoirt I/A
Comment[gl]=Información dos portos de E/S
Comment[gu]=IO-પોર્ટ માહિતી
Comment[he]=מידע על יציאות הקלט־פלט
Comment[hi]=आईओ-पोर्ट् जानकारी
Comment[hne]=आईओ-पोर्ट् जानकारी
Comment[hr]=Podaci o IO portovima
Comment[hsb]=Informacija wo IO-portach
Comment[hu]=A ki- és bemeneti portok jellemzői
Comment[ia]=Information de porto de I/E (IO Port)
Comment[id]=Informasi pangkalan IO
Comment[is]=Upplýsingar um inn-/úttaksport
Comment[it]=Informazioni sulle porte di I/O
Comment[ja]=I/O ポートの情報
Comment[ka]=ინფორმაცია IO–პორტების შესახებ
Comment[kk]=Енгізу-шығару порттар мәліметі
Comment[km]=ព័ត៌មាន​ច្រក IO
Comment[kn]=ಐಓ-ಸಂಪರ್ಕಕಿಂಡಿಗಳ (ಪೋರ್ಟ್) ಮಾಹಿತಿ
Comment[ko]=IO-주소 정보
Comment[ku]=Agahiyên Portên-IO
Comment[lt]=ĮI-prievadai informacija
Comment[lv]=IO-portu informācija
Comment[mai]=आईओ-पोर्ट् सूचना
Comment[mk]=Информации за влезно/излезните порти
Comment[ml]=ഐഒ-പോര്‍ട്ടിന്റെ വിവരങ്ങള്‍
Comment[mr]=IO-पोर्ट् माहिती
Comment[ms]=Maklumat port IO
Comment[nb]=IO-portinformasjon
Comment[nds]=IO-Port-Informatschoon
Comment[ne]=आगत/निर्गत-पोर्ट सूचना
Comment[nl]=IO-poortinformatie
Comment[nn]=IU-port-informasjon
Comment[or]=IO-ସଂଯୋଗିକୀ ସୂଚନା
Comment[pa]=IO-ਪੋਰਟ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o portach wejścia/wyjścia
Comment[pt]=Informação sobre os portos de E/S
Comment[pt_BR]=Informações sobre as portas de E/S
Comment[ro]=Informații despre porturile I/E
Comment[ru]=Сведения о портах ввода/вывода
Comment[se]=SO-verráhatdieđut
Comment[si]=IO-පොර්ට් තොරතුරු
Comment[sk]=Informácie o V/V portoch
Comment[sl]=Podatki o vhodno/izhodnih vratih
Comment[sr]=Подаци о У/И портовима
Comment[sr@ijekavian]=Подаци о У/И портовима
Comment[sr@ijekavianlatin]=Podaci o U/I portovima
Comment[sr@latin]=Podaci o U/I portovima
Comment[sv]=Information om I/O-portar
Comment[ta]=IO-முனைய தகவல்
Comment[te]=ఐఓ-పోర్టుల సమాచారం
Comment[tg]=Иттилооти IO-port
Comment[th]=ข้อมูลพอร์ตข้อมูลเข้า/ออก
Comment[tr]=GÇ-portları bilgisi
Comment[ug]=IO ئېغىز ئۇچۇرى
Comment[uk]=Інформація щодо портів вводу/виводу
Comment[uz]=Kirish/chiqish portlar haqida maʼlumot
Comment[uz@cyrillic]=Кириш/чиқиш портлар ҳақида маълумот
Comment[vi]=Thông tin về cổng VR
Comment[wa]=Informåcion so les pôrts d' Intrêye/Rexhowe
Comment[xh]=IO-ulwazi lwezibuko
Comment[x-test]=xxIO-port informationxx
Comment[zh_CN]=IO 端口信息
Comment[zh_TW]=IO-Port 資訊

X-KDE-Keywords=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information
X-KDE-Keywords[af]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Informasie
X-KDE-Keywords[be]=Увод'вывад,парты ўводу/вываду,парты,сістэмная інфармацыя,IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, вход, входно, изход, изходно, порт, портове, IO, I/O, IO-Ports, I/O-Ports, Ports, IO-Range, I/O-Range, System Information
X-KDE-Keywords[br]=ED,E/D,porzhioù E/D,porzhioù,rummad ED,rummadE/D,titouroù ar reizhiad
X-KDE-Keywords[ca]=ES,E/S,Ports d'ES,Ports d'E/S,Ports,Rang d'ES,Rang d'E/S,Informació del sistema
X-KDE-Keywords[cs]=IO,I/O,IO-porty,I/O-porty,Porty,Rozsah IO,Rozsah I/O,Informace o systému
X-KDE-Keywords[csb]=IO,I/O,pòrtë IO,pòrtë I/O,portë,òbjim IO,òbjim I/O,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=IO,I/O,Pyrth-IO,Pyrth-I/O,Pyrth,Amrediad-IO,Amrediad-I/O,Gwybodaeth Cysawd
X-KDE-Keywords[da]=IO,I/O,IO-porte,I/O-Porte,Porte,IO-område,I/O-område,Systeminformation
X-KDE-Keywords[de]=Ein/Ausgabe,IO,I/O,IO-ports,I/O-Ports,Ports,IO-Bereich,I/O-Bereich,Systeminformation
X-KDE-Keywords[el]=ΕΕ,Ε/Ε,Θύρες ΕΕ,Θύρες Ε/Ε,Θύρες,Εύρος ΕΕ,Εύρος Ε/Ε,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=IO,I/O,en,el,eneligo,pordoj,sistemo,operaciumo,informo
X-KDE-Keywords[es]=ES,E/S,Puertos de ES,Puertos de E/S,Puertos,Intervalo de ES,Intervalo de E/S,Información del sistema
X-KDE-Keywords[et]=IO,I/O,IO pordid,I/O pordid,pordid,IO piirkond,I/O piirkond,Süsteemi info
X-KDE-Keywords[eu]=IO,I/O,IO-atakak,Atakak,IO-barrutia,I/O-barrutia,Sistemaren informazioa
X-KDE-Keywords[fa]=ورودی خروجی، ورودی/خروجی، درگاههای ورودی خروجی، درگاهها، گسترۀ ورودی خروجی، گسترۀ ورودی/خروجی، اطلاعات سیستم
X-KDE-Keywords[fi]=IO,I/O,IO-Portit,I/O-Portit,Portit,I/O-alue,Järjestelmätiedot
X-KDE-Keywords[fr]=io,i/o,entrées-sorties,ports,ports d'entrée-sortie,informations système,plage d'entrées-sorties
X-KDE-Keywords[fy]=IO,I/O,IO-Ports,I/O-Ports,ports,IO-Range,I/O-Range,systeemynformaasje,IO-poarten
X-KDE-Keywords[ga]=IA,I/A,Poirt IA,Poirt I/A,Poirt,Raon IA,Raon I/A,Eolas faoin Chórais
X-KDE-Keywords[gl]=IO,I/O,E/S,Portos IO,Portos E/S,Rango IO,Rango E/S,Información do Sistema
X-KDE-Keywords[he]=קלט־פלט,יציאות קלט־פלט,יציאות,טווח קלט־פלט,מידע,מערכת,IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information
X-KDE-Keywords[hr]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,IO portovi,IO raspon,Podaci o sustavu
X-KDE-Keywords[hu]=IO,I/O,IO-portok,I/O-portok,portok,IO-tartomány,I/O tartomány,rendszerinformáció
X-KDE-Keywords[is]=Inntak,úttak,I/O,Port,upplýsingar,kerfi
X-KDE-Keywords[it]=IO,I/O,porte di IO,porte di I/O,porte,intervallo di IO,intervallo di I/O,informazioni sul sistema
X-KDE-Keywords[ja]=IO,I/O,IO-ポート,I/O-ポート,ポート,IO-レンジ,I/O-レンジ,システムの情報
X-KDE-Keywords[km]=IO I/O ច្រក IO ច្រក I/O ច្រក ជួរ IO ជួរ I/O ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=IO,I/O,IO 포트,I/O 포트,IO 범위,I/O 범위,시스템 정보
X-KDE-Keywords[lt]=IO,I/O,IO-Ports,IO-portai,I/O-Ports,I/O-prievadai,Ports,prievadai,IO-Range,IO zona,I/O-Range,I/O zona,System Information,sisteminė informacija
X-KDE-Keywords[lv]=IO,I/O,IO-Porti,I/O-Porti,Porti,IO-Diapazons,I/O-Diapazons,Sistēmas Informācija
X-KDE-Keywords[mk]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,ВИ,В/И,ВИ-порти,В/И-порти,Порти,В/И-опсег,В/И-опсег,Информации за системот
X-KDE-Keywords[nb]=IO,I/O,IO-porter,I/O-porter,port,IO-område,I/O-område,IU,I/U,IU-porter,I/U-porter,port,IU-område,I/U-område,Systeminformasjon
X-KDE-Keywords[nds]=IO,I/O,IO-Porten,I/O-Porten,Porten,IO-Range,I/O-Range,IO-Rebeet,I/O-Rebeet,Systeeminformatschoon
X-KDE-Keywords[ne]=आगत/निर्गत, आगत/निर्गत, आगत/निर्गत-पोर्ट, आगत/निर्गत-पोर्ट, पोर्ट, आगत/निर्गत-दायरा, आगत/निर्गत दायरा, प्रणाली सूचना
X-KDE-Keywords[nl]=IO,I/O,IO-Ports,I/O-Ports,ports,IO-Range,I/O-Range,systeeminformatie,IO-poorten
X-KDE-Keywords[nn]=IU,I/U,IO,I/O,IU-portar,I/U-portar,portar,IU-område,I/U-område,systeminformasjon
X-KDE-Keywords[pa]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=IO,I/O,porty IO,porty I/O,porty,zakres IO,zakres I/O,informacja o systemie
X-KDE-Keywords[pt]=ES,E/S,portos E/S,portos,gama de E/S,informações de sistema
X-KDE-Keywords[pt_BR]=ES,E/S,Portas E/S,Portas de E/S,Portas,Faixa de E/S,Faixa de E/S,Informações de sistema
X-KDE-Keywords[ro]=I/E,IE,IO,I/O,porturi IO,porturi,domeniu IO,domeniu I/O,informaţii despre sistem
X-KDE-Keywords[se]=SO,S/O,IO,I/O,SO-verráhat,S/O-verráhat,verráhat,SO-gaska,S/O-gaska, vuogádatdiehtu
X-KDE-Keywords[sl]=VI,V/I,V/I-vrata,VI-vrata,vrata,VI-obseg,V/I-obseg,informacije o sistemu
X-KDE-Keywords[sr]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,У/И,У/И портови,У/Ипорт,системске информације,системски подаци,портови
X-KDE-Keywords[sr@latin]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,U/I,U/I portovi,U/Iport,sistemske informacije,sistemski podaci,portovi
X-KDE-Keywords[sv]=IO,I/O,IO-portar,I/O-portar,Ports,IO-område,I/O-område,Systeminformation
X-KDE-Keywords[ta]=IO,I/O,IO-முனையங்கள்,I/O-முனையங்கள்,முனையங்கள்,IO-நிலை,I/O-நிலை,அமைப்பு தகவல்
X-KDE-Keywords[th]=นำเข้านำออก,นำเข้า/นำออก,พอร์ตนำเข้านำออก,พอร์ตนำเข้า/นำออก,พอร์ต, แนวการนำเข้านำออก,แนวการนำเข้า/นำออก,ข้อมูลระบบ
X-KDE-Keywords[tr]=GÇ,G/Ç,GÇ Portları,G/Ç Portları, Portlar,GÇ-Aralığı,G/Ç-Aralığı,Sistem
X-KDE-Keywords[uk]=порти вводу/виводу,ВВ,в/в,порти,io,i/o,io-ports,i/p-ports,ports,system information
X-KDE-Keywords[uz]=К/Ч портлар,Портлар,К/Ч чегараси,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=VR,V/R,Cổng VR,Cổng V/R,Cổng,Phạm vị VR,Phạm vị V/R,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxIO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Informationxx
X-KDE-Keywords[xh]=IO,I/O,IO-Amazibuko,I/O-Amazibuko,Amazibuko,IO-Beka ngendlela,Ulwazi lwendlela
X-KDE-Keywords[zh_CN]=IO,I/O,IO-Ports,I/O-Ports,Ports,IO-Range,I/O-Range,System Information,IO 端口,I/O 端口,端口,IO 范围,I/O 范围,系统信息
X-KDE-Keywords[zh_TW]=IO,I/O,IO-Ports,Ports,IO-Range,I/O-Range,System Information,IO 範圍,I/O 範圍,系統資訊

