[Desktop Entry]
Exec=kcmshell4 processor
Icon=cpu
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/processor/index.html


X-KDE-Library=kcm_info
X-KDE-PluginKeyword=cpu
X-KDE-ParentApp=kinfocenter

Name=Processor

Comment=Processor information

X-KDE-Keywords=Processor,CPU,FPU,MHz,System Information
X-KDE-Keywords[af]=Processor,CPU,FPU,MHz,System Informasie
X-KDE-Keywords[be]=Працэсар,МГц,Сістэмная інфармацыя,Processor,CPU,FPU,MHz,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, процесор, Processor, CPU, FPU, MHz, System Information
X-KDE-Keywords[br]=Kewerier,UTK,UNS,MHz,titouroù reizhiad
X-KDE-Keywords[ca]=Processador,CPU,FPU,MHz,Informació del sistema
X-KDE-Keywords[cs]=Procesor,CPU,FPU,MHz,Informace o systému
X-KDE-Keywords[csb]=procesora,CPU,JAL,FPU,MHz,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=Prosesydd,CPU,FPU,MHz,Gwybodaeth Cysawd
X-KDE-Keywords[da]=Processor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[de]=Prozessor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[el]=Επεξεργαστής,ΚΜΕ,FPU,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=procezilo,CPU,FPU,MHz,frekvenco,sistemo,operaciumo,informo
X-KDE-Keywords[es]=Procesador,CPU,FPU,MHz,Información del sistema
X-KDE-Keywords[et]=Protsessor,CPU,FPU,MHz,Süsteemi info
X-KDE-Keywords[eu]=Prozesagailua,CPU,FPU,MHz,Sistemaren informazioa
X-KDE-Keywords[fa]=پردازنده، واحد پردازش مرکزی، FPU، مگاهرتز، اطلاعات سیستم
X-KDE-Keywords[fi]=Prosessori,CPU,FPU,MHz,Järjestelmätiedot
X-KDE-Keywords[fr]=processeur,CPU,FPU,MHz,informations système,cpu
X-KDE-Keywords[fy]=Processor,Ferwurkingsienheid,CPU,FPU,MHz,Systeemynformaasje
X-KDE-Keywords[ga]=Próiseálaí,CPU,LAP,FPU,MHz,Eolas faoin Chóras
X-KDE-Keywords[gl]=Procesador,CPU,FPU,MHz,Información do Sistema
X-KDE-Keywords[he]=FPU,מעבד,מעבד מתמטי,מגה־הרץ,מידע מערכת,System Information
X-KDE-Keywords[hr]=Processor,CPU,FPU,MHz,System Information,procesor,Podaci o sustavu
X-KDE-Keywords[hu]=processzor,CPU,FPU,MHz,rendszerinformáció
X-KDE-Keywords[is]=örgjörvi,örgjörfi,Gjörvi,kerfi,upplýsingar,CPU,MHz,FPUz
X-KDE-Keywords[it]=processore,CPU,FPU,MHz,informazioni sul sistema
X-KDE-Keywords[ja]=プロセッサ,CPU,FPU,MHz,システムの情報
X-KDE-Keywords[ka]=პროცესორი,CPU,FPU,MHz,ინფორმაცია სისტემის შესახებ
X-KDE-Keywords[km]=ប្រព័ន្ធ​ដំណើរការ ស៊ីភីយូ FPU MHz ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=Processor,프로세서,CPU,FPU,MHz,시스템 정보
X-KDE-Keywords[lt]=Procesorius,CPU,FPU,MHz,Sistemos Informacija
X-KDE-Keywords[lv]=Procesors,CPU,FPU,MHz,Sistēmas Informācija
X-KDE-Keywords[mk]=Processor,CPU,FPU,MHz,System Information,Процесор,Информации за системот
X-KDE-Keywords[ms]=Pemproses,CPU,FPU,MHz,Maklumat Sistem
X-KDE-Keywords[nb]=Prosessor,CPU,FPU,Sentralenhet,MHz,Systeminformasjon
X-KDE-Keywords[nds]=Perzesser,CPU,FPU,MHz,Systeeminformatschoon
X-KDE-Keywords[ne]=प्रोसेसर, सीपीयू, एफपीयू, एमएचजेट, प्रणाली सूचना
X-KDE-Keywords[nl]=processor,CPU,FPU,MHz,systeeminformatie
X-KDE-Keywords[nn]=prosessor,CPU,FPU,MHz,systeminformasjon
X-KDE-Keywords[pa]=ਪਰੋਸੈਸਰ,CPU,FPU,MHz,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=procesor,CPU,JAL,FPU,MHz,informacja o systemie
X-KDE-Keywords[pt]=processador,CPU,FPU,MHz,informações do sistema
X-KDE-Keywords[pt_BR]=Processador,CPU,FPU,MHz,Informações de sistema
X-KDE-Keywords[ro]=procesor,microprocesor,CPU,FPU,MHz,informaţii despre sistem
X-KDE-Keywords[se]=Doaimmár,CPU,FPU,MHz,vuogádatdieđut
X-KDE-Keywords[sl]=procesor,CPE,CPU,FPU,MHz,informacije o sistemu
X-KDE-Keywords[sr]=Processor,CPU,FPU,MHz,System Information,ЦПУ,ФПУ,процесор,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=Processor,CPU,FPU,MHz,System Information,CPU,FPU,procesor,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=Processor,CPU,FPU,MHz,Systeminformation
X-KDE-Keywords[ta]=செயலி,CPU,FPU,MHz,அமைப்புத் தகவல்
X-KDE-Keywords[th]=หน่วยประมวลผล,CPU,FPU,MHz,ข้อมูลระบบ
X-KDE-Keywords[tr]=İşlemci,MİB,FPU,MHz,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=процесор,CPU,FPU,МГц,системна інформація
X-KDE-Keywords[uz]=Процессор,CPU,FPU,МГц,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=Bộ vi xử lý,CPU,FPU,Mhz,Thông tin Hệ thống
X-KDE-Keywords[wa]=Processeu,CPU,FPU,MHz,Infôrmåcion sol sistinme
X-KDE-Keywords[x-test]=xxProcessor,CPU,FPU,MHz,System Informationxx
X-KDE-Keywords[xh]=Umqhubekekisi,CPU,FPU,MHz,Inkcukacha Yendlela yokusebenza
X-KDE-Keywords[zh_CN]=Processor,CPU,FPU,MHz,System Information,处理器,系统信息
X-KDE-Keywords[zh_TW]=Processor,CPU,FPU,MHz,System Information,處理器,中央處理器,浮點運算器,系統資訊
Categories=Qt;KDE;X-KDE-information;
