[Desktop Entry]
Exec=kcmshell4 scsi
Icon=kcmscsi
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/scsi/index.html

X-KDE-KInfoCenter-Category=Device Information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=scsi
X-KDE-ParentApp=kinfocenter

Name=SCSI
Name[cs]=SCSI
Name[en_GB]=SCSI
Name[es]=SCSI
Name[nb]=SCSI
Name[nn]=SCSI
Name[pt]=SCSI
Name[pt_BR]=SCSI
Name[sv]=SCSI
Name[uk]=SCSI
Name[x-test]=xxSCSIxx

Comment=SCSI information
Comment[en_GB]=SCSI information
Comment[es]=Información de SCSI
Comment[nb]=SCSI-informasjon
Comment[nn]=SCSI-informasjon
Comment[pt]=Informação sobre o SCSI
Comment[pt_BR]=Informações sobre SCSI
Comment[sv]=SCSI-information
Comment[uk]=Інформація щодо SCSI
Comment[x-test]=xxSCSI informationxx

X-KDE-Keywords=SCSI,SCSI-Bus,System Information
X-KDE-Keywords[af]=SCSI,SCSI-Bus,System Informasie
X-KDE-Keywords[be]=Шына SCSI,Сістэмная інфармацыя,SCSI,SCSI-Bus,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, шина, SCSI, SCSI-Bus, System Information
X-KDE-Keywords[br]=SCSI,bus SCSI,titouroù reizhiad
X-KDE-Keywords[ca]=SCSI,Bus SCSI,Informació del sistema
X-KDE-Keywords[cs]=SCSI,SCSI-sběrnice,Informace o systému
X-KDE-Keywords[csb]=SCSI,magistrala SCSI,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=SCSI,Bws-SCSI,Gwybodaeth Cysawd
X-KDE-Keywords[da]=SCSI,SCSI-bus,Systeminformation
X-KDE-Keywords[de]=SCSI,SCSI-Bus,Systeminformation
X-KDE-Keywords[el]=SCSI,Δίαυλος SCSI,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=SCSI,buso,sistemo,operaciumo,informo
X-KDE-Keywords[es]=SCSI,Bus SCSI,Información del sistema
X-KDE-Keywords[et]=SCSI,SCSI siin,Süsteemi info
X-KDE-Keywords[eu]=SCSI,SCSI busa,Sistemaren informazioa
X-KDE-Keywords[fa]=اسکازی، گذرگاه اسکازی، اطلاعات سیستم
X-KDE-Keywords[fi]=SCSI,SCSI-Väylä,Järjestelmätiedot
X-KDE-Keywords[fr]=SCSI,bus SCSI,informations système,scsi
X-KDE-Keywords[fy]=SCSI,SCSI-bus,systeemynformaasje
X-KDE-Keywords[ga]=SCSI,Bus SCSI,Eolas faoin Chóras
X-KDE-Keywords[gl]=SCSI,Bus SCSI,Información do Sistema
X-KDE-Keywords[he]=מידע מערכת,אפיק SCSI,SCSI,SCSI-Bus,System Information
X-KDE-Keywords[hr]=SCSI,SCSI-Bus,System Information,Podaci o sustavu,SCSI sabirnica
X-KDE-Keywords[hu]=SCSI,SCSI-busz,rendszerinformáció
X-KDE-Keywords[is]=SCSI-braut,kerfi,upplýsingar
X-KDE-Keywords[it]=SCSI,bus SCSI,informazioni sul sistema
X-KDE-Keywords[ja]=SCSI,SCSI-バス,システムの情報
X-KDE-Keywords[km]=SCSI​ ខ្សែ​បញ្ជូន SCSI ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=SCSI,SCSI 버스,시스템 정보
X-KDE-Keywords[lt]=SCSI,SCSI-Bus,Sistemos Informacija
X-KDE-Keywords[lv]=SCSI,SCSI-Šina,Sistēmas Informācija
X-KDE-Keywords[mk]=SCSI,SCSI-Bus,System Information,SCSI магистрала, SCSI собирница,Информации за системот,
X-KDE-Keywords[nb]=SCSI,SCSI-buss,Systeminformasjon
X-KDE-Keywords[nds]=SCSI,SCSI-Bus,Systeeminformatschoon
X-KDE-Keywords[ne]=एससीएसआई, एससीएसआई-बस, प्रणाली सूचना
X-KDE-Keywords[nl]=SCSI,SCSI-bus,systeeminformatie
X-KDE-Keywords[nn]=SCSI,SCSI-buss,systeminformasjon
X-KDE-Keywords[pa]=SCSI,SCSI-Bus,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=SCSI,magistrala SCSI,informacja o systemie
X-KDE-Keywords[pt]=SCSI,bus SCSI,informações do sistema
X-KDE-Keywords[pt_BR]=SCSI,Barramento SCSI,Informações de sistema
X-KDE-Keywords[ro]=SCSI,magistrala SCSI,bus SCSI,informaţii despre sistem
X-KDE-Keywords[se]=SCSI,SCSI-bussa,vuogádatdiehtu
X-KDE-Keywords[sl]=SCSI,vodilo SCSI,informacije o sistemu
X-KDE-Keywords[sr]=SCSI,SCSI-Bus,System Information,скази,скази магистрала,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=SCSI,SCSI-Bus,System Information,SCSI,SCSI magistrala,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=SCSI,SCSI-buss,Systeminformation
X-KDE-Keywords[ta]=SCSI,SCSI-பஸ்,அமைப்பு தகவல்
X-KDE-Keywords[th]=SCSI,บัส SCSI,ข้อมูลระบบ
X-KDE-Keywords[tr]=SCSI,SCSI-Bus,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=SCSI,шина SCSI,системна інформація
X-KDE-Keywords[uz]=SCSI,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=SCSI,SCSI-Bus,Thông tin Hệ thống
X-KDE-Keywords[wa]=SCSI,bus SCSI,Infôrmåcion sol sistinme
X-KDE-Keywords[x-test]=xxSCSI,SCSI-Bus,System Informationxx
X-KDE-Keywords[xh]=SCSI,SCSI-Ibhasi,Ulwazi lwendlela
X-KDE-Keywords[zh_CN]=SCSI,SCSI-Bus,System Information,SCSI 总线,系统信息
X-KDE-Keywords[zh_TW]=SCSI,SCSI-Bus,System Information,系統資訊
Categories=Qt;KDE;X-KDE-information;
