[Desktop Entry]
Exec=kcmshell5 scsi
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=scsi
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#scsi

Name=SCSI

Comment=SCSI information

X-KDE-Keywords=SCSI,SCSI-Bus,System Information
Categories=Qt;KDE;X-KDE-information;
