[Desktop Entry]
Exec=kcmshell5 scsi
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=scsi
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#scsi

Name=SCSI
Name[uk]=SCSI
Name[x-test]=xxSCSIxx

Comment=SCSI information
Comment[uk]=Інформація щодо SCSI
Comment[x-test]=xxSCSI informationxx

X-KDE-Keywords=SCSI,SCSI-Bus,System Information
X-KDE-Keywords[uk]=SCSI,SCSI-Bus,System Information,шина,канал,система
X-KDE-Keywords[x-test]=xxSCSI,SCSI-Bus,System Informationxx
Categories=Qt;KDE;X-KDE-information;
