[Desktop Entry]
Exec=kcmshell5 wayland
Icon=wayland
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=wayland
X-KDE-ParentApp=kinfocenter

Name=Wayland
Name[da]=Wayland
Name[de]=Wayland
Name[es]=Wayland
Name[fi]=Wayland
Name[hu]=Wayland
Name[ia]=Wayland
Name[ko]=Wayland
Name[nds]=Wayland
Name[nl]=Wayland
Name[pa]=ਵੇਲੈਂਡ
Name[pl]=Wayland
Name[pt]=Wayland
Name[pt_BR]=Wayland
Name[sk]=Wayland
Name[sr]=Вејланд
Name[sr@ijekavian]=Вејланд
Name[sr@ijekavianlatin]=Wayland
Name[sr@latin]=Wayland
Name[sv]=Wayland
Name[uk]=Wayland
Name[x-test]=xxWaylandxx
Name[zh_TW]=Wayland

Comment=Information about the Wayland Compositor
Comment[cs]=Informace o kompozitoru Wayland
Comment[da]=Information om Wayland Compositor
Comment[de]=Informationen über den Wayland-Compositor
Comment[es]=Información sobre el compositor Wayland
Comment[fi]=Tietoja Wayland-koostimesta
Comment[hu]=A Wayland kompozitor jellemzői
Comment[ia]=Information re le compositor de Wayland
Comment[ko]=Wayland 컴포지터 정보
Comment[nds]=Informatschonen över de Wayland-Tosamensetten
Comment[nl]=Informatie over de Wayland Compositor
Comment[pa]=ਵੇਲੈਂਡ ਕੰਪੋਸਿਟਰ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o kompozytorze Wayland
Comment[pt]=Informação sobre o compositor Wayland
Comment[pt_BR]=Informações sobre o Compositor do Wayland
Comment[sk]=Informácia o skladateľovi Wayland
Comment[sr]=Подаци о вејланд слагачу
Comment[sr@ijekavian]=Подаци о вејланд слагачу
Comment[sr@ijekavianlatin]=Podaci o Wayland slagaču
Comment[sr@latin]=Podaci o Wayland slagaču
Comment[sv]=Information om Wayland-sammansättning
Comment[uk]=Відомості щодо засобу композиції Wayland
Comment[x-test]=xxInformation about the Wayland Compositorxx
Comment[zh_TW]=關於 Wayland 的資訊

X-KDE-Keywords=Wayland,Compositor,Display,System Information
X-KDE-Keywords[da]=Wayland,Compositor,Display,System Information
X-KDE-Keywords[de]=Wayland,Compositor,Anzeige,Systeminformationen
X-KDE-Keywords[es]=Wayland,Compositor,Pantalla,Información del sistema
X-KDE-Keywords[fi]=Wayland,Compositor,Display,System Information,koostin,näyttö,järjestelmätiedot
X-KDE-Keywords[hu]=Wayland,Kompozitor,Kijelző,Rendszer-információ
X-KDE-Keywords[ia]=Wayland, Compositor, Monstrator, Information de systema
X-KDE-Keywords[ko]=Wayland,Compositor,Display,System Information,컴포지터,디스플레이,시스템 정보
X-KDE-Keywords[nds]=Wayland,Tosamensetten,Dorstellen,Systeem-Informatschonen
X-KDE-Keywords[nl]=Wayland,Compositor,Scherm,Systeeminformatie
X-KDE-Keywords[pa]=ਵੇਲੈਂਡ,ਕੰਪੋਸਿਟਰ,ਡਿਸਪਲੇਅ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=Wayland,Kompozytor,Wyświetlacz,Informacje systemowe
X-KDE-Keywords[pt]=Wayland,Compositor,Ecrã,Informação do Sistema
X-KDE-Keywords[pt_BR]=Wayland,Compositor,Tela,Informações do Sistema
X-KDE-Keywords[sk]=Wayland,skladateľ,obrazovka,systémové informácie
X-KDE-Keywords[sr]=Wayland,Compositor,Display,System Information,вејланд,слагач,приказ,системске информације
X-KDE-Keywords[sr@ijekavian]=Wayland,Compositor,Display,System Information,вејланд,слагач,приказ,системске информације
X-KDE-Keywords[sr@ijekavianlatin]=Wayland,Compositor,Display,System Information,Wayland,slagač,prikaz,sistemske informacije
X-KDE-Keywords[sr@latin]=Wayland,Compositor,Display,System Information,Wayland,slagač,prikaz,sistemske informacije
X-KDE-Keywords[sv]=Wayland,Sammansättning,Bildskärm,Systeminformation
X-KDE-Keywords[uk]=Wayland,Compositor,Display,System Information,композиція,засіб,дисплей,монітор,відомості щодо системи
X-KDE-Keywords[x-test]=xxWayland,Compositor,Display,System Informationxx
X-KDE-Keywords[zh_TW]=Wayland,Compositor,Display,System Information

Categories=Qt;KDE;X-KDE-information;
