[Desktop Entry]
Exec=kcmshell4 xserver
Icon=xorg
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=graphical_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=xserver
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#xserver

Name=X-Server

Comment=X-Server information

X-KDE-Keywords=X,X-Server,XServer,XFree86,Display,VideoCard,System Information
X-KDE-Keywords[be]=Сервер X,Дысплей,Відэакарта,Сістэмная інфармацыя,X,X-Server,XServer,XFree86,Display,VideoCard,System Information
X-KDE-Keywords[bg]=Keywords=екран, видеокарта, системна информация, сървър, X, X-Server, XServer, XFree86, Display, VideoCard, System Information
X-KDE-Keywords[br]=X,servijer X,XServer,XFree86,diskwel,kartenn video,titouroù reizhiad
X-KDE-Keywords[ca]=X,Servidor X,XServer,XFree86,Monitor,Targeta de video,Informació del sistema
X-KDE-Keywords[cs]=X,X-server,XServer,XFree86,Obrazovka,Informace o systému,Videokarta
X-KDE-Keywords[csb]=X,X serwer,Xserwer,XFree86,graficznô karta,grafika,wëdowiédzô ò systemie
X-KDE-Keywords[da]=X,X-server,Xserver,XFree86,Skærm,Videokort,Systeminformation
X-KDE-Keywords[el]=X,Εξυπηρετητής-X,XServer,XFree86,Οθόνη,Κάρτα Γραφικών, Πληροφορίες συστήματος
X-KDE-Keywords[eo]=X,X-servilo,XFree86,ekrano,fenestroj,sistemo,operaciumo,informo
X-KDE-Keywords[es]=X,X-Server,XServer,XFree86,Monitor,Tarjeta, Gráfica,Sistema,Información
X-KDE-Keywords[et]=X,X'i server,X Server,XFree86,Ekraan,Videokaart,Süsteemi info
X-KDE-Keywords[eu]=X,X-Server,XServer,XFree86,Display,VideoCard,sistema informazioa
X-KDE-Keywords[fa]=X، کارساز، X، XServer، XFree86، صفحه نمایش، کارت ویدیو، اطلاعات سیستم
X-KDE-Keywords[fr]=X,serveur X,XFree86,XServer,moniteur,affichage,informations système,xfree,carte vidéo,carte graphique
X-KDE-Keywords[fy]=X,X-Server,XServer,XFree86,display,systeemynformaasje,byldskerm,grafyske kaart
X-KDE-Keywords[ga]=X,Freastalaí-X,XFree86,Scáileán,Físchárta,Eolas faoin Chóras
X-KDE-Keywords[gl]=X,Servidor X,XServer,XFree86,Pantalla,Display,Información do Sistema
X-KDE-Keywords[he]=תצוגה,מידע מערכת,XFree86,שרת X,X, כרטיס מסך,X-Server,XServer,XFree86,Display,VideoCard, System Information, Xorg
X-KDE-Keywords[hr]=X,X-Server,XServer,XFree86,Display,VideoCard,System Information,X-poslužitelj,X poslužitelj,Zaslon,Video kartica,Grafička kartica,Podaci o sustavu
X-KDE-Keywords[hu]=X,X-kiszolgáló,XServer,XFree86,képernyő,videokártya,rendszerinformáció
X-KDE-Keywords[is]=X,X-Server,X-þjónn,XServer,Xþjónn,XFree86,Display,skjár, VideoCard,skjákort,System Information,kerfisupplýsingar
X-KDE-Keywords[it]=X,Server X,XServer,XFree86,display,schermo,informazioni sul sistema,SchedaVideo
X-KDE-Keywords[ja]=X,X-サーバ,Xサーバ,XFree86,ディスプレイ,システム情報
X-KDE-Keywords[ka]=X,X-სერვერი,Xსერვერი,XFree86,დსიპლეი, ვიდეოდაფა,ინფორმაცია სისტების შესახებ
X-KDE-Keywords[km]=X ម៉ាស៊ីន​បម្រើ X ម៉ាស៊ីន​បម្រើ X XFree86 ការ​បង្ហាញ កាត​វីដេអូ ព័័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=X,X 서버,XFree86,디스플레이,비디오 카드,시스템 정보
X-KDE-Keywords[lt]=X,X-Serveris,XServer,XFree86,Displėjus,Video plokštė,Sistemos informacija
X-KDE-Keywords[lv]=X,X-Serveris,XServeris,XFree86,Ekrāns,Sistēmas Informācija
X-KDE-Keywords[mk]=X,X-Server,XServer,XFree86,Display,VideoCard,System Information,X сервер,Екран,Видеокартичка,Информации за системот
X-KDE-Keywords[nb]=X,X-tjener,Xtjener,XFree86,skjerm,videokort,systeminformasjon
X-KDE-Keywords[nds]=X,X-Server,XServer,XFree86,Display,Dorstellen,Videokort,Systeeminformatschoon
X-KDE-Keywords[ne]=X, X-सर्भर, Xसर्भर, Xस्वतन्त्र 86, प्रदर्शन गर्नुहोस्, भिडियो कार्ड, प्रणाली सूचना
X-KDE-Keywords[nl]=X,X-Server,XServer,XFree86,display,systeeminformatie,beeldscherm,videokaart
X-KDE-Keywords[nn]=X,X-tenar,XServer,XFree86,skjerm,skjermkort,systeminformasjon
X-KDE-Keywords[pa]=X,X-Server,XServer,XFree86,ਦਰਿਸ਼,ਵੀਡਿਓ ਕਾਰਡ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=X,X serwer,Xserwer,XFree86,karta graficzna,grafika,informacja o systemie
X-KDE-Keywords[pt]=X,servidor X,XServer,XFree86,ecrã,placa de vídeo,informações de sistema
X-KDE-Keywords[pt_BR]=X,Servidor X,XFree,XFree86,Display,Tela,Placa de Vídeo,Informações do sistema
X-KDE-Keywords[ro]=X,server X,XServer,XFree86,ecran,afişare,placă video,informaţii despre sistem
X-KDE-Keywords[sl]=X,strežnik X,X-strežnik,XServer,XFree86,zaslon,grafična kartica,Podatki o sistemu,sistemske informacije
X-KDE-Keywords[sr]=X,X-Server,XServer,XFree86,XOrg,Display,VideoCard,System Information,Икс,Икс-сервер,Икс-фри86,Икс-орг,екран,видео картица,системске информације,системски подаци
X-KDE-Keywords[sr@latin]=X,X-Server,XServer,XFree86,XOrg,Display,VideoCard,System Information,X,X-server,XFree86,XOrg,ekran,video kartica,sistemske informacije,sistemski podaci
X-KDE-Keywords[sv]=X,X-server,Xserver,Xfree86,skärm,videokort,systeminformation
X-KDE-Keywords[ta]=X,X-சேவகன்,Xசேவகன்,XFree86, காட்சி,படக்காட்சிஅட்டை,அமைப்பு தகவல்
X-KDE-Keywords[th]=X,เซิร์ฟเวอร์ X,XServer,XFree86,จอแสดงผล,แผงวงจรวิดีโอ,ข้อมูลระบบ
X-KDE-Keywords[tr]=X,X-Server,XServer,X sunucu, X-sunucu,Xsunucu,XFree86,Görüntü,Video Kartı,Sistem Bilgisi
X-KDE-Keywords[uk]=X,X-Server,XServer,XFree86,Display,системна інформація,монітор,X сервер,відео карта
X-KDE-Keywords[uz]=X,X сервер,XFree86,xorg,X-Сервер,Дисплей,видео карта,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=X,Trình phục vụ X,XServer,XFree86,Màn hình,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxX,X-Server,XServer,XFree86,Display,VideoCard,System Informationxx
X-KDE-Keywords[zh_CN]=X,X-Server,XServer,XFree86,Display,VideoCard,System InformationX 服务器,显示器,显卡,系统信息
X-KDE-Keywords[zh_TW]=X,X-Server,XServer,XFree86,Display,VideoCard,System Information,X 伺服器,X伺服器,顯示器,顯示卡,系統資訊

Categories=Qt;KDE;X-KDE-information;
