[Desktop Entry]
Exec=kcmshell4 kcm_nicview
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=Network Information
X-KDE-Weight=1
X-KDE-Library=kcm_nicview
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[nb]=Nettverksgrensesnitt
Name[nn]=Nettverksgrensesnitt
Name[pt]=Interfaces de Rede
Name[sv]=Nätverksgränssnitt
Name[uk]=Мережеві інтерфейси
Name[x-test]=xxNetwork Interfacesxx

Comment=Network Interface Summary
Comment[pt]=Resumo da Interface de Rede
Comment[sv]=Översikt av nätverksgränssnitt
Comment[uk]=Резюме щодо інтерфейсів мережі
Comment[x-test]=xxNetwork Interface Summaryxx

X-KDE-Keywords=device,devices
X-DocPath=kinfocenter/devinfo/index.html
Categories=Qt;KDE;X-KDE-information;
