[Desktop Entry]
Exec=kcmshell4 kcm_nicview
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-System-Settings-Parent-Category=Network Information
X-KDE-Weight=1
X-KDE-Library=kcm_nicview
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[af]=Netwerk Koppelvlakke
Name[ar]=واجهات الشبكة
Name[as]=নে'টৱৰ্ক সংযোগমাধ্যম
Name[be]=Сеткавыя інтэрфейсы
Name[be@latin]=Sietkavyja interfejsy
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক ইন্টারফেস
Name[bn_IN]=নেটওয়ার্ক ইন্টারফেস
Name[br]=Etrefasoù Rouedad
Name[ca]=Interfícies de xarxa
Name[ca@valencia]=Interfícies de xarxa
Name[cs]=Síťová rozhraní
Name[csb]=Sécowé interfejsë
Name[cy]=Rhyngwynebau Rhwydwaith
Name[da]=Netværksgrænseflade
Name[de]=Netzwerkschnittstellen
Name[el]=Δικτυακές διασυνδέσεις
Name[en_GB]=Network Interfaces
Name[eo]=Retinterfacoj
Name[es]=Interfaces de red
Name[et]=Võrguliidesed
Name[eu]=Sare interfazeak
Name[fa]=واسطهای شبکه
Name[fi]=Verkkoliitynnät
Name[fr]=Interfaces réseau
Name[fy]=Netwurkynterfaces
Name[ga]=Comhéadain Líonra
Name[gl]=Interfaces de rede
Name[gu]=નેટવર્ક ઇન્ટરફેસ
Name[he]=ממשקי רשת
Name[hi]=नेटवर्क इंटरफेसेस
Name[hne]=नेटवर्क इंटरफेसेस
Name[hsb]=Syćowe interfejsy
Name[hu]=Hálózati kártyák
Name[id]=Antarmuka Jaringan
Name[it]=Interfacce di rete
Name[ka]=ქსელური ინტერფეისები
Name[kk]=Желі интерфейстері
Name[kn]=ಜಾಲ ಸಂಪರ್ಕತಟಗಳು (ಇಂಟರ್ಫೇಸ್)
Name[ko]=네트워크 인터페이스
Name[ku]=Navrûyên Torê
Name[lt]=Tinklo sąsajos
Name[lv]=Tīkla ierīces
Name[mai]=नेटवर्क इंटरफेसेस
Name[mk]=Мрежни интерфејси
Name[ml]=ശൃംഖലാ വിനിമയതലങ്ങള്‍
Name[mr]=संजाळ संवादपट
Name[ms]=Antara Muka Rangkaian
Name[nds]=Nettwark-Koppelsteden
Name[ne]=सञ्जाल इन्टरफेस
Name[nl]=Netwerkinterfaces
Name[or]=ନେଟୱର୍କ ଅନ୍ତରାପୃଷ୍ଠ
Name[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ
Name[pl]=Interfejsy sieciowe
Name[ro]=Interfețe de rețea
Name[ru]=Сетевые интерфейсы
Name[si]=ජාල මුහුණත
Name[sl]=Omrežni vmesniki
Name[sv]=Nätverksgränssnitt
Name[ta]=பிணைய இடைமுகப்புகள்
Name[te]=నెట్వర్క్ ఇంటర్ ఫెస్
Name[tg]=Воситаҳои шабака
Name[th]=แผงวงจรเครือข่าย
Name[tr]=Ağ Arayüzleri
Name[uk]=Мережеві інтерфейси
Name[uz]=Tarmoq interfeyslari
Name[uz@cyrillic]=Тармоқ интерфейслари
Name[vi]=Giao diện Mạng
Name[wa]=Eterfaces rantoele
Name[xh]=Ujongano Lomsebenzi womnatha
Name[zh_CN]=网络接口
Name[zh_TW]=網路界面

Comment=Network Interface Summary

X-KDE-Keywords=device,devices
X-DocPath=kinfocenter/devinfo/index.html
Categories=Qt;KDE;X-KDE-information;
