[Desktop Entry]
Exec=kcmshell4 kcm_nicview
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=Network Information
X-KDE-Weight=1
X-KDE-Library=kcm_nicview
X-KDE-ParentApp=kinfocenter

Name=Network Interfaces
Name[nb]=Nettverksgrensesnitt
Name[nn]=Nettverksgrensesnitt
Name[pt]=Interfaces de Rede
Name[pt_BR]=Interfaces de rede
Name[sv]=Nätverksgränssnitt
Name[uk]=Мережеві інтерфейси

Comment=Network Interface Summary
Comment[nb]=Nettverksgrensesnitt
Comment[nn]=Nettverksgrensesnitt
Comment[pt]=Resumo das Interfaces de Rede
Comment[pt_BR]=Resumo das interfaces de rede
Comment[sv]=Översikt av nätverksgränssnitt
Comment[uk]=Резюме щодо інтерфейсів мережі

X-KDE-Keywords=device,devices
Categories=Qt;KDE;X-KDE-information;
