[Desktop Entry]
Exec=kcmshell4 kcm_infosummary
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-Library=kcm_infosummary
X-KDE-ParentApp=kinfocenter

Name=Summary
Name[es]=Resumen
Name[nb]=Sammendrag
Name[nn]=Samandrag
Name[pt]=Resumo
Name[sv]=Översikt
Name[uk]=Резюме
Name[x-test]=xxSummaryxx

Comment=Hardware Information Summary
Comment[es]=Resumen de la información de hardware
Comment[pt]=Resumo da Informação de 'Hardware'
Comment[sv]=Översikt av hårdvaruinformation
Comment[uk]=Резюме відомостей щодо обладнання
Comment[x-test]=xxHardware Information Summaryxx

X-KDE-Keywords=device,devices
X-DocPath=kinfocenter/devinfo/index.html
Categories=Qt;KDE;X-KDE-information;
