[Desktop Entry]
Exec=kcmshell5 kcm_infosummary
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-Library=kcm_infosummary
X-KDE-ParentApp=kinfocenter

Name=Summary
Name[uk]=Резюме
Name[x-test]=xxSummaryxx

Comment=Hardware Information Summary
Comment[uk]=Резюме відомостей щодо обладнання
Comment[x-test]=xxHardware Information Summaryxx

X-KDE-Keywords=device,devices
X-KDE-Keywords[uk]=пристрій,пристрої
X-KDE-Keywords[x-test]=xxdevice,devicesxx
X-DocPath=kinfocenter/index.html#kcm_infosummary
Categories=Qt;KDE;X-KDE-information;
