[Desktop Entry]
Exec=kcmshell4 kcm_infosummary
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-Library=kcm_infosummary
X-KDE-ParentApp=kinfocenter

Name=Summary
Name[ca]=Resum
Name[ca@valencia]=Resum
Name[cs]=Shrnutí
Name[da]=Oversigt
Name[de]=Übersicht
Name[en_GB]=Summary
Name[eo]=Resumo
Name[es]=Resumen
Name[et]=Kokkuvõte
Name[fr]=Résumé
Name[ga]=Achoimre
Name[gu]=સારાંશ
Name[hr]=Sažetak
Name[ia]=Summario
Name[id]=Kesimpulan
Name[is]=Samantekt
Name[it]=Riepilogo
Name[ja]=概要
Name[kk]=Қортынды
Name[km]=សេចក្ដី​សង្ខេប
Name[kn]=ಸಾರಾಂಶ
Name[lt]=Santrauka
Name[nb]=Sammendrag
Name[nds]=Översicht
Name[nl]=Samenvatting
Name[pa]=ਸੰਖੇਪ
Name[pt]=Resumo
Name[pt_BR]=Resumo
Name[sk]=Súhrn
Name[sv]=Översikt
Name[th]=สรุป
Name[uk]=Резюме
Name[x-test]=xxSummaryxx
Name[zh_CN]=汇总
Name[zh_TW]=摘要

Comment=Hardware Information Summary
Comment[ca]=Resum de la informació del maquinari
Comment[ca@valencia]=Resum de la informació del maquinari
Comment[cs]=Souhrn informací o hardwaru
Comment[da]=Oversigt over hardwareinformation
Comment[de]=Übersicht über Hardwareinformationen
Comment[en_GB]=Hardware Information Summary
Comment[es]=Resumen de la información del hardware
Comment[et]=Riistvarateabe kokkuvõte
Comment[fr]=Résumé sur les informations du matériel
Comment[gu]=હાર્ડવેર જાણકારી સારાંશ
Comment[ia]=Summario de information de hardware
Comment[id]=Kesimpulan Informasi Peranti Keras
Comment[is]=Samantekt vélbúnaðarupplýsinga
Comment[it]=Riepilogo delle informazioni sull'hardware
Comment[ja]=ハードウェア情報概要
Comment[kk]=Жабдық мәліметінің қортындысы
Comment[km]=សេចក្ដី​សង្ខេប​អំពី​ព័ត៌មាន​ផ្នែក​រឹង
Comment[kn]=ಸಂಕ್ಷಿಪ್ತ ಯಂತ್ರಾಂಶ ಮಾಹಿತಿ
Comment[lt]=Aparatinės įrangos informacijos santrauka
Comment[nb]=Sammendrag av maskinvareinformasjon
Comment[nds]=Översicht över de Reedschap-Informatschonen
Comment[nl]=Hardware-informatie samenvatting
Comment[pa]=ਹਾਰਡਵੇਅਰ ਜਾਨਾਕਰੀ ਸੰਖੇਪ
Comment[pt]=Resumo de Informação do 'Hardware'
Comment[pt_BR]=Resumo de informações do hardware
Comment[sv]=Översikt av hårdvaruinformation
Comment[tg]=Сахтафзор
Comment[th]=ข้อมูลสรุปของฮาร์ดแวร์
Comment[uk]=Резюме відомостей щодо обладнання
Comment[x-test]=xxHardware Information Summaryxx
Comment[zh_CN]=硬件信息汇总
Comment[zh_TW]=硬體資訊摘要

X-KDE-Keywords=device,devices
X-DocPath=kinfocenter/index.html#kcm_infosummary
Categories=Qt;KDE;X-KDE-information;
