[Desktop Entry]
Type=Service
Icon=help-about
Exec=kcmshell4 about-distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration
X-KDE-ParentApp=kcontrol
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=kcm-about-distro
X-KDE-Keywords=information,distribution,distro,system,kernel,qt,kde
X-KDE-Keywords[da]=Information,distribution,distro,system,kerne,qt,kde
X-KDE-Keywords[de]=Information,Distribution,Distro,System,Kernel,Qt,KDE
X-KDE-Keywords[fi]=tietoja,tietoa,tiedot,jakelu,distribuutio,distro,järjestelmä,ydin,käyttöjärjestelmäydin,qt,kde,information,distribution,system,kernel
X-KDE-Keywords[fr]=information, distribution, distribution, system, kernel, qt, kde
X-KDE-Keywords[hu]=információk,disztribúció,disztró,rendszer,kernel,qt,kde
X-KDE-Keywords[nl]=informatie,distributie,distro,systeem,kernel,qt,kde
X-KDE-Keywords[pt]=informação,distribuição,sistema,'kernel',qt,kde
X-KDE-Keywords[pt_BR]=informações,distribuição,sistema,kernel,qt,kde
X-KDE-Keywords[sk]=informácia,distribúcia,distro,systém,jadro,qt,kde
X-KDE-Keywords[sl]=podrobnosti,podatki,distribucija,sistem,jedro,kernel,qt,kde
X-KDE-Keywords[sv]=information,distribution,distro,system,kärna,qt,kde
X-KDE-Keywords[uk]=information,distribution,distro,system,kernel,qt,kde,інформація,дистрибутив,дистро,система,ядро,процесор,комп’ютер,інфо
X-KDE-Keywords[x-test]=xxinformation,distribution,distro,system,kernel,qt,kdexx
Categories=Qt;KDE;X-KDE-settings-system-administration;X-KDE-information;

Name=About System
Name[cs]=O systému
Name[da]=Om systemet
Name[de]=Über das System
Name[fi]=Tietoja järjestelmästä
Name[fr]=A propos du système
Name[hu]=A rendszer névjegye
Name[nl]=Over systeem
Name[pt]=Acerca do Sistema
Name[pt_BR]=Sobre o sistema
Name[sk]=O systéme
Name[sl]=O sistemu
Name[sv]=Om systemet
Name[uk]=Про систему
Name[x-test]=xxAbout Systemxx
Comment=Information About This System
Comment[da]=Information om dette system
Comment[de]=Informationen über diese System
Comment[fi]=Tietoja tästä järjestelmästä
Comment[fr]=Informations à propos de ce système
Comment[hu]=Információk erről a rendszerről
Comment[nl]=Informatie over dit systeem
Comment[pt]=Informação Acerca deste Sistema
Comment[pt_BR]=Informações sobre este sistema
Comment[sk]=Informácia o tomto systéme
Comment[sl]=Podrobnosti o tem sistemu
Comment[sv]=Information om det här systemet
Comment[uk]=Інформація щодо цієї системи
Comment[x-test]=xxInformation About This Systemxx
