[Desktop Entry]
Type=Service
Icon=help-about
Exec=kcmshell4 about-distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=about-distro
X-KDE-Keywords=
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=About System
Comment=
