# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
[Desktop Entry]
Name=NIC
Name[ca]=NIC
Name[en_GB]=NIC
Name[es]=NIC
Name[nl]=NIC
Name[pt]=NIC
Name[sv]=NIC
Name[x-test]=xxNICxx
Type=Service
Icon=network-card
Keywords=
X-KDE-ParentApp=
X-KDE-ServiceTypes=KPackage/GenericQML
X-KDE-FormFactors=desktop,tablet,handset
X-KDE-PluginInfo-Author=Carl Schwan
X-KDE-PluginInfo-Email=carl@carlschwan.eu
X-KDE-PluginInfo-Name=kcm_nic
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=GPL
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript
