[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kinfocenter about_distro

X-KDE-Library=kcm_about_distro
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=kcm-info
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-KInfoCenter-Category=basic_information
X-KDE-Weight=0
Name=Information
Name[az]=Məlumat
Name[ca]=Informació
Name[ca@valencia]=Informació
Name[cs]=Informace
Name[de]=Informationen
Name[en_GB]=Information
Name[es]=Información
Name[et]=Teave
Name[eu]=Informazioa
Name[fi]=Tiedot
Name[fr]=Informations
Name[gl]=Información
Name[ia]=Information
Name[it]=Informazioni
Name[ko]=정보
Name[lt]=Informacija
Name[nl]=Informatie
Name[nn]=Informasjon
Name[pa]=ਜਾਣਕਾਰੀ
Name[pl]=Informacje
Name[pt]=Informação
Name[pt_BR]=Informações
Name[ru]=Сведения
Name[sk]=Informácie
Name[sl]=Informacije
Name[sv]=Information
Name[uk]=Інформація
Name[x-test]=xxInformationxx
Name[zh_CN]=信息
Name[zh_TW]=資訊
Comment=Software Versions
Comment[az]=Proqram Təminatı Mərkəzinin Versiyası
Comment[ca]=Versions de programari
Comment[ca@valencia]=Versions de programari
Comment[cs]=Verze softwaru
Comment[de]=Software-Versionen
Comment[en_GB]=Software Versions
Comment[es]=Versiones de software
Comment[et]=Tarkvaraversioonid
Comment[eu]=Softwarearen bertsioak
Comment[fi]=Ohjelmaversiot
Comment[fr]=Versions des logiciels
Comment[gl]=Versións de software
Comment[it]=Versioni software
Comment[ko]=소프트웨어 버전
Comment[lt]=Programinės įrangos versijos
Comment[nl]=Softwareversies
Comment[nn]=Programversjonar
Comment[pa]=ਸਾਫਟਵੇਅਰ ਵਰਜ਼ਨ
Comment[pl]=Wersje oprogramowania
Comment[pt]=Versões do 'Software'
Comment[pt_BR]=Versões do software
Comment[ru]=Версии приложений
Comment[sk]=Verzie softvéru
Comment[sl]=Verzije programja
Comment[sv]=Programvaruversioner
Comment[uk]=Версії програмного забезпечення
Comment[x-test]=xxSoftware Versionsxx
Comment[zh_CN]=软件版本
Comment[zh_TW]=軟體版本
X-KDE-Keywords=info, distro, system
X-KDE-Keywords[az]=info, distro, system,məlumat,distribütor,sistem
X-KDE-Keywords[ca]=informació, distribució, sistema
X-KDE-Keywords[ca@valencia]=informació, distribució, sistema
X-KDE-Keywords[cs]=informace, distribuce, systém
X-KDE-Keywords[en_GB]=info, distro, system
X-KDE-Keywords[es]=información, distro, sistema
X-KDE-Keywords[et]=teave, info, süsteem
X-KDE-Keywords[eu]=informazioa, banaketa, sistema
X-KDE-Keywords[fi]=tietoa, jakelu, järjestelmä
X-KDE-Keywords[fr]=info, distrib, système
X-KDE-Keywords[gl]=info, información, distro, distribución, sistema
X-KDE-Keywords[it]=informazioni, distribuzione, sistema
X-KDE-Keywords[ko]=info, distro, system, 정보, 배포판, 시스템
X-KDE-Keywords[lt]=informacija, platinamasis paketas, platinimas, distribucija, sistema, distributyvas
X-KDE-Keywords[nl]=informatie, distributie, systeem
X-KDE-Keywords[nn]=info, distro, distribusjon, system
X-KDE-Keywords[pa]=ਜਾਣਕਾਰੀ, ਡਿਸਟਰੋ, ਸਿਸਟਮ
X-KDE-Keywords[pl]=info, distro, system
X-KDE-Keywords[pt]=informação, distribuição, sistema
X-KDE-Keywords[pt_BR]=informação, info, distro, distribuição, sistema
X-KDE-Keywords[ru]=info,distro,system,информация,дистрибутив,сведения,система
X-KDE-Keywords[sk]=info, distro, systém
X-KDE-Keywords[sl]=info, distro, system,sistem
X-KDE-Keywords[sv]=information, distribution, system
X-KDE-Keywords[uk]=info, distro, system, інфо, відомості, дистрибутив, система
X-KDE-Keywords[x-test]=xxinfoxx,xx distroxx,xx systemxx
X-KDE-Keywords[zh_CN]=信息，发行版，系统
X-KDE-Keywords[zh_TW]=info, distro, system, 資訊, 發行版, 系統, 信息
Categories=Qt;KDE;X-KDE-settings-system;
