[Desktop Entry]
Exec=kcmshell5 kcm_energyinfo
Icon=preferences-system-power-management
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_energyinfo
X-KDE-ParentApp=kinfocenter

Name=Energy Information
Name[ca]=Informació d'energia
Name[cs]=Informace o energii
Name[es]=Información sobre energía
Name[fi]=Energiatiedot
Name[gl]=Información da enerxía
Name[hu]=Energiakezelési jellemzők
Name[nl]=Energie-informatie
Name[pt]=Informação de Energia
Name[pt_BR]=Informações de energia
Name[ru]=Энергопотребление
Name[sk]=Informácie o energii
Name[sl]=Podatki o energiji
Name[sr]=Подаци о енергији
Name[sr@ijekavian]=Подаци о енергији
Name[sr@ijekavianlatin]=Podaci o energiji
Name[sr@latin]=Podaci o energiji
Name[sv]=Information om energi
Name[uk]=Інформація щодо енергоспоживання
Name[x-test]=xxEnergy Informationxx
Name[zh_CN]=能源信息
Comment=Energy Consumption Statistics
Comment[ca]=Estadístiques de consum d'energia
Comment[es]=Estadísticas de consumo de energía
Comment[fi]=Energiankulutuksen tilastot
Comment[gl]=Estatísticas de consumo enerxético
Comment[hu]=Energiafogyasztási statisztikák
Comment[nl]=Statistiek over energiegebruik
Comment[pt]=Estatísticas do Consumo de Energia
Comment[pt_BR]=Estatística do consumo de energia
Comment[ru]=Статистика энергопотребления
Comment[sk]=Štatistiky o spotrebe energie
Comment[sl]=Statistika porabe energije
Comment[sr]=Статистика потрошње енергије
Comment[sr@ijekavian]=Статистика потрошње енергије
Comment[sr@ijekavianlatin]=Statistika potrošnje energije
Comment[sr@latin]=Statistika potrošnje energije
Comment[sv]=Statistik över energiförbrukning
Comment[uk]=Статистика споживання електроенергії
Comment[x-test]=xxEnergy Consumption Statisticsxx
Comment[zh_CN]=能源消耗统计

X-KDE-Keywords=Battery,Energy,Statistics,History,Power
X-KDE-Keywords[ca]=Bateria,Energia,Estadístiques,Historial,Potència
X-KDE-Keywords[es]=Batería,Energía,Estadísticas,Historial,Consumo
X-KDE-Keywords[fi]=Battery,Energy,Statistics,History,Power,Akku,Energia,Tilastot,Historia,Virta
X-KDE-Keywords[gl]=batería,enerxía,estatísticas,historia,corrente
X-KDE-Keywords[hu]=Telep,Energia,Statisztika,Előzmény,Energiakezelés
X-KDE-Keywords[nl]=Batterij,Statistiek,Geschiedenis,Energie
X-KDE-Keywords[pt]=Bateria,Energia,Estatísticas,Histórico,Potência
X-KDE-Keywords[pt_BR]=Bateria,Energia,Estatística,Histórico,Potência
X-KDE-Keywords[ru]=Battery,Energy,Statistics,History,Power,батарея,аккумулятор,статистика,энергия,энергопотребление,электропитание,история,журнал,питание
X-KDE-Keywords[sk]=Batéria,Energia,Štatistika,História,Napájanie
X-KDE-Keywords[sl]=baterija,energija,statistika,zgodovina,moč,poraba
X-KDE-Keywords[sr]=Battery,Energy,Statistics,History,Power,батерија,енергија,статистика,историјат,напајање
X-KDE-Keywords[sr@ijekavian]=Battery,Energy,Statistics,History,Power,батерија,енергија,статистика,историјат,напајање
X-KDE-Keywords[sr@ijekavianlatin]=Battery,Energy,Statistics,History,Power,baterija,energija,statistika,istorijat,napajanje
X-KDE-Keywords[sr@latin]=Battery,Energy,Statistics,History,Power,baterija,energija,statistika,istorijat,napajanje
X-KDE-Keywords[sv]=Batteri,Energi,Statistik,historik,Effekt
X-KDE-Keywords[uk]=Battery,Energy,Statistics,History,Power,акумулятор,енергія,статистика,журнал,живлення,споживання,енергоспоживання
X-KDE-Keywords[x-test]=xxBatteryxx,xxEnergyxx,xxStatisticsxx,xxHistoryxx,xxPowerxx
X-KDE-Keywords[zh_CN]=Battery,Energy,Statistics,History,Power,电池,能源,统计,历史,电源
X-KDE-Weight=2

Categories=Qt;KDE;X-KDE-information;
