[Desktop Entry]
Exec=kcmshell4 kcm_partition
Icon=drive-harddisk
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kinfocenter/partitions/index.html

X-KDE-Library=kcm_partition
X-KDE-ParentApp=kinfocenter

Name=Partitions
Name[af]=Partisies
Name[ar]=أقسام القرص الصلب
Name[as]=বিভাজন
Name[be]=Дыскавыя раздзелы
Name[be@latin]=Partycyi
Name[bg]=Дялове
Name[bn]=পার্টিশন
Name[bn_IN]=পার্টিশন
Name[br]=Parzhadurioù
Name[ca]=Particions
Name[ca@valencia]=Particions
Name[cs]=Oddíly disků
Name[csb]=Particëje
Name[cy]=Rhaniadau
Name[da]=Partitioner
Name[de]=Partitionen
Name[el]=Κατατμήσεις
Name[en_GB]=Partitions
Name[eo]=Subdiskoj
Name[es]=Particiones
Name[et]=Partitsioonid
Name[eu]=Zatiketak
Name[fa]=افرازها
Name[fi]=Osiot
Name[fr]=Partitions
Name[fy]=Partities
Name[ga]=Deighiltí
Name[gl]=Particións
Name[gu]=પાર્ટિશનો
Name[he]=מחיצות
Name[hi]=पार्टीशन्स
Name[hne]=पार्टीसन्स
Name[hr]=Particije
Name[hsb]=Particije
Name[hu]=Partíciók
Name[id]=Partisi
Name[is]=Disksneiðar
Name[it]=Partizioni
Name[ja]=パーティション
Name[ka]=განაყოფები
Name[kk]=Бөлімдері
Name[km]=ភាគ​ថាស​
Name[kn]=ವಿಭಾಗಗಳು (ಪಾರ್ಟಿಶನ್)
Name[ko]=파티션
Name[ku]=Partîsiyon
Name[lt]=Skirsniai
Name[lv]=Partīcijas
Name[mai]=पार्टीशन्स
Name[mk]=Партиции
Name[ml]=ഡിസ്ക് ഭാഗങ്ങള്‍
Name[mr]=पार्टीशन
Name[ms]=Petak
Name[nb]=Partisjoner
Name[nds]=Partitschonen
Name[ne]=विभाजन
Name[nl]=Partities
Name[nn]=Partisjonar
Name[oc]=Particions
Name[or]=ବିଭାଜନଗୁଡ଼ିକ
Name[pa]=ਪਾਰਟੀਸ਼ਨ
Name[pl]=Partycje
Name[pt]=Partições
Name[pt_BR]=Partições
Name[ro]=Partiții
Name[ru]=Разделы
Name[se]=Partišuvnnat
Name[si]=තැටි කොටස්
Name[sk]=Diskové oddiely
Name[sl]=Razdelki
Name[sr]=Партиције
Name[sr@ijekavian]=Партиције
Name[sr@ijekavianlatin]=Particije
Name[sr@latin]=Particije
Name[sv]=Partitioner
Name[ta]=பகிர்வுகள்
Name[te]=విభజనలు
Name[tg]=Қисмҳои диски компютерӣ
Name[th]=พาร์ทิชัน
Name[tr]=Disk Bölümleri
Name[uk]=Розділи диска
Name[uz]=Diskning qismlari
Name[uz@cyrillic]=Дискнинг қисмлари
Name[vi]=Phân vùng
Name[wa]=Pårticions
Name[xh]=Ulwahlulo ngokwamaqhekeza
Name[x-test]=xxPartitionsxx
Name[zh_CN]=分区
Name[zh_TW]=磁碟分割區

Comment=Partition information
Comment[af]=Partisie informasie
Comment[ar]=معلومات أقسام القرص الصلب
Comment[as]=বিভাজনৰ তথ্য
Comment[be]=Звесткі пра раздзелы
Comment[be@latin]=Źviestki pra partycyi
Comment[bg]=Информация за дяловете и дисковете
Comment[bn]=পার্টিশন সংক্রান্ত তথ্য
Comment[bn_IN]=পার্টিশন সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar parzhadur
Comment[ca]=Informació de particions
Comment[ca@valencia]=Informació de particions
Comment[cs]=Informace o oddílech disků
Comment[csb]=Wëdowiédzô ò particëjach
Comment[cy]=Gwybodaeth rhaniad
Comment[da]=Information om partitionerne
Comment[de]=Informationen zur Partitionierung
Comment[el]=Πληροφορίες για τις κατατμήσεις
Comment[en_GB]=Partition information
Comment[eo]=Informoj pri subdiskoj
Comment[es]=Información sobre las particiones
Comment[et]=Partitsioonide info
Comment[eu]=Zatiketei buruzko informazioa
Comment[fa]=اطلاعات افرازها
Comment[fi]=Osiotiedot
Comment[fr]=Informations sur les partitions
Comment[fy]=Partitie-ynformaasje
Comment[ga]=Faisnéis deighiltí
Comment[gl]=Información das particións
Comment[gu]=પાર્ટિશનો માહિતી
Comment[he]=מידע על מחיצות
Comment[hi]=पार्टीशन जानकारी
Comment[hne]=पार्टीसन जानकारी
Comment[hr]=Podaci o particijama
Comment[hsb]=Informacije wo particijach
Comment[hu]=A partíciók adatai
Comment[id]=Informasi Partisi
Comment[is]=Upplýsingar um skipulag disksneiða
Comment[it]=Informazioni sulle partizioni
Comment[ja]=パーティションの情報
Comment[ka]=ცნობები გამოყენებული რესურსების შესახებ
Comment[kk]=Диск бөлімдер мәліметі
Comment[km]=ព័ត៌មាន​ភាគថាស​
Comment[kn]=ವಿಭಾಗಗಳ (ಪಾರ್ಟಿಶನ್) ಮಾಹಿತಿ
Comment[ko]=파티션 정보
Comment[ku]=Agahiya partîsiyonan
Comment[lt]=Skirsnių informacija
Comment[lv]=Partīciju informācija
Comment[mai]=पार्टीशन सूचना
Comment[mk]=Информации за партициите
Comment[ml]=ഡിസ്ക് ഭാഗങ്ങളെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=पार्टीशन माहिती
Comment[ms]=Maklumat petak
Comment[nb]=Partisjoninformasjon
Comment[nds]=Informatschoon över de Partitschonen
Comment[ne]=विभाजन सूचना
Comment[nl]=Partitie-informatie
Comment[nn]=Partisjonsinformasjon
Comment[or]=ବିଭାଜନ ସୂଚନା
Comment[pa]=ਪਾਰਟੀਸ਼ਨ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o partycjach dyskowych
Comment[pt]=Informação sobre as partições
Comment[pt_BR]=Informações sobre partições
Comment[ro]=Informații despre partiții
Comment[ru]=Сведения о использовании разделов
Comment[se]=Partišuvdnadiehtu
Comment[si]=තැටි කොටස් තොරතුරු
Comment[sk]=Informácie o diskových oddieloch
Comment[sl]=Podatki o razdelkih
Comment[sr]=Подаци о партицијама
Comment[sr@ijekavian]=Подаци о партицијама
Comment[sr@ijekavianlatin]=Podaci o particijama
Comment[sr@latin]=Podaci o particijama
Comment[sv]=Partitionsinformation
Comment[ta]=பகிர்வு தகவல்
Comment[te]=విభజనల సమాచారం
Comment[tg]=Иттилооти қисмҳои диски компютерӣ
Comment[th]=ข้อมูลพาร์ทิชัน
Comment[tr]=Bölümleme hakkında bilgi
Comment[uk]=Інформація щодо розділів диска
Comment[uz]=Diskning qismlari haqida maʼlumot
Comment[uz@cyrillic]=Дискнинг қисмлари ҳақида маълумот
Comment[vi]=Thông tin về phân vùng
Comment[wa]=Infôrmåcion sol pårtixhaedje del deure plake
Comment[xh]=Ulwazi lowahlulelwano ngokwamaqhekeza
Comment[x-test]=xxPartition informationxx
Comment[zh_CN]=分区信息
Comment[zh_TW]=磁碟分割區資訊

X-KDE-Keywords=Partitions,Harddrive,HD,System Information
X-KDE-Keywords[af]=Partitions,Harddrive,HD,System Informasie
X-KDE-Keywords[be]=Раздзелы,Жорсткі дыск,Сістэмная інфармацыя,Partitions,Harddrive,HD,System Information
X-KDE-Keywords[bg]=Keywords=информация, система, системна, дял, дялове, диск, твърд, хард, Partitions, Harddrive, HD, System Information
X-KDE-Keywords[br]=Parzhadur,pladenn galet,HD,titouroù reizhiad
X-KDE-Keywords[ca]=Particions,disc dur,HD,Informació del sistema
X-KDE-Keywords[cs]=Oddíly disku,Pevný disk,HD,Informace o systému
X-KDE-Keywords[csb]=particëje,cwiardi disk,HD,wëdowiédzô ò systemie
X-KDE-Keywords[cy]=Rhaniadau,Disg Caled,DC,Gwybodaeth Cysawd
X-KDE-Keywords[da]=Partitioner,Harddisk,HD,Systeminformation
X-KDE-Keywords[de]=Partitionen,Festplatten,Laufwerke,HD,Systeminformation
X-KDE-Keywords[el]=Κατατμήσεις,Σκληρός Δίσκος,HD,Πληροφορίες συστήματος
X-KDE-Keywords[eo]=subdisko,disko,sistemo,operaciumo,informo
X-KDE-Keywords[es]=Particiones,Disco duro,Información del sistema
X-KDE-Keywords[et]=Partitsioonid,kõvaketas,HD,Süsteemi info
X-KDE-Keywords[eu]=Zatiketak,Disko gogorra,HD,Sistemaren informazioa
X-KDE-Keywords[fa]=افرازها، گردانندۀ سخت ،HD ،اطلاعات سیستم
X-KDE-Keywords[fi]=Osiot,Kiintolevy,HD,Järjestelmätiedot
X-KDE-Keywords[fr]=partitions,disque dur,HD,DD,informations système
X-KDE-Keywords[fy]=partities,Hardrive, HD,systeemynformaasje,fêste skiif
X-KDE-Keywords[ga]=Deighiltí,Tiomántán Crua,HD,Eolas faoin Chóras
X-KDE-Keywords[gl]=Particións,Disco duro,HD,Información do Sistema
X-KDE-Keywords[he]=מחיצות,כונן קשיח,מידע מערכת, Partitions,Harddrive,HD,System Information
X-KDE-Keywords[hr]=Partitions,Harddrive,HD,System Information,Particije,hard disk,Podaci o sustavu,Tvrdi disk
X-KDE-Keywords[hu]=partíciók,merevlemez,HD,rendszerinformáció
X-KDE-Keywords[is]=Sneiðar,Disksneiðar,Harðir diskar,Harður diskur,kerfi,upplýsingar
X-KDE-Keywords[it]=partizioni,disco rigido,hard disk,HD,informazioni sul sistema
X-KDE-Keywords[ja]=パーティション,ハードドライブ,HD,システムの情報
X-KDE-Keywords[km]=ភាគថាស ដ្រាយរឹង HD ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=파티션,하드 디스크,하드디스크,시스템 정보Partitions,Harddrive,HD,System Information,파티션,분할 영역,하드 디스크,하드 드라이브,시스템 정보,하드,나눠진 공간
X-KDE-Keywords[lt]=Skirsniai,Kietasis diskas,HD,Sistemos Informacija
X-KDE-Keywords[lv]=Partīcijas,CietaisDisks,HD,Sistēmas Informācija
X-KDE-Keywords[mk]=Partitions,Harddrive,HD,System Information,Партиции,Тврд диск,Информации за системот
X-KDE-Keywords[nb]=Partisjoner,Platelager,Harddisk,HD,Systeminformasjon
X-KDE-Keywords[nds]=Partitschonen,Fastplaat,HD,Systeeminformatschoon
X-KDE-Keywords[ne]=विभाजन, हार्ड ड्राइभ,HD, प्रणाली सूचना
X-KDE-Keywords[nl]=partities,harddrive,HD,systeeminformatie,harde schijf
X-KDE-Keywords[nn]=partisjonar,harddisk,HD,systeminformasjon
X-KDE-Keywords[pa]=Partitions,Harddrive,HD,ਸਿਸਟਮ ਜਾਣਕਾਰੀ,ਭਾਗ,ਹਾਰਡ ਡਿਸਕ
X-KDE-Keywords[pl]=partycje,twardy dysk,HD,informacja o systemie
X-KDE-Keywords[pt]=partições,disco rígido,HD,informações do sistema
X-KDE-Keywords[pt_BR]=Partições,Disco Rígido,Informações de sistema
X-KDE-Keywords[ro]=partiţii,harddisk,hard-disk,HD,hdd,informaţii despre sistem
X-KDE-Keywords[se]=partišuvnnat,garraskearru,HD,vuogádatdieđut
X-KDE-Keywords[sl]=particije,trdi disk,HD,informacije o sistemu
X-KDE-Keywords[sr]=Partitions,Harddrive,HD,System Information,партиције,хард диск,системске информације,системски подаци,хд
X-KDE-Keywords[sr@latin]=Partitions,Harddrive,HD,System Information,particije,hard disk,sistemske informacije,sistemski podaci,hd
X-KDE-Keywords[sv]=Partitioner,Hårddisk,HD,Systeminformation
X-KDE-Keywords[ta]=பகுதிகள், வன் சாதனம்,எச்டி,அமைப்பு தகவல்
X-KDE-Keywords[th]=พาร์ติชัน,ฮาร์ดไดรฟ์,HD,ข้อมูลระบบ
X-KDE-Keywords[tr]=Bölümleme,Sabitdisk,HD,Sistem Hakkında Bilgi
X-KDE-Keywords[uk]=розділи диску,жорсткий диск,HD,системна інформація
X-KDE-Keywords[uz]=Дискнинг қисмлари,қаттиқ диск,HD,Тизим ҳақида маълумот
X-KDE-Keywords[vi]=Phân vùng,Ổ cứng,HD,Thông tin Hệ thống
X-KDE-Keywords[wa]=Pårticions,pårtixhaedje,deure plake,Infôrmåcions sol sistinme
X-KDE-Keywords[x-test]=xxPartitions,Harddrive,HD,System Informationxx
X-KDE-Keywords[xh]=Ulwahlulelwano ngokwamaqhekeza,Harddrive,HD,Ulwazi lwendlela yokusebenza
X-KDE-Keywords[zh_CN]=Partitions,Harddrive,HD,System Information,分区,硬盘,系统信息
X-KDE-Keywords[zh_TW]=Partitions,Harddrive,HD,System Information,磁碟分割區,硬式磁碟機,硬碟,系統資訊

Categories=Qt;KDE;X-KDE-information;
